/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package net.chatpanel.sdk.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import net.chatpanel.sdk.models.A2AResult
import net.chatpanel.sdk.models.A2ASendRequest
import net.chatpanel.sdk.models.A2aAgents200Response
import net.chatpanel.sdk.models.A2aCard200Response
import net.chatpanel.sdk.models.A2aCardRequest
import net.chatpanel.sdk.models.A2aTaskRequest
import net.chatpanel.sdk.models.ErrorResponse

import com.squareup.moshi.Json

import net.chatpanel.sdk.infrastructure.ApiClient
import net.chatpanel.sdk.infrastructure.ApiResponse
import net.chatpanel.sdk.infrastructure.ClientException
import net.chatpanel.sdk.infrastructure.ClientError
import net.chatpanel.sdk.infrastructure.ServerException
import net.chatpanel.sdk.infrastructure.ServerError
import net.chatpanel.sdk.infrastructure.MultiValueMap
import net.chatpanel.sdk.infrastructure.PartConfig
import net.chatpanel.sdk.infrastructure.RequestConfig
import net.chatpanel.sdk.infrastructure.RequestMethod
import net.chatpanel.sdk.infrastructure.ResponseType
import net.chatpanel.sdk.infrastructure.Success
import net.chatpanel.sdk.infrastructure.toMultiValue

open class A2aApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.BASE_URL_KEY, "http://127.0.0.1:4320")
        }
    }

    /**
     * GET /a2a/agents
     * Every remote agent this gateway has spoken to.
     * What the audit lists — an agent a person connected is a host this machine talks to.
     * @return A2aAgents200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun a2aAgents() : A2aAgents200Response {
        val localVarResponse = a2aAgentsWithHttpInfo()

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as A2aAgents200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /a2a/agents
     * Every remote agent this gateway has spoken to.
     * What the audit lists — an agent a person connected is a host this machine talks to.
     * @return ApiResponse<A2aAgents200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun a2aAgentsWithHttpInfo() : ApiResponse<A2aAgents200Response?> {
        val localVariableConfig = a2aAgentsRequestConfig()

        return request<Unit, A2aAgents200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation a2aAgents
     *
     * @return RequestConfig
     */
    fun a2aAgentsRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/a2a/agents",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /a2a/card
     * Fetch a remote agent&#39;s card, revalidating the one already held.
     * The gateway is the only component allowed to reach a remote agent: every outbound host goes through its SSRF guard, and a card names the endpoints this machine will then talk to. Cached per §8.6 — an ETag is revalidated with &#x60;If-None-Match&#x60;, so &#x60;fresh: false&#x60; means the peer answered 304 and the card is unchanged. Plain HTTP is refused for a remote host; loopback is not.
     * @param a2aCardRequest 
     * @return A2aCard200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun a2aCard(a2aCardRequest: A2aCardRequest) : A2aCard200Response {
        val localVarResponse = a2aCardWithHttpInfo(a2aCardRequest = a2aCardRequest)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as A2aCard200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /a2a/card
     * Fetch a remote agent&#39;s card, revalidating the one already held.
     * The gateway is the only component allowed to reach a remote agent: every outbound host goes through its SSRF guard, and a card names the endpoints this machine will then talk to. Cached per §8.6 — an ETag is revalidated with &#x60;If-None-Match&#x60;, so &#x60;fresh: false&#x60; means the peer answered 304 and the card is unchanged. Plain HTTP is refused for a remote host; loopback is not.
     * @param a2aCardRequest 
     * @return ApiResponse<A2aCard200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun a2aCardWithHttpInfo(a2aCardRequest: A2aCardRequest) : ApiResponse<A2aCard200Response?> {
        val localVariableConfig = a2aCardRequestConfig(a2aCardRequest = a2aCardRequest)

        return request<A2aCardRequest, A2aCard200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation a2aCard
     *
     * @param a2aCardRequest 
     * @return RequestConfig
     */
    fun a2aCardRequestConfig(a2aCardRequest: A2aCardRequest) : RequestConfig<A2aCardRequest> {
        val localVariableBody = a2aCardRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/a2a/card",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /a2a/message
     * Send a message to a remote agent and wait for the answer.
     * The reply is a TASK or a MESSAGE — an agent that can answer at once returns a message and no task is ever created, so &#x60;kind&#x60; says which. &#x60;text&#x60; and &#x60;needs&#x60; are derived here rather than by each caller: &#x60;needs&#x60; is &#x60;answer&#x60; for an input stop and &#x60;approval&#x60; for an authorization one, and telling a caller to send a message when approval is wanted is how a task sits forever with both ends waiting.
     * @param a2ASendRequest 
     * @return A2AResult
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun a2aMessage(a2ASendRequest: A2ASendRequest) : A2AResult {
        val localVarResponse = a2aMessageWithHttpInfo(a2ASendRequest = a2ASendRequest)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as A2AResult
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /a2a/message
     * Send a message to a remote agent and wait for the answer.
     * The reply is a TASK or a MESSAGE — an agent that can answer at once returns a message and no task is ever created, so &#x60;kind&#x60; says which. &#x60;text&#x60; and &#x60;needs&#x60; are derived here rather than by each caller: &#x60;needs&#x60; is &#x60;answer&#x60; for an input stop and &#x60;approval&#x60; for an authorization one, and telling a caller to send a message when approval is wanted is how a task sits forever with both ends waiting.
     * @param a2ASendRequest 
     * @return ApiResponse<A2AResult?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun a2aMessageWithHttpInfo(a2ASendRequest: A2ASendRequest) : ApiResponse<A2AResult?> {
        val localVariableConfig = a2aMessageRequestConfig(a2ASendRequest = a2ASendRequest)

        return request<A2ASendRequest, A2AResult>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation a2aMessage
     *
     * @param a2ASendRequest 
     * @return RequestConfig
     */
    fun a2aMessageRequestConfig(a2ASendRequest: A2ASendRequest) : RequestConfig<A2ASendRequest> {
        val localVariableBody = a2ASendRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/a2a/message",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /a2a/message/stream
     * Send a message and stream the answer as it is produced.
     * Server-sent events, one per protocol frame — &#x60;task&#x60;, &#x60;status&#x60;, &#x60;artifact&#x60;, &#x60;message&#x60;, then &#x60;done&#x60; with the final result (or &#x60;error&#x60;). Each event carries the task as it stands, so a chunked artifact arrives whole rather than as fragments the caller must reassemble. Requires the agent to advertise &#x60;capabilities.streaming&#x60;.
     * @param a2ASendRequest 
     * @return kotlin.String
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun a2aStream(a2ASendRequest: A2ASendRequest) : kotlin.String {
        val localVarResponse = a2aStreamWithHttpInfo(a2ASendRequest = a2ASendRequest)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.String
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /a2a/message/stream
     * Send a message and stream the answer as it is produced.
     * Server-sent events, one per protocol frame — &#x60;task&#x60;, &#x60;status&#x60;, &#x60;artifact&#x60;, &#x60;message&#x60;, then &#x60;done&#x60; with the final result (or &#x60;error&#x60;). Each event carries the task as it stands, so a chunked artifact arrives whole rather than as fragments the caller must reassemble. Requires the agent to advertise &#x60;capabilities.streaming&#x60;.
     * @param a2ASendRequest 
     * @return ApiResponse<kotlin.String?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun a2aStreamWithHttpInfo(a2ASendRequest: A2ASendRequest) : ApiResponse<kotlin.String?> {
        val localVariableConfig = a2aStreamRequestConfig(a2ASendRequest = a2ASendRequest)

        return request<A2ASendRequest, kotlin.String>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation a2aStream
     *
     * @param a2ASendRequest 
     * @return RequestConfig
     */
    fun a2aStreamRequestConfig(a2ASendRequest: A2ASendRequest) : RequestConfig<A2ASendRequest> {
        val localVariableBody = a2ASendRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/a2a/message/stream",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /a2a/task
     * Poll or cancel a task on a remote agent.
     * 
     * @param a2aTaskRequest 
     * @return A2AResult
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun a2aTask(a2aTaskRequest: A2aTaskRequest) : A2AResult {
        val localVarResponse = a2aTaskWithHttpInfo(a2aTaskRequest = a2aTaskRequest)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as A2AResult
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /a2a/task
     * Poll or cancel a task on a remote agent.
     * 
     * @param a2aTaskRequest 
     * @return ApiResponse<A2AResult?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun a2aTaskWithHttpInfo(a2aTaskRequest: A2aTaskRequest) : ApiResponse<A2AResult?> {
        val localVariableConfig = a2aTaskRequestConfig(a2aTaskRequest = a2aTaskRequest)

        return request<A2aTaskRequest, A2AResult>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation a2aTask
     *
     * @param a2aTaskRequest 
     * @return RequestConfig
     */
    fun a2aTaskRequestConfig(a2aTaskRequest: A2aTaskRequest) : RequestConfig<A2aTaskRequest> {
        val localVariableBody = a2aTaskRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/a2a/task",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
