/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package net.chatpanel.sdk.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import net.chatpanel.sdk.models.AudioSpeechRequest
import net.chatpanel.sdk.models.ErrorResponse
import net.chatpanel.sdk.models.Transcription

import com.squareup.moshi.Json

import net.chatpanel.sdk.infrastructure.ApiClient
import net.chatpanel.sdk.infrastructure.ApiResponse
import net.chatpanel.sdk.infrastructure.ClientException
import net.chatpanel.sdk.infrastructure.ClientError
import net.chatpanel.sdk.infrastructure.ServerException
import net.chatpanel.sdk.infrastructure.ServerError
import net.chatpanel.sdk.infrastructure.MultiValueMap
import net.chatpanel.sdk.infrastructure.PartConfig
import net.chatpanel.sdk.infrastructure.RequestConfig
import net.chatpanel.sdk.infrastructure.RequestMethod
import net.chatpanel.sdk.infrastructure.ResponseType
import net.chatpanel.sdk.infrastructure.Success
import net.chatpanel.sdk.infrastructure.toMultiValue

open class AudioApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.BASE_URL_KEY, "http://127.0.0.1:4320")
        }
    }

    /**
     * POST /v1/audio/speech
     * Text to speech (OpenAI-compatible) — a WAV back.
     * &#x60;{ input, voice?, speed?, response_format? }&#x60; → &#x60;audio/wav&#x60;, from the gateway&#39;s own voice (Kokoro / VITS in-process) or the provider its table names (an ElevenLabs or OpenAI voice — then the text leaves the machine, and the audit says so). Not redacted: synthesis is for the person who wrote the text. &#x60;/tts&#x60; is the same handler with &#x60;text&#x60;. 
     * @param audioSpeechRequest 
     * @return java.io.File
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun audioSpeech(audioSpeechRequest: AudioSpeechRequest) : java.io.File {
        val localVarResponse = audioSpeechWithHttpInfo(audioSpeechRequest = audioSpeechRequest)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as java.io.File
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/audio/speech
     * Text to speech (OpenAI-compatible) — a WAV back.
     * &#x60;{ input, voice?, speed?, response_format? }&#x60; → &#x60;audio/wav&#x60;, from the gateway&#39;s own voice (Kokoro / VITS in-process) or the provider its table names (an ElevenLabs or OpenAI voice — then the text leaves the machine, and the audit says so). Not redacted: synthesis is for the person who wrote the text. &#x60;/tts&#x60; is the same handler with &#x60;text&#x60;. 
     * @param audioSpeechRequest 
     * @return ApiResponse<java.io.File?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun audioSpeechWithHttpInfo(audioSpeechRequest: AudioSpeechRequest) : ApiResponse<java.io.File?> {
        val localVariableConfig = audioSpeechRequestConfig(audioSpeechRequest = audioSpeechRequest)

        return request<AudioSpeechRequest, java.io.File>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation audioSpeech
     *
     * @param audioSpeechRequest 
     * @return RequestConfig
     */
    fun audioSpeechRequestConfig(audioSpeechRequest: AudioSpeechRequest) : RequestConfig<AudioSpeechRequest> {
        val localVariableBody = audioSpeechRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/audio/speech",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * enum for parameter responseFormat
     */
     enum class ResponseFormatAudioTranscribe(val value: kotlin.String) {
         @Json(name = "json") json("json"),
         @Json(name = "text") text("text"),
         @Json(name = "verbose_json") verbose_json("verbose_json");

        /**
         * Override [toString()] to avoid using the enum variable name as the value, and instead use
         * the actual value defined in the API spec file.
         *
         * This solves a problem when the variable name and its value are different, and ensures that
         * the client sends the correct enum values to the server always.
         */
        override fun toString(): kotlin.String = "$value"
     }

    /**
     * enum for parameter diarize
     */
     enum class DiarizeAudioTranscribe(val value: kotlin.String) {
         @Json(name = "true") `true`("true"),
         @Json(name = "false") `false`("false");

        /**
         * Override [toString()] to avoid using the enum variable name as the value, and instead use
         * the actual value defined in the API spec file.
         *
         * This solves a problem when the variable name and its value are different, and ensures that
         * the client sends the correct enum values to the server always.
         */
        override fun toString(): kotlin.String = "$value"
     }

    /**
     * POST /v1/audio/transcriptions
     * Transcribe an audio file (OpenAI-compatible).
     * OpenAI&#39;s shape over the gateway&#39;s own transcriber — the in-process whisper, or the provider its capability table names (a hosted API, a container the Runtime started). A WAV is decoded by the gateway itself; mp3/m4a/webm/ogg/flac go through &#x60;ffmpeg&#x60; when it is on the gateway&#39;s PATH, else 415 says so. Beyond OpenAI: &#x60;diarize&#x3D;true&#x60; puts a &#x60;speaker&#x60; on every segment of &#x60;verbose_json&#x60;. The live microphone keeps the session API (&#x60;/stt/sessions&#x60;); this is for a file. 
     * @param file WAV (any rate, channels, 8/16/24/32-bit or float), or any format ffmpeg reads.
     * @param model Ignored — the gateway transcribes with what its table says; kept for OpenAI clients. (optional)
     * @param language ISO code; auto-detected when absent. (optional)
     * @param responseFormat  (optional, default to ResponseFormat.json)
     * @param diarize A speaker per segment (verbose_json). (optional)
     * @return Transcription
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun audioTranscribe(file: java.io.File, model: kotlin.String? = null, language: kotlin.String? = null, responseFormat: ResponseFormatAudioTranscribe? = ResponseFormatAudioTranscribe.json, diarize: DiarizeAudioTranscribe? = null) : Transcription {
        val localVarResponse = audioTranscribeWithHttpInfo(file = file, model = model, language = language, responseFormat = responseFormat, diarize = diarize)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as Transcription
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/audio/transcriptions
     * Transcribe an audio file (OpenAI-compatible).
     * OpenAI&#39;s shape over the gateway&#39;s own transcriber — the in-process whisper, or the provider its capability table names (a hosted API, a container the Runtime started). A WAV is decoded by the gateway itself; mp3/m4a/webm/ogg/flac go through &#x60;ffmpeg&#x60; when it is on the gateway&#39;s PATH, else 415 says so. Beyond OpenAI: &#x60;diarize&#x3D;true&#x60; puts a &#x60;speaker&#x60; on every segment of &#x60;verbose_json&#x60;. The live microphone keeps the session API (&#x60;/stt/sessions&#x60;); this is for a file. 
     * @param file WAV (any rate, channels, 8/16/24/32-bit or float), or any format ffmpeg reads.
     * @param model Ignored — the gateway transcribes with what its table says; kept for OpenAI clients. (optional)
     * @param language ISO code; auto-detected when absent. (optional)
     * @param responseFormat  (optional, default to ResponseFormat.json)
     * @param diarize A speaker per segment (verbose_json). (optional)
     * @return ApiResponse<Transcription?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun audioTranscribeWithHttpInfo(file: java.io.File, model: kotlin.String?, language: kotlin.String?, responseFormat: ResponseFormatAudioTranscribe?, diarize: DiarizeAudioTranscribe?) : ApiResponse<Transcription?> {
        val localVariableConfig = audioTranscribeRequestConfig(file = file, model = model, language = language, responseFormat = responseFormat, diarize = diarize)

        return request<Map<String, PartConfig<*>>, Transcription>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation audioTranscribe
     *
     * @param file WAV (any rate, channels, 8/16/24/32-bit or float), or any format ffmpeg reads.
     * @param model Ignored — the gateway transcribes with what its table says; kept for OpenAI clients. (optional)
     * @param language ISO code; auto-detected when absent. (optional)
     * @param responseFormat  (optional, default to ResponseFormat.json)
     * @param diarize A speaker per segment (verbose_json). (optional)
     * @return RequestConfig
     */
    fun audioTranscribeRequestConfig(file: java.io.File, model: kotlin.String?, language: kotlin.String?, responseFormat: ResponseFormatAudioTranscribe?, diarize: DiarizeAudioTranscribe?) : RequestConfig<Map<String, PartConfig<*>>> {
        val localVariableBody = mapOf(
            "file" to PartConfig(body = file, headers = mutableMapOf()),
            "model" to PartConfig(body = model, headers = mutableMapOf()),
            "language" to PartConfig(body = language, headers = mutableMapOf()),
            "response_format" to PartConfig(body = responseFormat?.value, headers = mutableMapOf()),
            "diarize" to PartConfig(body = diarize?.value, headers = mutableMapOf()),)
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf("Content-Type" to "multipart/form-data")
        localVariableHeaders["Accept"] = "application/json, text/plain"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/audio/transcriptions",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
