/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package net.chatpanel.sdk.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import net.chatpanel.sdk.models.ErrorResponse
import net.chatpanel.sdk.models.EventsCursor
import net.chatpanel.sdk.models.EventsPage
import net.chatpanel.sdk.models.PushEventsRequest
import net.chatpanel.sdk.models.PushEventsResponse

import com.squareup.moshi.Json

import net.chatpanel.sdk.infrastructure.ApiClient
import net.chatpanel.sdk.infrastructure.ApiResponse
import net.chatpanel.sdk.infrastructure.ClientException
import net.chatpanel.sdk.infrastructure.ClientError
import net.chatpanel.sdk.infrastructure.ServerException
import net.chatpanel.sdk.infrastructure.ServerError
import net.chatpanel.sdk.infrastructure.MultiValueMap
import net.chatpanel.sdk.infrastructure.PartConfig
import net.chatpanel.sdk.infrastructure.RequestConfig
import net.chatpanel.sdk.infrastructure.RequestMethod
import net.chatpanel.sdk.infrastructure.ResponseType
import net.chatpanel.sdk.infrastructure.Success
import net.chatpanel.sdk.infrastructure.toMultiValue

open class EventsApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.BASE_URL_KEY, "http://127.0.0.1:4320")
        }
    }

    /**
     * GET /v1/events/cursor
     * The gateway&#39;s highest &#x60;seq&#x60; per host — what a client asks for before it pushes.
     * 
     * @return EventsCursor
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun eventsCursor() : EventsCursor {
        val localVarResponse = eventsCursorWithHttpInfo()

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as EventsCursor
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/events/cursor
     * The gateway&#39;s highest &#x60;seq&#x60; per host — what a client asks for before it pushes.
     * 
     * @return ApiResponse<EventsCursor?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun eventsCursorWithHttpInfo() : ApiResponse<EventsCursor?> {
        val localVariableConfig = eventsCursorRequestConfig()

        return request<Unit, EventsCursor>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation eventsCursor
     *
     * @return RequestConfig
     */
    fun eventsCursorRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/events/cursor",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/events
     * Push a batch of this client&#39;s durable log as CloudEvents; each event is appended once, each refusal is named.
     * Idempotent on event id, so a retry is free. A &#x60;seq&#x60; that moves backwards for a host under a new id is a corrupt writer and is refused by itself; the rest of the batch lands. Push what lies above your entry in &#x60;cursor&#x60; (the gateway&#39;s highest &#x60;seq&#x60; per host) and stop re-sending what &#x60;rejected&#x60; names. At most 2000 events per batch. A gateway without SQLite answers 501.
     * @param pushEventsRequest 
     * @return PushEventsResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun eventsPush(pushEventsRequest: PushEventsRequest) : PushEventsResponse {
        val localVarResponse = eventsPushWithHttpInfo(pushEventsRequest = pushEventsRequest)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as PushEventsResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/events
     * Push a batch of this client&#39;s durable log as CloudEvents; each event is appended once, each refusal is named.
     * Idempotent on event id, so a retry is free. A &#x60;seq&#x60; that moves backwards for a host under a new id is a corrupt writer and is refused by itself; the rest of the batch lands. Push what lies above your entry in &#x60;cursor&#x60; (the gateway&#39;s highest &#x60;seq&#x60; per host) and stop re-sending what &#x60;rejected&#x60; names. At most 2000 events per batch. A gateway without SQLite answers 501.
     * @param pushEventsRequest 
     * @return ApiResponse<PushEventsResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun eventsPushWithHttpInfo(pushEventsRequest: PushEventsRequest) : ApiResponse<PushEventsResponse?> {
        val localVariableConfig = eventsPushRequestConfig(pushEventsRequest = pushEventsRequest)

        return request<PushEventsRequest, PushEventsResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation eventsPush
     *
     * @param pushEventsRequest 
     * @return RequestConfig
     */
    fun eventsPushRequestConfig(pushEventsRequest: PushEventsRequest) : RequestConfig<PushEventsRequest> {
        val localVariableBody = pushEventsRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/events",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/events
     * The merged log above a cursor — host by host in &#x60;seq&#x60; order, as CloudEvents, paged.
     * 
     * @param cursor JSON &#x60;{ host: seq }&#x60; — the highest seq per host you already hold. Absent means everything. (optional)
     * @param limit  (optional, default to 1000)
     * @param host One host&#39;s slice only. (optional)
     * @return EventsPage
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun eventsSince(cursor: kotlin.String? = null, limit: kotlin.Int? = 1000, host: kotlin.String? = null) : EventsPage {
        val localVarResponse = eventsSinceWithHttpInfo(cursor = cursor, limit = limit, host = host)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as EventsPage
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/events
     * The merged log above a cursor — host by host in &#x60;seq&#x60; order, as CloudEvents, paged.
     * 
     * @param cursor JSON &#x60;{ host: seq }&#x60; — the highest seq per host you already hold. Absent means everything. (optional)
     * @param limit  (optional, default to 1000)
     * @param host One host&#39;s slice only. (optional)
     * @return ApiResponse<EventsPage?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun eventsSinceWithHttpInfo(cursor: kotlin.String?, limit: kotlin.Int?, host: kotlin.String?) : ApiResponse<EventsPage?> {
        val localVariableConfig = eventsSinceRequestConfig(cursor = cursor, limit = limit, host = host)

        return request<Unit, EventsPage>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation eventsSince
     *
     * @param cursor JSON &#x60;{ host: seq }&#x60; — the highest seq per host you already hold. Absent means everything. (optional)
     * @param limit  (optional, default to 1000)
     * @param host One host&#39;s slice only. (optional)
     * @return RequestConfig
     */
    fun eventsSinceRequestConfig(cursor: kotlin.String?, limit: kotlin.Int?, host: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (cursor != null) {
                    put("cursor", listOf(cursor.toString()))
                }
                if (limit != null) {
                    put("limit", listOf(limit.toString()))
                }
                if (host != null) {
                    put("host", listOf(host.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/events",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/events/stream
     * Tail the merged log — &#x60;hello&#x60; once, then a &#x60;cloudevent&#x60; frame per appended event; with &#x60;cursor&#x60;, the backlog above it first.
     * 
     * @param cursor JSON &#x60;{ host: seq }&#x60;; when present the events above it are replayed before live frames. (optional)
     * @return kotlin.String
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun eventsStream(cursor: kotlin.String? = null) : kotlin.String {
        val localVarResponse = eventsStreamWithHttpInfo(cursor = cursor)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.String
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/events/stream
     * Tail the merged log — &#x60;hello&#x60; once, then a &#x60;cloudevent&#x60; frame per appended event; with &#x60;cursor&#x60;, the backlog above it first.
     * 
     * @param cursor JSON &#x60;{ host: seq }&#x60;; when present the events above it are replayed before live frames. (optional)
     * @return ApiResponse<kotlin.String?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun eventsStreamWithHttpInfo(cursor: kotlin.String?) : ApiResponse<kotlin.String?> {
        val localVariableConfig = eventsStreamRequestConfig(cursor = cursor)

        return request<Unit, kotlin.String>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation eventsStream
     *
     * @param cursor JSON &#x60;{ host: seq }&#x60;; when present the events above it are replayed before live frames. (optional)
     * @return RequestConfig
     */
    fun eventsStreamRequestConfig(cursor: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (cursor != null) {
                    put("cursor", listOf(cursor.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/events/stream",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
