/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package net.chatpanel.sdk.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import net.chatpanel.sdk.models.ErrorResponse
import net.chatpanel.sdk.models.HistoryGet200Response
import net.chatpanel.sdk.models.HistoryIngest200Response
import net.chatpanel.sdk.models.HistoryPage
import net.chatpanel.sdk.models.HistoryRelated200Response
import net.chatpanel.sdk.models.HistoryStatus
import net.chatpanel.sdk.models.IngestRequest
import net.chatpanel.sdk.models.PutRecordsRequest
import net.chatpanel.sdk.models.PutRecordsResponse
import net.chatpanel.sdk.models.RecordType
import net.chatpanel.sdk.models.RecordsPage
import net.chatpanel.sdk.models.SearchRequest
import net.chatpanel.sdk.models.SearchResponse
import net.chatpanel.sdk.models.SmartSearchRequest
import net.chatpanel.sdk.models.SmartSearchResponse

import com.squareup.moshi.Json

import net.chatpanel.sdk.infrastructure.ApiClient
import net.chatpanel.sdk.infrastructure.ApiResponse
import net.chatpanel.sdk.infrastructure.ClientException
import net.chatpanel.sdk.infrastructure.ClientError
import net.chatpanel.sdk.infrastructure.ServerException
import net.chatpanel.sdk.infrastructure.ServerError
import net.chatpanel.sdk.infrastructure.MultiValueMap
import net.chatpanel.sdk.infrastructure.PartConfig
import net.chatpanel.sdk.infrastructure.RequestConfig
import net.chatpanel.sdk.infrastructure.RequestMethod
import net.chatpanel.sdk.infrastructure.ResponseType
import net.chatpanel.sdk.infrastructure.Success
import net.chatpanel.sdk.infrastructure.toMultiValue

open class HistoryApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.BASE_URL_KEY, "http://127.0.0.1:4320")
        }
    }

    /**
     * GET /v1/history/get
     * One full warm record, optionally paged by characters.
     * 
     * @param id 
     * @param maxChars Page a long transcript instead of pulling it all. (optional)
     * @param offset  (optional, default to 0)
     * @return HistoryGet200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun historyGet(id: kotlin.String, maxChars: kotlin.Int? = null, offset: kotlin.Int? = 0) : HistoryGet200Response {
        val localVarResponse = historyGetWithHttpInfo(id = id, maxChars = maxChars, offset = offset)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as HistoryGet200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/history/get
     * One full warm record, optionally paged by characters.
     * 
     * @param id 
     * @param maxChars Page a long transcript instead of pulling it all. (optional)
     * @param offset  (optional, default to 0)
     * @return ApiResponse<HistoryGet200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun historyGetWithHttpInfo(id: kotlin.String, maxChars: kotlin.Int?, offset: kotlin.Int?) : ApiResponse<HistoryGet200Response?> {
        val localVariableConfig = historyGetRequestConfig(id = id, maxChars = maxChars, offset = offset)

        return request<Unit, HistoryGet200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation historyGet
     *
     * @param id 
     * @param maxChars Page a long transcript instead of pulling it all. (optional)
     * @param offset  (optional, default to 0)
     * @return RequestConfig
     */
    fun historyGetRequestConfig(id: kotlin.String, maxChars: kotlin.Int?, offset: kotlin.Int?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("id", listOf(id.toString()))
                if (maxChars != null) {
                    put("maxChars", listOf(maxChars.toString()))
                }
                if (offset != null) {
                    put("offset", listOf(offset.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/history/get",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/history/ingest
     * Push flattened (lossy) records into the warm index.
     * 
     * @param ingestRequest 
     * @return HistoryIngest200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun historyIngest(ingestRequest: IngestRequest) : HistoryIngest200Response {
        val localVarResponse = historyIngestWithHttpInfo(ingestRequest = ingestRequest)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as HistoryIngest200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/history/ingest
     * Push flattened (lossy) records into the warm index.
     * 
     * @param ingestRequest 
     * @return ApiResponse<HistoryIngest200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun historyIngestWithHttpInfo(ingestRequest: IngestRequest) : ApiResponse<HistoryIngest200Response?> {
        val localVariableConfig = historyIngestRequestConfig(ingestRequest = ingestRequest)

        return request<IngestRequest, HistoryIngest200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation historyIngest
     *
     * @param ingestRequest 
     * @return RequestConfig
     */
    fun historyIngestRequestConfig(ingestRequest: IngestRequest) : RequestConfig<IngestRequest> {
        val localVariableBody = ingestRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/history/ingest",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/history/list
     * A page of the warm index — metadata only, no bodies.
     * 
     * @param limit  (optional, default to 50)
     * @param offset  (optional, default to 0)
     * @param type  (optional)
     * @return HistoryPage
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun historyList(limit: kotlin.Int? = 50, offset: kotlin.Int? = 0, type: RecordType? = null) : HistoryPage {
        val localVarResponse = historyListWithHttpInfo(limit = limit, offset = offset, type = type)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as HistoryPage
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/history/list
     * A page of the warm index — metadata only, no bodies.
     * 
     * @param limit  (optional, default to 50)
     * @param offset  (optional, default to 0)
     * @param type  (optional)
     * @return ApiResponse<HistoryPage?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun historyListWithHttpInfo(limit: kotlin.Int?, offset: kotlin.Int?, type: RecordType?) : ApiResponse<HistoryPage?> {
        val localVariableConfig = historyListRequestConfig(limit = limit, offset = offset, type = type)

        return request<Unit, HistoryPage>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation historyList
     *
     * @param limit  (optional, default to 50)
     * @param offset  (optional, default to 0)
     * @param type  (optional)
     * @return RequestConfig
     */
    fun historyListRequestConfig(limit: kotlin.Int?, offset: kotlin.Int?, type: RecordType?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (limit != null) {
                    put("limit", listOf(limit.toString()))
                }
                if (offset != null) {
                    put("offset", listOf(offset.toString()))
                }
                if (type != null) {
                    put("type", listOf(type.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/history/list",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * PUT /v1/history/records
     * Push whole records; the gateway derives the searchable text itself.
     * 
     * @param putRecordsRequest 
     * @return PutRecordsResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun historyPutRecords(putRecordsRequest: PutRecordsRequest) : PutRecordsResponse {
        val localVarResponse = historyPutRecordsWithHttpInfo(putRecordsRequest = putRecordsRequest)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as PutRecordsResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * PUT /v1/history/records
     * Push whole records; the gateway derives the searchable text itself.
     * 
     * @param putRecordsRequest 
     * @return ApiResponse<PutRecordsResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun historyPutRecordsWithHttpInfo(putRecordsRequest: PutRecordsRequest) : ApiResponse<PutRecordsResponse?> {
        val localVariableConfig = historyPutRecordsRequestConfig(putRecordsRequest = putRecordsRequest)

        return request<PutRecordsRequest, PutRecordsResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation historyPutRecords
     *
     * @param putRecordsRequest 
     * @return RequestConfig
     */
    fun historyPutRecordsRequestConfig(putRecordsRequest: PutRecordsRequest) : RequestConfig<PutRecordsRequest> {
        val localVariableBody = putRecordsRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.PUT,
            path = "/v1/history/records",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/history/records
     * WHOLE records changed after a stamp, oldest first, paged by cursor, tombstones included.
     * The lossless tier. A gateway without the SQLite store answers 501.
     * @param since A stamp (ms since epoch) from a previous page&#39;s &#x60;newest&#x60;. (optional, default to 0L)
     * @param cursor Opaque; from the previous page. (optional)
     * @param limit  (optional, default to 200)
     * @param kind  (optional)
     * @return RecordsPage
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun historyRecords(since: kotlin.Long? = 0L, cursor: kotlin.String? = null, limit: kotlin.Int? = 200, kind: kotlin.String? = null) : RecordsPage {
        val localVarResponse = historyRecordsWithHttpInfo(since = since, cursor = cursor, limit = limit, kind = kind)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as RecordsPage
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/history/records
     * WHOLE records changed after a stamp, oldest first, paged by cursor, tombstones included.
     * The lossless tier. A gateway without the SQLite store answers 501.
     * @param since A stamp (ms since epoch) from a previous page&#39;s &#x60;newest&#x60;. (optional, default to 0L)
     * @param cursor Opaque; from the previous page. (optional)
     * @param limit  (optional, default to 200)
     * @param kind  (optional)
     * @return ApiResponse<RecordsPage?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun historyRecordsWithHttpInfo(since: kotlin.Long?, cursor: kotlin.String?, limit: kotlin.Int?, kind: kotlin.String?) : ApiResponse<RecordsPage?> {
        val localVariableConfig = historyRecordsRequestConfig(since = since, cursor = cursor, limit = limit, kind = kind)

        return request<Unit, RecordsPage>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation historyRecords
     *
     * @param since A stamp (ms since epoch) from a previous page&#39;s &#x60;newest&#x60;. (optional, default to 0L)
     * @param cursor Opaque; from the previous page. (optional)
     * @param limit  (optional, default to 200)
     * @param kind  (optional)
     * @return RequestConfig
     */
    fun historyRecordsRequestConfig(since: kotlin.Long?, cursor: kotlin.String?, limit: kotlin.Int?, kind: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (since != null) {
                    put("since", listOf(since.toString()))
                }
                if (cursor != null) {
                    put("cursor", listOf(cursor.toString()))
                }
                if (limit != null) {
                    put("limit", listOf(limit.toString()))
                }
                if (kind != null) {
                    put("kind", listOf(kind.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/history/records",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/history/related
     * The records most connected to one record.
     * 
     * @param id 
     * @param limit  (optional, default to 5)
     * @return HistoryRelated200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun historyRelated(id: kotlin.String, limit: kotlin.Int? = 5) : HistoryRelated200Response {
        val localVarResponse = historyRelatedWithHttpInfo(id = id, limit = limit)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as HistoryRelated200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/history/related
     * The records most connected to one record.
     * 
     * @param id 
     * @param limit  (optional, default to 5)
     * @return ApiResponse<HistoryRelated200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun historyRelatedWithHttpInfo(id: kotlin.String, limit: kotlin.Int?) : ApiResponse<HistoryRelated200Response?> {
        val localVariableConfig = historyRelatedRequestConfig(id = id, limit = limit)

        return request<Unit, HistoryRelated200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation historyRelated
     *
     * @param id 
     * @param limit  (optional, default to 5)
     * @return RequestConfig
     */
    fun historyRelatedRequestConfig(id: kotlin.String, limit: kotlin.Int?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("id", listOf(id.toString()))
                if (limit != null) {
                    put("limit", listOf(limit.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/history/related",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/history/search
     * One keyword query over the warm index.
     * 
     * @param searchRequest 
     * @return SearchResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun historySearch(searchRequest: SearchRequest) : SearchResponse {
        val localVarResponse = historySearchWithHttpInfo(searchRequest = searchRequest)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as SearchResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/history/search
     * One keyword query over the warm index.
     * 
     * @param searchRequest 
     * @return ApiResponse<SearchResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun historySearchWithHttpInfo(searchRequest: SearchRequest) : ApiResponse<SearchResponse?> {
        val localVariableConfig = historySearchRequestConfig(searchRequest = searchRequest)

        return request<SearchRequest, SearchResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation historySearch
     *
     * @param searchRequest 
     * @return RequestConfig
     */
    fun historySearchRequestConfig(searchRequest: SearchRequest) : RequestConfig<SearchRequest> {
        val localVariableBody = searchRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/history/search",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/history/smart-search
     * Several phrasings at once, rank-fused; briefs lead.
     * 
     * @param smartSearchRequest 
     * @return SmartSearchResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun historySmartSearch(smartSearchRequest: SmartSearchRequest) : SmartSearchResponse {
        val localVarResponse = historySmartSearchWithHttpInfo(smartSearchRequest = smartSearchRequest)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as SmartSearchResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/history/smart-search
     * Several phrasings at once, rank-fused; briefs lead.
     * 
     * @param smartSearchRequest 
     * @return ApiResponse<SmartSearchResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun historySmartSearchWithHttpInfo(smartSearchRequest: SmartSearchRequest) : ApiResponse<SmartSearchResponse?> {
        val localVariableConfig = historySmartSearchRequestConfig(smartSearchRequest = smartSearchRequest)

        return request<SmartSearchRequest, SmartSearchResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation historySmartSearch
     *
     * @param smartSearchRequest 
     * @return RequestConfig
     */
    fun historySmartSearchRequestConfig(smartSearchRequest: SmartSearchRequest) : RequestConfig<SmartSearchRequest> {
        val localVariableBody = smartSearchRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/history/smart-search",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/history/status
     * Size and freshness of the warm index (and the lossless tier from 0.10.0).
     * 
     * @return HistoryStatus
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun historyStatus() : HistoryStatus {
        val localVarResponse = historyStatusWithHttpInfo()

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as HistoryStatus
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/history/status
     * Size and freshness of the warm index (and the lossless tier from 0.10.0).
     * 
     * @return ApiResponse<HistoryStatus?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun historyStatusWithHttpInfo() : ApiResponse<HistoryStatus?> {
        val localVariableConfig = historyStatusRequestConfig()

        return request<Unit, HistoryStatus>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation historyStatus
     *
     * @return RequestConfig
     */
    fun historyStatusRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/history/status",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/history/stream
     * Live record changes — &#x60;hello&#x60; once, then a &#x60;records&#x60; event per change.
     * 
     * @return kotlin.String
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun historyStream() : kotlin.String {
        val localVarResponse = historyStreamWithHttpInfo()

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.String
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/history/stream
     * Live record changes — &#x60;hello&#x60; once, then a &#x60;records&#x60; event per change.
     * 
     * @return ApiResponse<kotlin.String?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun historyStreamWithHttpInfo() : ApiResponse<kotlin.String?> {
        val localVariableConfig = historyStreamRequestConfig()

        return request<Unit, kotlin.String>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation historyStream
     *
     * @return RequestConfig
     */
    fun historyStreamRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/history/stream",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
