/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package net.chatpanel.sdk.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import net.chatpanel.sdk.models.ErrorResponse
import net.chatpanel.sdk.models.InlineObject1
import net.chatpanel.sdk.models.PrefsDelete200Response
import net.chatpanel.sdk.models.ProjectsCreateRequest
import net.chatpanel.sdk.models.ProjectsJobBoard200Response
import net.chatpanel.sdk.models.ProjectsList200Response
import net.chatpanel.sdk.models.ProjectsPatchJobRequest
import net.chatpanel.sdk.models.ProjectsPostJobRequest
import net.chatpanel.sdk.models.ProjectsRecruitRequest
import net.chatpanel.sdk.models.TeamsAppendRunEventsRequest

import com.squareup.moshi.Json

import net.chatpanel.sdk.infrastructure.ApiClient
import net.chatpanel.sdk.infrastructure.ApiResponse
import net.chatpanel.sdk.infrastructure.ClientException
import net.chatpanel.sdk.infrastructure.ClientError
import net.chatpanel.sdk.infrastructure.ServerException
import net.chatpanel.sdk.infrastructure.ServerError
import net.chatpanel.sdk.infrastructure.MultiValueMap
import net.chatpanel.sdk.infrastructure.PartConfig
import net.chatpanel.sdk.infrastructure.RequestConfig
import net.chatpanel.sdk.infrastructure.RequestMethod
import net.chatpanel.sdk.infrastructure.ResponseType
import net.chatpanel.sdk.infrastructure.Success
import net.chatpanel.sdk.infrastructure.toMultiValue

open class ProjectsApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.BASE_URL_KEY, "http://127.0.0.1:4320")
        }
    }

    /**
     * POST /v1/projects/{projectId}/events
     * The executive loop appends (status, run.linked, run.spent, decision, report).
     * 
     * @param projectId 
     * @param teamsAppendRunEventsRequest 
     * @return InlineObject1
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun projectsAppendEvents(projectId: kotlin.String, teamsAppendRunEventsRequest: TeamsAppendRunEventsRequest) : InlineObject1 {
        val localVarResponse = projectsAppendEventsWithHttpInfo(projectId = projectId, teamsAppendRunEventsRequest = teamsAppendRunEventsRequest)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as InlineObject1
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/projects/{projectId}/events
     * The executive loop appends (status, run.linked, run.spent, decision, report).
     * 
     * @param projectId 
     * @param teamsAppendRunEventsRequest 
     * @return ApiResponse<InlineObject1?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun projectsAppendEventsWithHttpInfo(projectId: kotlin.String, teamsAppendRunEventsRequest: TeamsAppendRunEventsRequest) : ApiResponse<InlineObject1?> {
        val localVariableConfig = projectsAppendEventsRequestConfig(projectId = projectId, teamsAppendRunEventsRequest = teamsAppendRunEventsRequest)

        return request<TeamsAppendRunEventsRequest, InlineObject1>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation projectsAppendEvents
     *
     * @param projectId 
     * @param teamsAppendRunEventsRequest 
     * @return RequestConfig
     */
    fun projectsAppendEventsRequestConfig(projectId: kotlin.String, teamsAppendRunEventsRequest: TeamsAppendRunEventsRequest) : RequestConfig<TeamsAppendRunEventsRequest> {
        val localVariableBody = teamsAppendRunEventsRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/projects/{projectId}/events".replace("{"+"projectId"+"}", encodeURIComponent(projectId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/projects/{projectId}/jobs/{jobId}/applications
     * The pool applies at once; &#x60;prompt&#x60; is the evaluator&#39;s, for a structured call.
     * 
     * @param projectId 
     * @param jobId 
     * @param reach  (optional, default to "any")
     * @param chatModel  (optional)
     * @return kotlin.collections.Map<kotlin.String, kotlin.Any>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun projectsApplications(projectId: kotlin.String, jobId: kotlin.String, reach: kotlin.String? = "any", chatModel: kotlin.String? = null) : kotlin.collections.Map<kotlin.String, kotlin.Any> {
        val localVarResponse = projectsApplicationsWithHttpInfo(projectId = projectId, jobId = jobId, reach = reach, chatModel = chatModel)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.Map<kotlin.String, kotlin.Any>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/projects/{projectId}/jobs/{jobId}/applications
     * The pool applies at once; &#x60;prompt&#x60; is the evaluator&#39;s, for a structured call.
     * 
     * @param projectId 
     * @param jobId 
     * @param reach  (optional, default to "any")
     * @param chatModel  (optional)
     * @return ApiResponse<kotlin.collections.Map<kotlin.String, kotlin.Any>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun projectsApplicationsWithHttpInfo(projectId: kotlin.String, jobId: kotlin.String, reach: kotlin.String?, chatModel: kotlin.String?) : ApiResponse<kotlin.collections.Map<kotlin.String, kotlin.Any>?> {
        val localVariableConfig = projectsApplicationsRequestConfig(projectId = projectId, jobId = jobId, reach = reach, chatModel = chatModel)

        return request<Unit, kotlin.collections.Map<kotlin.String, kotlin.Any>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation projectsApplications
     *
     * @param projectId 
     * @param jobId 
     * @param reach  (optional, default to "any")
     * @param chatModel  (optional)
     * @return RequestConfig
     */
    fun projectsApplicationsRequestConfig(projectId: kotlin.String, jobId: kotlin.String, reach: kotlin.String?, chatModel: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (reach != null) {
                    put("reach", listOf(reach.toString()))
                }
                if (chatModel != null) {
                    put("chatModel", listOf(chatModel.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/projects/{projectId}/jobs/{jobId}/applications".replace("{"+"projectId"+"}", encodeURIComponent(projectId.toString())).replace("{"+"jobId"+"}", encodeURIComponent(jobId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/projects
     * Open a record (idempotent) or update the page.
     * 
     * @param projectsCreateRequest 
     * @return InlineObject1
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun projectsCreate(projectsCreateRequest: ProjectsCreateRequest) : InlineObject1 {
        val localVarResponse = projectsCreateWithHttpInfo(projectsCreateRequest = projectsCreateRequest)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as InlineObject1
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/projects
     * Open a record (idempotent) or update the page.
     * 
     * @param projectsCreateRequest 
     * @return ApiResponse<InlineObject1?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun projectsCreateWithHttpInfo(projectsCreateRequest: ProjectsCreateRequest) : ApiResponse<InlineObject1?> {
        val localVariableConfig = projectsCreateRequestConfig(projectsCreateRequest = projectsCreateRequest)

        return request<ProjectsCreateRequest, InlineObject1>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation projectsCreate
     *
     * @param projectsCreateRequest 
     * @return RequestConfig
     */
    fun projectsCreateRequestConfig(projectsCreateRequest: ProjectsCreateRequest) : RequestConfig<ProjectsCreateRequest> {
        val localVariableBody = projectsCreateRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/projects",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * DELETE /v1/projects/{projectId}
     * Remove a project record.
     * 
     * @param projectId 
     * @return PrefsDelete200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun projectsDelete(projectId: kotlin.String) : PrefsDelete200Response {
        val localVarResponse = projectsDeleteWithHttpInfo(projectId = projectId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as PrefsDelete200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /v1/projects/{projectId}
     * Remove a project record.
     * 
     * @param projectId 
     * @return ApiResponse<PrefsDelete200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun projectsDeleteWithHttpInfo(projectId: kotlin.String) : ApiResponse<PrefsDelete200Response?> {
        val localVariableConfig = projectsDeleteRequestConfig(projectId = projectId)

        return request<Unit, PrefsDelete200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation projectsDelete
     *
     * @param projectId 
     * @return RequestConfig
     */
    fun projectsDeleteRequestConfig(projectId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/v1/projects/{projectId}".replace("{"+"projectId"+"}", encodeURIComponent(projectId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/projects/{projectId}/events
     * Tail a project — hello, replay, then live.
     * 
     * @param projectId 
     * @param after  (optional)
     * @return kotlin.String
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun projectsEvents(projectId: kotlin.String, after: kotlin.Int? = null) : kotlin.String {
        val localVarResponse = projectsEventsWithHttpInfo(projectId = projectId, after = after)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.String
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/projects/{projectId}/events
     * Tail a project — hello, replay, then live.
     * 
     * @param projectId 
     * @param after  (optional)
     * @return ApiResponse<kotlin.String?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun projectsEventsWithHttpInfo(projectId: kotlin.String, after: kotlin.Int?) : ApiResponse<kotlin.String?> {
        val localVariableConfig = projectsEventsRequestConfig(projectId = projectId, after = after)

        return request<Unit, kotlin.String>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation projectsEvents
     *
     * @param projectId 
     * @param after  (optional)
     * @return RequestConfig
     */
    fun projectsEventsRequestConfig(projectId: kotlin.String, after: kotlin.Int?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (after != null) {
                    put("after", listOf(after.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/projects/{projectId}/events".replace("{"+"projectId"+"}", encodeURIComponent(projectId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/projects/{projectId}
     * The record — jobs, runs, spend, decisions, report.
     * 
     * @param projectId 
     * @param events  (optional)
     * @return InlineObject1
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun projectsGet(projectId: kotlin.String, events: kotlin.Boolean? = null) : InlineObject1 {
        val localVarResponse = projectsGetWithHttpInfo(projectId = projectId, events = events)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as InlineObject1
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/projects/{projectId}
     * The record — jobs, runs, spend, decisions, report.
     * 
     * @param projectId 
     * @param events  (optional)
     * @return ApiResponse<InlineObject1?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun projectsGetWithHttpInfo(projectId: kotlin.String, events: kotlin.Boolean?) : ApiResponse<InlineObject1?> {
        val localVariableConfig = projectsGetRequestConfig(projectId = projectId, events = events)

        return request<Unit, InlineObject1>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation projectsGet
     *
     * @param projectId 
     * @param events  (optional)
     * @return RequestConfig
     */
    fun projectsGetRequestConfig(projectId: kotlin.String, events: kotlin.Boolean?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (events != null) {
                    put("events", listOf(events.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/projects/{projectId}".replace("{"+"projectId"+"}", encodeURIComponent(projectId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/projects/jobs
     * Every open posting across projects.
     * 
     * @return ProjectsJobBoard200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun projectsJobBoard() : ProjectsJobBoard200Response {
        val localVarResponse = projectsJobBoardWithHttpInfo()

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ProjectsJobBoard200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/projects/jobs
     * Every open posting across projects.
     * 
     * @return ApiResponse<ProjectsJobBoard200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun projectsJobBoardWithHttpInfo() : ApiResponse<ProjectsJobBoard200Response?> {
        val localVariableConfig = projectsJobBoardRequestConfig()

        return request<Unit, ProjectsJobBoard200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation projectsJobBoard
     *
     * @return RequestConfig
     */
    fun projectsJobBoardRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/projects/jobs",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/projects
     * Projects, newest activity first, jobs counted.
     * 
     * @param limit  (optional, default to 50)
     * @param status  (optional)
     * @return ProjectsList200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun projectsList(limit: kotlin.Int? = 50, status: kotlin.String? = null) : ProjectsList200Response {
        val localVarResponse = projectsListWithHttpInfo(limit = limit, status = status)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ProjectsList200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/projects
     * Projects, newest activity first, jobs counted.
     * 
     * @param limit  (optional, default to 50)
     * @param status  (optional)
     * @return ApiResponse<ProjectsList200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun projectsListWithHttpInfo(limit: kotlin.Int?, status: kotlin.String?) : ApiResponse<ProjectsList200Response?> {
        val localVariableConfig = projectsListRequestConfig(limit = limit, status = status)

        return request<Unit, ProjectsList200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation projectsList
     *
     * @param limit  (optional, default to 50)
     * @param status  (optional)
     * @return RequestConfig
     */
    fun projectsListRequestConfig(limit: kotlin.Int?, status: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (limit != null) {
                    put("limit", listOf(limit.toString()))
                }
                if (status != null) {
                    put("status", listOf(status.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/projects",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/projects/{projectId}/jobs/{jobId}
     * Move a job along its state machine.
     * 
     * @param projectId 
     * @param jobId 
     * @param projectsPatchJobRequest 
     * @return InlineObject1
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun projectsPatchJob(projectId: kotlin.String, jobId: kotlin.String, projectsPatchJobRequest: ProjectsPatchJobRequest) : InlineObject1 {
        val localVarResponse = projectsPatchJobWithHttpInfo(projectId = projectId, jobId = jobId, projectsPatchJobRequest = projectsPatchJobRequest)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as InlineObject1
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/projects/{projectId}/jobs/{jobId}
     * Move a job along its state machine.
     * 
     * @param projectId 
     * @param jobId 
     * @param projectsPatchJobRequest 
     * @return ApiResponse<InlineObject1?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun projectsPatchJobWithHttpInfo(projectId: kotlin.String, jobId: kotlin.String, projectsPatchJobRequest: ProjectsPatchJobRequest) : ApiResponse<InlineObject1?> {
        val localVariableConfig = projectsPatchJobRequestConfig(projectId = projectId, jobId = jobId, projectsPatchJobRequest = projectsPatchJobRequest)

        return request<ProjectsPatchJobRequest, InlineObject1>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation projectsPatchJob
     *
     * @param projectId 
     * @param jobId 
     * @param projectsPatchJobRequest 
     * @return RequestConfig
     */
    fun projectsPatchJobRequestConfig(projectId: kotlin.String, jobId: kotlin.String, projectsPatchJobRequest: ProjectsPatchJobRequest) : RequestConfig<ProjectsPatchJobRequest> {
        val localVariableBody = projectsPatchJobRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/projects/{projectId}/jobs/{jobId}".replace("{"+"projectId"+"}", encodeURIComponent(projectId.toString())).replace("{"+"jobId"+"}", encodeURIComponent(jobId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/projects/{projectId}/jobs
     * Post a job.
     * 
     * @param projectId 
     * @param projectsPostJobRequest 
     * @return InlineObject1
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun projectsPostJob(projectId: kotlin.String, projectsPostJobRequest: ProjectsPostJobRequest) : InlineObject1 {
        val localVarResponse = projectsPostJobWithHttpInfo(projectId = projectId, projectsPostJobRequest = projectsPostJobRequest)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as InlineObject1
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/projects/{projectId}/jobs
     * Post a job.
     * 
     * @param projectId 
     * @param projectsPostJobRequest 
     * @return ApiResponse<InlineObject1?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun projectsPostJobWithHttpInfo(projectId: kotlin.String, projectsPostJobRequest: ProjectsPostJobRequest) : ApiResponse<InlineObject1?> {
        val localVariableConfig = projectsPostJobRequestConfig(projectId = projectId, projectsPostJobRequest = projectsPostJobRequest)

        return request<ProjectsPostJobRequest, InlineObject1>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation projectsPostJob
     *
     * @param projectId 
     * @param projectsPostJobRequest 
     * @return RequestConfig
     */
    fun projectsPostJobRequestConfig(projectId: kotlin.String, projectsPostJobRequest: ProjectsPostJobRequest) : RequestConfig<ProjectsPostJobRequest> {
        val localVariableBody = projectsPostJobRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/projects/{projectId}/jobs".replace("{"+"projectId"+"}", encodeURIComponent(projectId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/projects/{projectId}/jobs/{jobId}/recruit
     * One pass — fit recomputed, the evaluation read through the schema, the pick landed as events.
     * 
     * @param projectId 
     * @param jobId 
     * @param projectsRecruitRequest 
     * @return kotlin.collections.Map<kotlin.String, kotlin.Any>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun projectsRecruit(projectId: kotlin.String, jobId: kotlin.String, projectsRecruitRequest: ProjectsRecruitRequest) : kotlin.collections.Map<kotlin.String, kotlin.Any> {
        val localVarResponse = projectsRecruitWithHttpInfo(projectId = projectId, jobId = jobId, projectsRecruitRequest = projectsRecruitRequest)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.Map<kotlin.String, kotlin.Any>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/projects/{projectId}/jobs/{jobId}/recruit
     * One pass — fit recomputed, the evaluation read through the schema, the pick landed as events.
     * 
     * @param projectId 
     * @param jobId 
     * @param projectsRecruitRequest 
     * @return ApiResponse<kotlin.collections.Map<kotlin.String, kotlin.Any>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun projectsRecruitWithHttpInfo(projectId: kotlin.String, jobId: kotlin.String, projectsRecruitRequest: ProjectsRecruitRequest) : ApiResponse<kotlin.collections.Map<kotlin.String, kotlin.Any>?> {
        val localVariableConfig = projectsRecruitRequestConfig(projectId = projectId, jobId = jobId, projectsRecruitRequest = projectsRecruitRequest)

        return request<ProjectsRecruitRequest, kotlin.collections.Map<kotlin.String, kotlin.Any>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation projectsRecruit
     *
     * @param projectId 
     * @param jobId 
     * @param projectsRecruitRequest 
     * @return RequestConfig
     */
    fun projectsRecruitRequestConfig(projectId: kotlin.String, jobId: kotlin.String, projectsRecruitRequest: ProjectsRecruitRequest) : RequestConfig<ProjectsRecruitRequest> {
        val localVariableBody = projectsRecruitRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/projects/{projectId}/jobs/{jobId}/recruit".replace("{"+"projectId"+"}", encodeURIComponent(projectId.toString())).replace("{"+"jobId"+"}", encodeURIComponent(jobId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
