/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package net.chatpanel.sdk.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import net.chatpanel.sdk.models.ErrorResponse
import net.chatpanel.sdk.models.RuntimeActionResult
import net.chatpanel.sdk.models.RuntimeDocument
import net.chatpanel.sdk.models.RuntimeEngineRequest
import net.chatpanel.sdk.models.RuntimeServiceRequest

import com.squareup.moshi.Json

import net.chatpanel.sdk.infrastructure.ApiClient
import net.chatpanel.sdk.infrastructure.ApiResponse
import net.chatpanel.sdk.infrastructure.ClientException
import net.chatpanel.sdk.infrastructure.ClientError
import net.chatpanel.sdk.infrastructure.ServerException
import net.chatpanel.sdk.infrastructure.ServerError
import net.chatpanel.sdk.infrastructure.MultiValueMap
import net.chatpanel.sdk.infrastructure.PartConfig
import net.chatpanel.sdk.infrastructure.RequestConfig
import net.chatpanel.sdk.infrastructure.RequestMethod
import net.chatpanel.sdk.infrastructure.ResponseType
import net.chatpanel.sdk.infrastructure.Success
import net.chatpanel.sdk.infrastructure.toMultiValue

open class RuntimeApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.BASE_URL_KEY, "http://127.0.0.1:4320")
        }
    }

    /**
     * enum for parameter name
     */
     enum class NameRuntimeEngine(val value: kotlin.String) {
         @Json(name = "podman") podman("podman"),
         @Json(name = "docker") docker("docker");

        /**
         * Override [toString()] to avoid using the enum variable name as the value, and instead use
         * the actual value defined in the API spec file.
         *
         * This solves a problem when the variable name and its value are different, and ensures that
         * the client sends the correct enum values to the server always.
         */
        override fun toString(): kotlin.String = "$value"
     }

    /**
     * POST /v1/runtime/engines/{name}
     * Start the container engine (Podman — creates and starts its machine where one is needed).
     * &#x60;{ action: &#39;start&#39; }&#x60;. Podman on macOS and Windows runs containers in a machine: made on first start (&#x60;podman machine init&#x60;), then started. Linux Podman is rootless and needs nothing. Docker is not started by the gateway — the response says so. 
     * @param name 
     * @param runtimeEngineRequest  (optional)
     * @return RuntimeActionResult
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun runtimeEngine(name: NameRuntimeEngine, runtimeEngineRequest: RuntimeEngineRequest? = null) : RuntimeActionResult {
        val localVarResponse = runtimeEngineWithHttpInfo(name = name, runtimeEngineRequest = runtimeEngineRequest)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as RuntimeActionResult
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/runtime/engines/{name}
     * Start the container engine (Podman — creates and starts its machine where one is needed).
     * &#x60;{ action: &#39;start&#39; }&#x60;. Podman on macOS and Windows runs containers in a machine: made on first start (&#x60;podman machine init&#x60;), then started. Linux Podman is rootless and needs nothing. Docker is not started by the gateway — the response says so. 
     * @param name 
     * @param runtimeEngineRequest  (optional)
     * @return ApiResponse<RuntimeActionResult?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun runtimeEngineWithHttpInfo(name: NameRuntimeEngine, runtimeEngineRequest: RuntimeEngineRequest?) : ApiResponse<RuntimeActionResult?> {
        val localVariableConfig = runtimeEngineRequestConfig(name = name, runtimeEngineRequest = runtimeEngineRequest)

        return request<RuntimeEngineRequest, RuntimeActionResult>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation runtimeEngine
     *
     * @param name 
     * @param runtimeEngineRequest  (optional)
     * @return RequestConfig
     */
    fun runtimeEngineRequestConfig(name: NameRuntimeEngine, runtimeEngineRequest: RuntimeEngineRequest?) : RequestConfig<RuntimeEngineRequest> {
        val localVariableBody = runtimeEngineRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/runtime/engines/{name}".replace("{"+"name"+"}", encodeURIComponent(name.value.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * enum for parameter id
     */
     enum class IdRuntimeService(val value: kotlin.String) {
         @Json(name = "searxng") searxng("searxng"),
         @Json(name = "reranker") reranker("reranker"),
         @Json(name = "opendecision") opendecision("opendecision");

        /**
         * Override [toString()] to avoid using the enum variable name as the value, and instead use
         * the actual value defined in the API spec file.
         *
         * This solves a problem when the variable name and its value are different, and ensures that
         * the client sends the correct enum values to the server always.
         */
        override fun toString(): kotlin.String = "$value"
     }

    /**
     * POST /v1/runtime/services/{id}
     * Start or stop a catalogue service, or pick a capability container&#39;s model — each runs loopback-only and the gateway points at it.
     * &#x60;{ action: &#39;start&#39; | &#39;stop&#39; }&#x60;. &#x60;start&#x60; brings the engine up if it is not, runs the service&#39;s container from its kit (SearXNG: &#x60;127.0.0.1:8888&#x60;, JSON on, the limiter off, a random secret, capabilities dropped; &#x60;reranker&#x60; on 8889 and &#x60;opendecision&#x60; on 8890 with the shared model cache mounted, gateway 0.20+) — the first start pulls the image — waits for it to answer, and sets the config that points the gateway at it (&#x60;search.searxng.url&#x60;; &#x60;capabilities.rerank&#x60; / &#x60;capabilities.decide&#x60;, so &#x60;/v1/rerank&#x60; and &#x60;/v1/decide&#x60; are served and listed). &#x60;stop&#x60; stops the container and clears what it set. &#x60;{ action: &#39;model&#39;, model }&#x60; (gateway 0.22+) picks the model a capability container runs — an id from its catalogue (&#x60;GET /v1/runtime&#x60; &#x60;services.&lt;id&gt;.models&#x60;) or a Hugging Face &#x60;owner/name&#x60; — gated by the container ENGINE&#39;s memory (a model it cannot hold is refused with the command that raises the ceiling); the container is re-created with the pick and restarted when it ran. 
     * @param id 
     * @param runtimeServiceRequest  (optional)
     * @return RuntimeActionResult
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun runtimeService(id: IdRuntimeService, runtimeServiceRequest: RuntimeServiceRequest? = null) : RuntimeActionResult {
        val localVarResponse = runtimeServiceWithHttpInfo(id = id, runtimeServiceRequest = runtimeServiceRequest)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as RuntimeActionResult
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/runtime/services/{id}
     * Start or stop a catalogue service, or pick a capability container&#39;s model — each runs loopback-only and the gateway points at it.
     * &#x60;{ action: &#39;start&#39; | &#39;stop&#39; }&#x60;. &#x60;start&#x60; brings the engine up if it is not, runs the service&#39;s container from its kit (SearXNG: &#x60;127.0.0.1:8888&#x60;, JSON on, the limiter off, a random secret, capabilities dropped; &#x60;reranker&#x60; on 8889 and &#x60;opendecision&#x60; on 8890 with the shared model cache mounted, gateway 0.20+) — the first start pulls the image — waits for it to answer, and sets the config that points the gateway at it (&#x60;search.searxng.url&#x60;; &#x60;capabilities.rerank&#x60; / &#x60;capabilities.decide&#x60;, so &#x60;/v1/rerank&#x60; and &#x60;/v1/decide&#x60; are served and listed). &#x60;stop&#x60; stops the container and clears what it set. &#x60;{ action: &#39;model&#39;, model }&#x60; (gateway 0.22+) picks the model a capability container runs — an id from its catalogue (&#x60;GET /v1/runtime&#x60; &#x60;services.&lt;id&gt;.models&#x60;) or a Hugging Face &#x60;owner/name&#x60; — gated by the container ENGINE&#39;s memory (a model it cannot hold is refused with the command that raises the ceiling); the container is re-created with the pick and restarted when it ran. 
     * @param id 
     * @param runtimeServiceRequest  (optional)
     * @return ApiResponse<RuntimeActionResult?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun runtimeServiceWithHttpInfo(id: IdRuntimeService, runtimeServiceRequest: RuntimeServiceRequest?) : ApiResponse<RuntimeActionResult?> {
        val localVariableConfig = runtimeServiceRequestConfig(id = id, runtimeServiceRequest = runtimeServiceRequest)

        return request<RuntimeServiceRequest, RuntimeActionResult>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation runtimeService
     *
     * @param id 
     * @param runtimeServiceRequest  (optional)
     * @return RequestConfig
     */
    fun runtimeServiceRequestConfig(id: IdRuntimeService, runtimeServiceRequest: RuntimeServiceRequest?) : RequestConfig<RuntimeServiceRequest> {
        val localVariableBody = runtimeServiceRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/runtime/services/{id}".replace("{"+"id"+"}", encodeURIComponent(id.value.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/runtime
     * The runtime — the process sandbox, what is running now, the container engine, the services.
     * One document for Settings › Runtime. &#x60;sandbox&#x60; is the bridge&#39;s own (&#x60;/health.sandbox&#x60;: enabled, mode &#x60;open&#x60; | &#x60;allowlist&#x60; | &#x60;none&#x60;, the runtime found, the reason when none, the global &#x60;extras&#x60;, whether a process can get a session of its own, and &#x60;refused&#x60; — the last hosts any process was refused, names only). &#x60;processes&#x60; lists every local MCP server running for the user with its sandbox record and the hosts it was refused, and the warm agent processes. &#x60;engines&#x60; says which container engine exists (&#x60;podman&#x60; first, &#x60;docker&#x60;) and whether it can run a container now; when none does, &#x60;install&#x60; carries the command for this platform — shown to the person, never run by the gateway. &#x60;services&#x60; is the catalogue: &#x60;searxng&#x60; with its state (&#x60;no-engine&#x60; | &#x60;engine-stopped&#x60; | &#x60;absent&#x60; | &#x60;stopped&#x60; | &#x60;running&#x60;), its loopback URL and whether it answers. 
     * @return RuntimeDocument
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun runtimeStatus() : RuntimeDocument {
        val localVarResponse = runtimeStatusWithHttpInfo()

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as RuntimeDocument
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/runtime
     * The runtime — the process sandbox, what is running now, the container engine, the services.
     * One document for Settings › Runtime. &#x60;sandbox&#x60; is the bridge&#39;s own (&#x60;/health.sandbox&#x60;: enabled, mode &#x60;open&#x60; | &#x60;allowlist&#x60; | &#x60;none&#x60;, the runtime found, the reason when none, the global &#x60;extras&#x60;, whether a process can get a session of its own, and &#x60;refused&#x60; — the last hosts any process was refused, names only). &#x60;processes&#x60; lists every local MCP server running for the user with its sandbox record and the hosts it was refused, and the warm agent processes. &#x60;engines&#x60; says which container engine exists (&#x60;podman&#x60; first, &#x60;docker&#x60;) and whether it can run a container now; when none does, &#x60;install&#x60; carries the command for this platform — shown to the person, never run by the gateway. &#x60;services&#x60; is the catalogue: &#x60;searxng&#x60; with its state (&#x60;no-engine&#x60; | &#x60;engine-stopped&#x60; | &#x60;absent&#x60; | &#x60;stopped&#x60; | &#x60;running&#x60;), its loopback URL and whether it answers. 
     * @return ApiResponse<RuntimeDocument?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun runtimeStatusWithHttpInfo() : ApiResponse<RuntimeDocument?> {
        val localVariableConfig = runtimeStatusRequestConfig()

        return request<Unit, RuntimeDocument>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation runtimeStatus
     *
     * @return RequestConfig
     */
    fun runtimeStatusRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/runtime",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
