/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package net.chatpanel.sdk.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import net.chatpanel.sdk.models.ErrorResponse
import net.chatpanel.sdk.models.SkillsGet200Response
import net.chatpanel.sdk.models.SkillsList200Response
import net.chatpanel.sdk.models.SkillsQuarantined200Response

import com.squareup.moshi.Json

import net.chatpanel.sdk.infrastructure.ApiClient
import net.chatpanel.sdk.infrastructure.ApiResponse
import net.chatpanel.sdk.infrastructure.ClientException
import net.chatpanel.sdk.infrastructure.ClientError
import net.chatpanel.sdk.infrastructure.ServerException
import net.chatpanel.sdk.infrastructure.ServerError
import net.chatpanel.sdk.infrastructure.MultiValueMap
import net.chatpanel.sdk.infrastructure.PartConfig
import net.chatpanel.sdk.infrastructure.RequestConfig
import net.chatpanel.sdk.infrastructure.RequestMethod
import net.chatpanel.sdk.infrastructure.ResponseType
import net.chatpanel.sdk.infrastructure.Success
import net.chatpanel.sdk.infrastructure.toMultiValue

open class SkillsApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.BASE_URL_KEY, "http://127.0.0.1:4320")
        }
    }

    /**
     * GET /skills/{skillId}
     * One skill, with its prompt.
     * 
     * @param skillId One path segment; slashes and &#x60;..&#x60; are refused.
     * @param workdir  (optional)
     * @return SkillsGet200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun skillsGet(skillId: kotlin.String, workdir: kotlin.String? = null) : SkillsGet200Response {
        val localVarResponse = skillsGetWithHttpInfo(skillId = skillId, workdir = workdir)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as SkillsGet200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /skills/{skillId}
     * One skill, with its prompt.
     * 
     * @param skillId One path segment; slashes and &#x60;..&#x60; are refused.
     * @param workdir  (optional)
     * @return ApiResponse<SkillsGet200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun skillsGetWithHttpInfo(skillId: kotlin.String, workdir: kotlin.String?) : ApiResponse<SkillsGet200Response?> {
        val localVariableConfig = skillsGetRequestConfig(skillId = skillId, workdir = workdir)

        return request<Unit, SkillsGet200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation skillsGet
     *
     * @param skillId One path segment; slashes and &#x60;..&#x60; are refused.
     * @param workdir  (optional)
     * @return RequestConfig
     */
    fun skillsGetRequestConfig(skillId: kotlin.String, workdir: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (workdir != null) {
                    put("workdir", listOf(workdir.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/skills/{skillId}".replace("{"+"skillId"+"}", encodeURIComponent(skillId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /skills
     * The skills on this machine — with a prompt character count, not the prompt.
     * 
     * @param workdir Include the project-local skill roots of this directory (0.9.4+). (optional)
     * @return SkillsList200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun skillsList(workdir: kotlin.String? = null) : SkillsList200Response {
        val localVarResponse = skillsListWithHttpInfo(workdir = workdir)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as SkillsList200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /skills
     * The skills on this machine — with a prompt character count, not the prompt.
     * 
     * @param workdir Include the project-local skill roots of this directory (0.9.4+). (optional)
     * @return ApiResponse<SkillsList200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun skillsListWithHttpInfo(workdir: kotlin.String?) : ApiResponse<SkillsList200Response?> {
        val localVariableConfig = skillsListRequestConfig(workdir = workdir)

        return request<Unit, SkillsList200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation skillsList
     *
     * @param workdir Include the project-local skill roots of this directory (0.9.4+). (optional)
     * @return RequestConfig
     */
    fun skillsListRequestConfig(workdir: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (workdir != null) {
                    put("workdir", listOf(workdir.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/skills",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /skills-quarantined
     * Packages the admission scanner refused — what is on disk and deliberately not listed.
     * A skill package is a prompt that will run with tools attached, so it is scanned before it is admitted. One that fails is kept out of &#x60;GET /skills&#x60; entirely; this is the only way to learn it exists, and why. The bridge has implemented it since packages could arrive; nothing could reach it until 0.48.0.
     * @param workdir  (optional)
     * @return SkillsQuarantined200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun skillsQuarantined(workdir: kotlin.String? = null) : SkillsQuarantined200Response {
        val localVarResponse = skillsQuarantinedWithHttpInfo(workdir = workdir)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as SkillsQuarantined200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /skills-quarantined
     * Packages the admission scanner refused — what is on disk and deliberately not listed.
     * A skill package is a prompt that will run with tools attached, so it is scanned before it is admitted. One that fails is kept out of &#x60;GET /skills&#x60; entirely; this is the only way to learn it exists, and why. The bridge has implemented it since packages could arrive; nothing could reach it until 0.48.0.
     * @param workdir  (optional)
     * @return ApiResponse<SkillsQuarantined200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun skillsQuarantinedWithHttpInfo(workdir: kotlin.String?) : ApiResponse<SkillsQuarantined200Response?> {
        val localVariableConfig = skillsQuarantinedRequestConfig(workdir = workdir)

        return request<Unit, SkillsQuarantined200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation skillsQuarantined
     *
     * @param workdir  (optional)
     * @return RequestConfig
     */
    fun skillsQuarantinedRequestConfig(workdir: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (workdir != null) {
                    put("workdir", listOf(workdir.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/skills-quarantined",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
