=begin
#ChatPanel Gateway API

#The ChatPanel gateway runs on the user's machine (loopback only, port 4320 by default). It redacts personal data before a model sees it, routes model traffic, and holds the user's searchable history, durable memory, shared preferences and the team/project run boards.  **It only answers on loopback.** A client on another host cannot reach it; an SDK refuses a non-loopback base URL unless the integrator opts in and uses TLS.  **Two trust levels.** The `/v1` data plane is open to any local process — that is the product. Writes that change what every client sees (remember, forget, ingest) and anything admin-shaped require the per-install token the gateway writes to `~/.chatpanel/gateway-token` (mode 0600), or a copy obtained by pairing (`POST /pair` with a one-time code from `chatpanel-gateway pair`). `POST /whoami` says which trust you have.  **Errors** are `{ error: { message, type } }` (or `{ error: \"text\" }` on the oldest routes) with the HTTP status. `type` is a stable machine word: `not_found`, `invalid_request`, `unknown_endpoint`, `unavailable`, `bridge_unreachable`, `no_bridge`, `redact_error`, `search_error`, `memory_error`, `team_error`, `ingest_error`, `prefs_error`. 

The version of the OpenAPI document: 0.35.0

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module ChatPanel
  class A2aApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Every remote agent this gateway has spoken to.
    # What the audit lists — an agent a person connected is a host this machine talks to.
    # @param [Hash] opts the optional parameters
    # @return [A2aAgents200Response]
    def a2a_agents(opts = {})
      data, _status_code, _headers = a2a_agents_with_http_info(opts)
      data
    end

    # Every remote agent this gateway has spoken to.
    # What the audit lists — an agent a person connected is a host this machine talks to.
    # @param [Hash] opts the optional parameters
    # @return [Array<(A2aAgents200Response, Integer, Hash)>] A2aAgents200Response data, response status code and response headers
    def a2a_agents_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: A2aApi.a2a_agents ...'
      end
      # resource path
      local_var_path = '/a2a/agents'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'A2aAgents200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenHeader', 'gatewayToken']

      new_options = opts.merge(
        :operation => :"A2aApi.a2a_agents",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: A2aApi#a2a_agents\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Fetch a remote agent's card, revalidating the one already held.
    # The gateway is the only component allowed to reach a remote agent: every outbound host goes through its SSRF guard, and a card names the endpoints this machine will then talk to. Cached per §8.6 — an ETag is revalidated with `If-None-Match`, so `fresh: false` means the peer answered 304 and the card is unchanged. Plain HTTP is refused for a remote host; loopback is not.
    # @param a2a_card_request [A2aCardRequest] 
    # @param [Hash] opts the optional parameters
    # @return [A2aCard200Response]
    def a2a_card(a2a_card_request, opts = {})
      data, _status_code, _headers = a2a_card_with_http_info(a2a_card_request, opts)
      data
    end

    # Fetch a remote agent&#39;s card, revalidating the one already held.
    # The gateway is the only component allowed to reach a remote agent: every outbound host goes through its SSRF guard, and a card names the endpoints this machine will then talk to. Cached per §8.6 — an ETag is revalidated with &#x60;If-None-Match&#x60;, so &#x60;fresh: false&#x60; means the peer answered 304 and the card is unchanged. Plain HTTP is refused for a remote host; loopback is not.
    # @param a2a_card_request [A2aCardRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(A2aCard200Response, Integer, Hash)>] A2aCard200Response data, response status code and response headers
    def a2a_card_with_http_info(a2a_card_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: A2aApi.a2a_card ...'
      end
      # verify the required parameter 'a2a_card_request' is set
      if @api_client.config.client_side_validation && a2a_card_request.nil?
        fail ArgumentError, "Missing the required parameter 'a2a_card_request' when calling A2aApi.a2a_card"
      end
      # resource path
      local_var_path = '/a2a/card'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(a2a_card_request)

      # return_type
      return_type = opts[:debug_return_type] || 'A2aCard200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenHeader', 'gatewayToken']

      new_options = opts.merge(
        :operation => :"A2aApi.a2a_card",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: A2aApi#a2a_card\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Send a message to a remote agent and wait for the answer.
    # The reply is a TASK or a MESSAGE — an agent that can answer at once returns a message and no task is ever created, so `kind` says which. `text` and `needs` are derived here rather than by each caller: `needs` is `answer` for an input stop and `approval` for an authorization one, and telling a caller to send a message when approval is wanted is how a task sits forever with both ends waiting.
    # @param a2_a_send_request [A2ASendRequest] 
    # @param [Hash] opts the optional parameters
    # @return [A2AResult]
    def a2a_message(a2_a_send_request, opts = {})
      data, _status_code, _headers = a2a_message_with_http_info(a2_a_send_request, opts)
      data
    end

    # Send a message to a remote agent and wait for the answer.
    # The reply is a TASK or a MESSAGE — an agent that can answer at once returns a message and no task is ever created, so &#x60;kind&#x60; says which. &#x60;text&#x60; and &#x60;needs&#x60; are derived here rather than by each caller: &#x60;needs&#x60; is &#x60;answer&#x60; for an input stop and &#x60;approval&#x60; for an authorization one, and telling a caller to send a message when approval is wanted is how a task sits forever with both ends waiting.
    # @param a2_a_send_request [A2ASendRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(A2AResult, Integer, Hash)>] A2AResult data, response status code and response headers
    def a2a_message_with_http_info(a2_a_send_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: A2aApi.a2a_message ...'
      end
      # verify the required parameter 'a2_a_send_request' is set
      if @api_client.config.client_side_validation && a2_a_send_request.nil?
        fail ArgumentError, "Missing the required parameter 'a2_a_send_request' when calling A2aApi.a2a_message"
      end
      # resource path
      local_var_path = '/a2a/message'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(a2_a_send_request)

      # return_type
      return_type = opts[:debug_return_type] || 'A2AResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenHeader', 'gatewayToken']

      new_options = opts.merge(
        :operation => :"A2aApi.a2a_message",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: A2aApi#a2a_message\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Send a message and stream the answer as it is produced.
    # Server-sent events, one per protocol frame — `task`, `status`, `artifact`, `message`, then `done` with the final result (or `error`). Each event carries the task as it stands, so a chunked artifact arrives whole rather than as fragments the caller must reassemble. Requires the agent to advertise `capabilities.streaming`.
    # @param a2_a_send_request [A2ASendRequest] 
    # @param [Hash] opts the optional parameters
    # @return [String]
    def a2a_stream(a2_a_send_request, opts = {})
      data, _status_code, _headers = a2a_stream_with_http_info(a2_a_send_request, opts)
      data
    end

    # Send a message and stream the answer as it is produced.
    # Server-sent events, one per protocol frame — &#x60;task&#x60;, &#x60;status&#x60;, &#x60;artifact&#x60;, &#x60;message&#x60;, then &#x60;done&#x60; with the final result (or &#x60;error&#x60;). Each event carries the task as it stands, so a chunked artifact arrives whole rather than as fragments the caller must reassemble. Requires the agent to advertise &#x60;capabilities.streaming&#x60;.
    # @param a2_a_send_request [A2ASendRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(String, Integer, Hash)>] String data, response status code and response headers
    def a2a_stream_with_http_info(a2_a_send_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: A2aApi.a2a_stream ...'
      end
      # verify the required parameter 'a2_a_send_request' is set
      if @api_client.config.client_side_validation && a2_a_send_request.nil?
        fail ArgumentError, "Missing the required parameter 'a2_a_send_request' when calling A2aApi.a2a_stream"
      end
      # resource path
      local_var_path = '/a2a/message/stream'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/event-stream', 'application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(a2_a_send_request)

      # return_type
      return_type = opts[:debug_return_type] || 'String'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenHeader', 'gatewayToken']

      new_options = opts.merge(
        :operation => :"A2aApi.a2a_stream",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: A2aApi#a2a_stream\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Poll or cancel a task on a remote agent.
    # @param a2a_task_request [A2aTaskRequest] 
    # @param [Hash] opts the optional parameters
    # @return [A2AResult]
    def a2a_task(a2a_task_request, opts = {})
      data, _status_code, _headers = a2a_task_with_http_info(a2a_task_request, opts)
      data
    end

    # Poll or cancel a task on a remote agent.
    # @param a2a_task_request [A2aTaskRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(A2AResult, Integer, Hash)>] A2AResult data, response status code and response headers
    def a2a_task_with_http_info(a2a_task_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: A2aApi.a2a_task ...'
      end
      # verify the required parameter 'a2a_task_request' is set
      if @api_client.config.client_side_validation && a2a_task_request.nil?
        fail ArgumentError, "Missing the required parameter 'a2a_task_request' when calling A2aApi.a2a_task"
      end
      # resource path
      local_var_path = '/a2a/task'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(a2a_task_request)

      # return_type
      return_type = opts[:debug_return_type] || 'A2AResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenHeader', 'gatewayToken']

      new_options = opts.merge(
        :operation => :"A2aApi.a2a_task",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: A2aApi#a2a_task\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
