=begin
#ChatPanel Gateway API

#The ChatPanel gateway runs on the user's machine (loopback only, port 4320 by default). It redacts personal data before a model sees it, routes model traffic, and holds the user's searchable history, durable memory, shared preferences and the team/project run boards.  **It only answers on loopback.** A client on another host cannot reach it; an SDK refuses a non-loopback base URL unless the integrator opts in and uses TLS.  **Two trust levels.** The `/v1` data plane is open to any local process — that is the product. Writes that change what every client sees (remember, forget, ingest) and anything admin-shaped require the per-install token the gateway writes to `~/.chatpanel/gateway-token` (mode 0600), or a copy obtained by pairing (`POST /pair` with a one-time code from `chatpanel-gateway pair`). `POST /whoami` says which trust you have.  **Errors** are `{ error: { message, type } }` (or `{ error: \"text\" }` on the oldest routes) with the HTTP status. `type` is a stable machine word: `not_found`, `invalid_request`, `unknown_endpoint`, `unavailable`, `bridge_unreachable`, `no_bridge`, `redact_error`, `search_error`, `memory_error`, `team_error`, `ingest_error`, `prefs_error`. 

The version of the OpenAPI document: 0.35.0

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module ChatPanel
  class AudioApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Text to speech (OpenAI-compatible) — a WAV back.
    # `{ input, voice?, speed?, response_format? }` → `audio/wav`, from the gateway's own voice (Kokoro / VITS in-process) or the provider its table names (an ElevenLabs or OpenAI voice — then the text leaves the machine, and the audit says so). Not redacted: synthesis is for the person who wrote the text. `/tts` is the same handler with `text`. 
    # @param audio_speech_request [AudioSpeechRequest] 
    # @param [Hash] opts the optional parameters
    # @return [File]
    def audio_speech(audio_speech_request, opts = {})
      data, _status_code, _headers = audio_speech_with_http_info(audio_speech_request, opts)
      data
    end

    # Text to speech (OpenAI-compatible) — a WAV back.
    # &#x60;{ input, voice?, speed?, response_format? }&#x60; → &#x60;audio/wav&#x60;, from the gateway&#39;s own voice (Kokoro / VITS in-process) or the provider its table names (an ElevenLabs or OpenAI voice — then the text leaves the machine, and the audit says so). Not redacted: synthesis is for the person who wrote the text. &#x60;/tts&#x60; is the same handler with &#x60;text&#x60;. 
    # @param audio_speech_request [AudioSpeechRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(File, Integer, Hash)>] File data, response status code and response headers
    def audio_speech_with_http_info(audio_speech_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AudioApi.audio_speech ...'
      end
      # verify the required parameter 'audio_speech_request' is set
      if @api_client.config.client_side_validation && audio_speech_request.nil?
        fail ArgumentError, "Missing the required parameter 'audio_speech_request' when calling AudioApi.audio_speech"
      end
      # resource path
      local_var_path = '/v1/audio/speech'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['audio/wav', 'application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(audio_speech_request)

      # return_type
      return_type = opts[:debug_return_type] || 'File'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['gatewayToken']

      new_options = opts.merge(
        :operation => :"AudioApi.audio_speech",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AudioApi#audio_speech\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Transcribe an audio file (OpenAI-compatible).
    # OpenAI's shape over the gateway's own transcriber — the in-process whisper, or the provider its capability table names (a hosted API, a container the Runtime started). A WAV is decoded by the gateway itself; mp3/m4a/webm/ogg/flac go through `ffmpeg` when it is on the gateway's PATH, else 415 says so. Beyond OpenAI: `diarize=true` puts a `speaker` on every segment of `verbose_json`. The live microphone keeps the session API (`/stt/sessions`); this is for a file. 
    # @param file [File] WAV (any rate, channels, 8/16/24/32-bit or float), or any format ffmpeg reads.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :model Ignored — the gateway transcribes with what its table says; kept for OpenAI clients.
    # @option opts [String] :language ISO code; auto-detected when absent.
    # @option opts [String] :response_format  (default to 'json')
    # @option opts [String] :diarize A speaker per segment (verbose_json).
    # @return [Transcription]
    def audio_transcribe(file, opts = {})
      data, _status_code, _headers = audio_transcribe_with_http_info(file, opts)
      data
    end

    # Transcribe an audio file (OpenAI-compatible).
    # OpenAI&#39;s shape over the gateway&#39;s own transcriber — the in-process whisper, or the provider its capability table names (a hosted API, a container the Runtime started). A WAV is decoded by the gateway itself; mp3/m4a/webm/ogg/flac go through &#x60;ffmpeg&#x60; when it is on the gateway&#39;s PATH, else 415 says so. Beyond OpenAI: &#x60;diarize&#x3D;true&#x60; puts a &#x60;speaker&#x60; on every segment of &#x60;verbose_json&#x60;. The live microphone keeps the session API (&#x60;/stt/sessions&#x60;); this is for a file. 
    # @param file [File] WAV (any rate, channels, 8/16/24/32-bit or float), or any format ffmpeg reads.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :model Ignored — the gateway transcribes with what its table says; kept for OpenAI clients.
    # @option opts [String] :language ISO code; auto-detected when absent.
    # @option opts [String] :response_format  (default to 'json')
    # @option opts [String] :diarize A speaker per segment (verbose_json).
    # @return [Array<(Transcription, Integer, Hash)>] Transcription data, response status code and response headers
    def audio_transcribe_with_http_info(file, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AudioApi.audio_transcribe ...'
      end
      # verify the required parameter 'file' is set
      if @api_client.config.client_side_validation && file.nil?
        fail ArgumentError, "Missing the required parameter 'file' when calling AudioApi.audio_transcribe"
      end
      allowable_values = ["json", "text", "verbose_json"]
      if @api_client.config.client_side_validation && opts[:'response_format'] && !allowable_values.include?(opts[:'response_format'])
        fail ArgumentError, "invalid value for \"response_format\", must be one of #{allowable_values}"
      end
      allowable_values = ["true", "false"]
      if @api_client.config.client_side_validation && opts[:'diarize'] && !allowable_values.include?(opts[:'diarize'])
        fail ArgumentError, "invalid value for \"diarize\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/v1/audio/transcriptions'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'text/plain']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['multipart/form-data'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['file'] = file
      form_params['model'] = opts[:'model'] if !opts[:'model'].nil?
      form_params['language'] = opts[:'language'] if !opts[:'language'].nil?
      form_params['response_format'] = opts[:'response_format'] if !opts[:'response_format'].nil?
      form_params['diarize'] = opts[:'diarize'] if !opts[:'diarize'].nil?

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Transcription'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['gatewayToken']

      new_options = opts.merge(
        :operation => :"AudioApi.audio_transcribe",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AudioApi#audio_transcribe\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
