=begin
#ChatPanel Gateway API

#The ChatPanel gateway runs on the user's machine (loopback only, port 4320 by default). It redacts personal data before a model sees it, routes model traffic, and holds the user's searchable history, durable memory, shared preferences and the team/project run boards.  **It only answers on loopback.** A client on another host cannot reach it; an SDK refuses a non-loopback base URL unless the integrator opts in and uses TLS.  **Two trust levels.** The `/v1` data plane is open to any local process — that is the product. Writes that change what every client sees (remember, forget, ingest) and anything admin-shaped require the per-install token the gateway writes to `~/.chatpanel/gateway-token` (mode 0600), or a copy obtained by pairing (`POST /pair` with a one-time code from `chatpanel-gateway pair`). `POST /whoami` says which trust you have.  **Errors** are `{ error: { message, type } }` (or `{ error: \"text\" }` on the oldest routes) with the HTTP status. `type` is a stable machine word: `not_found`, `invalid_request`, `unknown_endpoint`, `unavailable`, `bridge_unreachable`, `no_bridge`, `redact_error`, `search_error`, `memory_error`, `team_error`, `ingest_error`, `prefs_error`. 

The version of the OpenAPI document: 0.36.1

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module ChatPanel
  class BrowserApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # The browser says what it offers — its page tool spec and guidance.
    # @param browser_announce [BrowserAnnounce] 
    # @param [Hash] opts the optional parameters
    # @return [BrowserAnnounce200Response]
    def browser_announce(browser_announce, opts = {})
      data, _status_code, _headers = browser_announce_with_http_info(browser_announce, opts)
      data
    end

    # The browser says what it offers — its page tool spec and guidance.
    # @param browser_announce [BrowserAnnounce] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BrowserAnnounce200Response, Integer, Hash)>] BrowserAnnounce200Response data, response status code and response headers
    def browser_announce_with_http_info(browser_announce, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BrowserApi.browser_announce ...'
      end
      # verify the required parameter 'browser_announce' is set
      if @api_client.config.client_side_validation && browser_announce.nil?
        fail ArgumentError, "Missing the required parameter 'browser_announce' when calling BrowserApi.browser_announce"
      end
      # resource path
      local_var_path = '/v1/browser/announce'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(browser_announce)

      # return_type
      return_type = opts[:debug_return_type] || 'BrowserAnnounce200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenHeader', 'gatewayToken']

      new_options = opts.merge(
        :operation => :"BrowserApi.browser_announce",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BrowserApi#browser_announce\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Run one page action in the person's browser and wait for its result.
    # Carried to the connected browser, which runs it on the task's own tab through the same guards as its own page actions — the first call of a panel session asks the person, and anything that submits, pays or books is confirmed by them. Waits up to `timeoutMs` (default 120 s) because a confirmation is a person deciding. 
    # @param browser_call [BrowserCall] 
    # @param [Hash] opts the optional parameters
    # @return [BrowserCallResult]
    def browser_call(browser_call, opts = {})
      data, _status_code, _headers = browser_call_with_http_info(browser_call, opts)
      data
    end

    # Run one page action in the person&#39;s browser and wait for its result.
    # Carried to the connected browser, which runs it on the task&#39;s own tab through the same guards as its own page actions — the first call of a panel session asks the person, and anything that submits, pays or books is confirmed by them. Waits up to &#x60;timeoutMs&#x60; (default 120 s) because a confirmation is a person deciding. 
    # @param browser_call [BrowserCall] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BrowserCallResult, Integer, Hash)>] BrowserCallResult data, response status code and response headers
    def browser_call_with_http_info(browser_call, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BrowserApi.browser_call ...'
      end
      # verify the required parameter 'browser_call' is set
      if @api_client.config.client_side_validation && browser_call.nil?
        fail ArgumentError, "Missing the required parameter 'browser_call' when calling BrowserApi.browser_call"
      end
      # resource path
      local_var_path = '/v1/browser/call'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(browser_call)

      # return_type
      return_type = opts[:debug_return_type] || 'BrowserCallResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenHeader', 'gatewayToken']

      new_options = opts.merge(
        :operation => :"BrowserApi.browser_call",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BrowserApi#browser_call\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # The browser answers a call it ran. Only the session the call went to may answer it.
    # @param browser_result [BrowserResult] 
    # @param [Hash] opts the optional parameters
    # @return [BrowserAnnounce200Response]
    def browser_result(browser_result, opts = {})
      data, _status_code, _headers = browser_result_with_http_info(browser_result, opts)
      data
    end

    # The browser answers a call it ran. Only the session the call went to may answer it.
    # @param browser_result [BrowserResult] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BrowserAnnounce200Response, Integer, Hash)>] BrowserAnnounce200Response data, response status code and response headers
    def browser_result_with_http_info(browser_result, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BrowserApi.browser_result ...'
      end
      # verify the required parameter 'browser_result' is set
      if @api_client.config.client_side_validation && browser_result.nil?
        fail ArgumentError, "Missing the required parameter 'browser_result' when calling BrowserApi.browser_result"
      end
      # resource path
      local_var_path = '/v1/browser/result'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(browser_result)

      # return_type
      return_type = opts[:debug_return_type] || 'BrowserAnnounce200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenHeader', 'gatewayToken']

      new_options = opts.merge(
        :operation => :"BrowserApi.browser_result",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BrowserApi#browser_result\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Is a browser connected, which one, and the page tool it offers.
    # The spec and guidance are the extension's own — a client hands them to its model as they are.
    # @param [Hash] opts the optional parameters
    # @return [BrowserStatus]
    def browser_status(opts = {})
      data, _status_code, _headers = browser_status_with_http_info(opts)
      data
    end

    # Is a browser connected, which one, and the page tool it offers.
    # The spec and guidance are the extension&#39;s own — a client hands them to its model as they are.
    # @param [Hash] opts the optional parameters
    # @return [Array<(BrowserStatus, Integer, Hash)>] BrowserStatus data, response status code and response headers
    def browser_status_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BrowserApi.browser_status ...'
      end
      # resource path
      local_var_path = '/v1/browser'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BrowserStatus'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenHeader', 'gatewayToken']

      new_options = opts.merge(
        :operation => :"BrowserApi.browser_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BrowserApi#browser_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # The browser's end — `hello` with its session, then a `call` frame per action to run.
    # @param [Hash] opts the optional parameters
    # @return [String]
    def browser_stream(opts = {})
      data, _status_code, _headers = browser_stream_with_http_info(opts)
      data
    end

    # The browser&#39;s end — &#x60;hello&#x60; with its session, then a &#x60;call&#x60; frame per action to run.
    # @param [Hash] opts the optional parameters
    # @return [Array<(String, Integer, Hash)>] String data, response status code and response headers
    def browser_stream_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BrowserApi.browser_stream ...'
      end
      # resource path
      local_var_path = '/v1/browser/stream'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/event-stream', 'application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'String'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenHeader', 'gatewayToken']

      new_options = opts.merge(
        :operation => :"BrowserApi.browser_stream",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BrowserApi#browser_stream\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
