=begin
#ChatPanel Gateway API

#The ChatPanel gateway runs on the user's machine (loopback only, port 4320 by default). It redacts personal data before a model sees it, routes model traffic, and holds the user's searchable history, durable memory, shared preferences and the team/project run boards.  **It only answers on loopback.** A client on another host cannot reach it; an SDK refuses a non-loopback base URL unless the integrator opts in and uses TLS.  **Two trust levels.** The `/v1` data plane is open to any local process — that is the product. Writes that change what every client sees (remember, forget, ingest) and anything admin-shaped require the per-install token the gateway writes to `~/.chatpanel/gateway-token` (mode 0600), or a copy obtained by pairing (`POST /pair` with a one-time code from `chatpanel-gateway pair`). `POST /whoami` says which trust you have.  **Errors** are `{ error: { message, type } }` (or `{ error: \"text\" }` on the oldest routes) with the HTTP status. `type` is a stable machine word: `not_found`, `invalid_request`, `unknown_endpoint`, `unavailable`, `bridge_unreachable`, `no_bridge`, `redact_error`, `search_error`, `memory_error`, `team_error`, `ingest_error`, `prefs_error`. 

The version of the OpenAPI document: 0.22.0

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module ChatPanel
  class CapabilitiesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Typed decisions over a text — a choice, a score or a yes/no, each with a probability.
    # ChatPanel's `decide` signature (docs/capability-endpoints.md §4.2): `state` is the text judged, `questions` are keyed by identifier — a `choice` picks one of its `options`, a `score` places the state on `options` read as an ordered rubric, a `noul` is yes/no. Served BY PROXY through the adapter the config names: the `opendecision` container started under Settings › Runtime (TypeSafe's `/v1/systemone` shape, loopback-only), or a server `capabilities.decide` names (a Jev endpoint with a token, another gateway). `calibrated` in the response says whether `p` may be read as a probability — an NLI concentration (OpenDecision) is not one. Errors as `/v1/rerank`. 
    # @param decide_request [DecideRequest] 
    # @param [Hash] opts the optional parameters
    # @return [DecideResponse]
    def capabilities_decide(decide_request, opts = {})
      data, _status_code, _headers = capabilities_decide_with_http_info(decide_request, opts)
      data
    end

    # Typed decisions over a text — a choice, a score or a yes/no, each with a probability.
    # ChatPanel&#39;s &#x60;decide&#x60; signature (docs/capability-endpoints.md §4.2): &#x60;state&#x60; is the text judged, &#x60;questions&#x60; are keyed by identifier — a &#x60;choice&#x60; picks one of its &#x60;options&#x60;, a &#x60;score&#x60; places the state on &#x60;options&#x60; read as an ordered rubric, a &#x60;noul&#x60; is yes/no. Served BY PROXY through the adapter the config names: the &#x60;opendecision&#x60; container started under Settings › Runtime (TypeSafe&#39;s &#x60;/v1/systemone&#x60; shape, loopback-only), or a server &#x60;capabilities.decide&#x60; names (a Jev endpoint with a token, another gateway). &#x60;calibrated&#x60; in the response says whether &#x60;p&#x60; may be read as a probability — an NLI concentration (OpenDecision) is not one. Errors as &#x60;/v1/rerank&#x60;. 
    # @param decide_request [DecideRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DecideResponse, Integer, Hash)>] DecideResponse data, response status code and response headers
    def capabilities_decide_with_http_info(decide_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CapabilitiesApi.capabilities_decide ...'
      end
      # verify the required parameter 'decide_request' is set
      if @api_client.config.client_side_validation && decide_request.nil?
        fail ArgumentError, "Missing the required parameter 'decide_request' when calling CapabilitiesApi.capabilities_decide"
      end
      # resource path
      local_var_path = '/v1/decide'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(decide_request)

      # return_type
      return_type = opts[:debug_return_type] || 'DecideResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['gatewayToken']

      new_options = opts.merge(
        :operation => :"CapabilitiesApi.capabilities_decide",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CapabilitiesApi#capabilities_decide\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Find entities in text — the model's own labels, with offsets and scores.
    # The standard `detect` signature over the in-process entity detector. Labels are the model's own (`private_person`, `PER`, `GIVENNAME`…) — the client maps them; the vocabulary is listed by `GET /v1/capabilities`. `budgetMs` is refused (503 `over_budget`) from the provider's own latency record before the model runs, never missed. An engine that is still loading answers 503 `detector_unready`; an empty `entities` on 200 means the model found nothing. Raw text reaches the model here and nowhere else — this route is loopback-only like the rest of the gateway. 
    # @param detect_request [DetectRequest] 
    # @param [Hash] opts the optional parameters
    # @return [DetectResponse]
    def capabilities_detect(detect_request, opts = {})
      data, _status_code, _headers = capabilities_detect_with_http_info(detect_request, opts)
      data
    end

    # Find entities in text — the model&#39;s own labels, with offsets and scores.
    # The standard &#x60;detect&#x60; signature over the in-process entity detector. Labels are the model&#39;s own (&#x60;private_person&#x60;, &#x60;PER&#x60;, &#x60;GIVENNAME&#x60;…) — the client maps them; the vocabulary is listed by &#x60;GET /v1/capabilities&#x60;. &#x60;budgetMs&#x60; is refused (503 &#x60;over_budget&#x60;) from the provider&#39;s own latency record before the model runs, never missed. An engine that is still loading answers 503 &#x60;detector_unready&#x60;; an empty &#x60;entities&#x60; on 200 means the model found nothing. Raw text reaches the model here and nowhere else — this route is loopback-only like the rest of the gateway. 
    # @param detect_request [DetectRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DetectResponse, Integer, Hash)>] DetectResponse data, response status code and response headers
    def capabilities_detect_with_http_info(detect_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CapabilitiesApi.capabilities_detect ...'
      end
      # verify the required parameter 'detect_request' is set
      if @api_client.config.client_side_validation && detect_request.nil?
        fail ArgumentError, "Missing the required parameter 'detect_request' when calling CapabilitiesApi.capabilities_detect"
      end
      # resource path
      local_var_path = '/v1/detect'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(detect_request)

      # return_type
      return_type = opts[:debug_return_type] || 'DetectResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['gatewayToken']

      new_options = opts.merge(
        :operation => :"CapabilitiesApi.capabilities_detect",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CapabilitiesApi#capabilities_detect\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # What this provider can do — which capabilities, models, measured cost and runtime state.
    # The discovery document a client chooses a provider from: one entry per capability (`detect`, `stt`, `tts` today; `decide`, `rerank`, `embed` as they land), each at its standard route, with the models it can serve, the loaded model's own label vocabulary (`detect`), the measured latency record, and the runtime's state. Never loads a model. 
    # @param [Hash] opts the optional parameters
    # @return [CapabilitiesDocument]
    def capabilities_list(opts = {})
      data, _status_code, _headers = capabilities_list_with_http_info(opts)
      data
    end

    # What this provider can do — which capabilities, models, measured cost and runtime state.
    # The discovery document a client chooses a provider from: one entry per capability (&#x60;detect&#x60;, &#x60;stt&#x60;, &#x60;tts&#x60; today; &#x60;decide&#x60;, &#x60;rerank&#x60;, &#x60;embed&#x60; as they land), each at its standard route, with the models it can serve, the loaded model&#39;s own label vocabulary (&#x60;detect&#x60;), the measured latency record, and the runtime&#39;s state. Never loads a model. 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CapabilitiesDocument, Integer, Hash)>] CapabilitiesDocument data, response status code and response headers
    def capabilities_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CapabilitiesApi.capabilities_list ...'
      end
      # resource path
      local_var_path = '/v1/capabilities'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CapabilitiesDocument'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['gatewayToken']

      new_options = opts.merge(
        :operation => :"CapabilitiesApi.capabilities_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CapabilitiesApi#capabilities_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Order documents by relevance to a query — a cross-encoder, no language model.
    # The Cohere / Jina rerank shape, served BY PROXY: the gateway forwards to the reranker it is pointed at — the `reranker` container started under Settings › Runtime (Text Embeddings Inference with `BAAI/bge-reranker-v2-m3`, loopback-only), or the server `capabilities.rerank` names — through the adapter that speaks its wire, and validates the answer against the contract before it leaves (a wrong shape is 502 `bad_shape`, never a bad order). `budgetMs` is refused (503 `over_budget`) from the gateway's own latency record before dialling. 404 `no_provider` until a provider is configured; 503 `provider_unavailable` when it does not answer. `GET /v1/capabilities` lists it only while configured. 
    # @param rerank_request [RerankRequest] 
    # @param [Hash] opts the optional parameters
    # @return [RerankResponse]
    def capabilities_rerank(rerank_request, opts = {})
      data, _status_code, _headers = capabilities_rerank_with_http_info(rerank_request, opts)
      data
    end

    # Order documents by relevance to a query — a cross-encoder, no language model.
    # The Cohere / Jina rerank shape, served BY PROXY: the gateway forwards to the reranker it is pointed at — the &#x60;reranker&#x60; container started under Settings › Runtime (Text Embeddings Inference with &#x60;BAAI/bge-reranker-v2-m3&#x60;, loopback-only), or the server &#x60;capabilities.rerank&#x60; names — through the adapter that speaks its wire, and validates the answer against the contract before it leaves (a wrong shape is 502 &#x60;bad_shape&#x60;, never a bad order). &#x60;budgetMs&#x60; is refused (503 &#x60;over_budget&#x60;) from the gateway&#39;s own latency record before dialling. 404 &#x60;no_provider&#x60; until a provider is configured; 503 &#x60;provider_unavailable&#x60; when it does not answer. &#x60;GET /v1/capabilities&#x60; lists it only while configured. 
    # @param rerank_request [RerankRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(RerankResponse, Integer, Hash)>] RerankResponse data, response status code and response headers
    def capabilities_rerank_with_http_info(rerank_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CapabilitiesApi.capabilities_rerank ...'
      end
      # verify the required parameter 'rerank_request' is set
      if @api_client.config.client_side_validation && rerank_request.nil?
        fail ArgumentError, "Missing the required parameter 'rerank_request' when calling CapabilitiesApi.capabilities_rerank"
      end
      # resource path
      local_var_path = '/v1/rerank'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(rerank_request)

      # return_type
      return_type = opts[:debug_return_type] || 'RerankResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['gatewayToken']

      new_options = opts.merge(
        :operation => :"CapabilitiesApi.capabilities_rerank",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CapabilitiesApi#capabilities_rerank\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
