=begin
#ChatPanel Gateway API

#The ChatPanel gateway runs on the user's machine (loopback only, port 4320 by default). It redacts personal data before a model sees it, routes model traffic, and holds the user's searchable history, durable memory, shared preferences and the team/project run boards.  **It only answers on loopback.** A client on another host cannot reach it; an SDK refuses a non-loopback base URL unless the integrator opts in and uses TLS.  **Two trust levels.** The `/v1` data plane is open to any local process — that is the product. Writes that change what every client sees (remember, forget, ingest) and anything admin-shaped require the per-install token the gateway writes to `~/.chatpanel/gateway-token` (mode 0600), or a copy obtained by pairing (`POST /pair` with a one-time code from `chatpanel-gateway pair`). `POST /whoami` says which trust you have.  **Errors** are `{ error: { message, type } }` (or `{ error: \"text\" }` on the oldest routes) with the HTTP status. `type` is a stable machine word: `not_found`, `invalid_request`, `unknown_endpoint`, `unavailable`, `bridge_unreachable`, `no_bridge`, `redact_error`, `search_error`, `memory_error`, `team_error`, `ingest_error`, `prefs_error`. 

The version of the OpenAPI document: 0.22.0

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module ChatPanel
  class ChatApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # One chat turn through the gateway (OpenAI-compatible).
    # Redacted on the way out, restored on the way back, routed by `model`. With `stream: true` the response is `text/event-stream` of OpenAI chunk objects ending in `data: [DONE]`. Send `tools` so a redacted turn can still act: the gateway relays a tool call back with real arguments and redacts the result. `X-ChatPanel-Redaction: off` is honoured only from a token-bearing caller (0.6.69+) and is recorded in the trace.  **Two lanes.** An API destination (a cloud or local model endpoint) is a proxy hop and is open to any local caller. An AGENT destination (`codex`, `claude`, `opencode`, … — `provider_type: agent` in `GET /v1/models`) spawns a process on this machine, so the caller must hold the gateway token (0.9.0+): without it the gateway answers **401** `{ type: 'auth', code: 'agent_lane_token_required' }`. The SDKs surface that as `ForbiddenError` with `status` 401. 
    # @param chat_completion_request [ChatCompletionRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_chat_panel_redaction Turn redaction off for this turn — honoured only from a token-bearing caller (0.6.69+), recorded in the trace.
    # @option opts [String] :x_chat_panel_run A team role&#39;s run context (URL-encoded JSON) for the bridge (0.6.89+). Never a token.
    # @return [ChatCompletion]
    def chat_completions(chat_completion_request, opts = {})
      data, _status_code, _headers = chat_completions_with_http_info(chat_completion_request, opts)
      data
    end

    # One chat turn through the gateway (OpenAI-compatible).
    # Redacted on the way out, restored on the way back, routed by &#x60;model&#x60;. With &#x60;stream: true&#x60; the response is &#x60;text/event-stream&#x60; of OpenAI chunk objects ending in &#x60;data: [DONE]&#x60;. Send &#x60;tools&#x60; so a redacted turn can still act: the gateway relays a tool call back with real arguments and redacts the result. &#x60;X-ChatPanel-Redaction: off&#x60; is honoured only from a token-bearing caller (0.6.69+) and is recorded in the trace.  **Two lanes.** An API destination (a cloud or local model endpoint) is a proxy hop and is open to any local caller. An AGENT destination (&#x60;codex&#x60;, &#x60;claude&#x60;, &#x60;opencode&#x60;, … — &#x60;provider_type: agent&#x60; in &#x60;GET /v1/models&#x60;) spawns a process on this machine, so the caller must hold the gateway token (0.9.0+): without it the gateway answers **401** &#x60;{ type: &#39;auth&#39;, code: &#39;agent_lane_token_required&#39; }&#x60;. The SDKs surface that as &#x60;ForbiddenError&#x60; with &#x60;status&#x60; 401. 
    # @param chat_completion_request [ChatCompletionRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_chat_panel_redaction Turn redaction off for this turn — honoured only from a token-bearing caller (0.6.69+), recorded in the trace.
    # @option opts [String] :x_chat_panel_run A team role&#39;s run context (URL-encoded JSON) for the bridge (0.6.89+). Never a token.
    # @return [Array<(ChatCompletion, Integer, Hash)>] ChatCompletion data, response status code and response headers
    def chat_completions_with_http_info(chat_completion_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ChatApi.chat_completions ...'
      end
      # verify the required parameter 'chat_completion_request' is set
      if @api_client.config.client_side_validation && chat_completion_request.nil?
        fail ArgumentError, "Missing the required parameter 'chat_completion_request' when calling ChatApi.chat_completions"
      end
      allowable_values = ["false"]
      if @api_client.config.client_side_validation && opts[:'x_chat_panel_redaction'] && !allowable_values.include?(opts[:'x_chat_panel_redaction'])
        fail ArgumentError, "invalid value for \"x_chat_panel_redaction\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/v1/chat/completions'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'text/event-stream']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-ChatPanel-Redaction'] = opts[:'x_chat_panel_redaction'] if !opts[:'x_chat_panel_redaction'].nil?
      header_params[:'X-ChatPanel-Run'] = opts[:'x_chat_panel_run'] if !opts[:'x_chat_panel_run'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(chat_completion_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ChatCompletion'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['gatewayToken']

      new_options = opts.merge(
        :operation => :"ChatApi.chat_completions",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ChatApi#chat_completions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
