=begin
#ChatPanel Gateway API

#The ChatPanel gateway runs on the user's machine (loopback only, port 4320 by default). It redacts personal data before a model sees it, routes model traffic, and holds the user's searchable history, durable memory, shared preferences and the team/project run boards.  **It only answers on loopback.** A client on another host cannot reach it; an SDK refuses a non-loopback base URL unless the integrator opts in and uses TLS.  **Two trust levels.** The `/v1` data plane is open to any local process — that is the product. Writes that change what every client sees (remember, forget, ingest) and anything admin-shaped require the per-install token the gateway writes to `~/.chatpanel/gateway-token` (mode 0600), or a copy obtained by pairing (`POST /pair` with a one-time code from `chatpanel-gateway pair`). `POST /whoami` says which trust you have.  **Errors** are `{ error: { message, type } }` (or `{ error: \"text\" }` on the oldest routes) with the HTTP status. `type` is a stable machine word: `not_found`, `invalid_request`, `unknown_endpoint`, `unavailable`, `bridge_unreachable`, `no_bridge`, `redact_error`, `search_error`, `memory_error`, `team_error`, `ingest_error`, `prefs_error`. 

The version of the OpenAPI document: 0.22.0

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module ChatPanel
  class EnginesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Append a ledger entry for an engine.
    # @param engine_key [String] 
    # @param request_body [Hash<String, Object>] 
    # @param [Hash] opts the optional parameters
    # @return [Hash<String, Object>]
    def engines_append_entry(engine_key, request_body, opts = {})
      data, _status_code, _headers = engines_append_entry_with_http_info(engine_key, request_body, opts)
      data
    end

    # Append a ledger entry for an engine.
    # @param engine_key [String] 
    # @param request_body [Hash<String, Object>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Hash<String, Object>, Integer, Hash)>] Hash<String, Object> data, response status code and response headers
    def engines_append_entry_with_http_info(engine_key, request_body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EnginesApi.engines_append_entry ...'
      end
      # verify the required parameter 'engine_key' is set
      if @api_client.config.client_side_validation && engine_key.nil?
        fail ArgumentError, "Missing the required parameter 'engine_key' when calling EnginesApi.engines_append_entry"
      end
      if @api_client.config.client_side_validation && engine_key.to_s.length > 300
        fail ArgumentError, 'invalid value for "engine_key" when calling EnginesApi.engines_append_entry, the character length must be smaller than or equal to 300.'
      end

      # verify the required parameter 'request_body' is set
      if @api_client.config.client_side_validation && request_body.nil?
        fail ArgumentError, "Missing the required parameter 'request_body' when calling EnginesApi.engines_append_entry"
      end
      # resource path
      local_var_path = '/v1/engines/{engineKey}/entries'.sub('{engineKey}', CGI.escape(engine_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(request_body)

      # return_type
      return_type = opts[:debug_return_type] || 'Hash<String, Object>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['gatewayToken']

      new_options = opts.merge(
        :operation => :"EnginesApi.engines_append_entry",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EnginesApi#engines_append_entry\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # One engine's card, optionally with entries.
    # @param engine_key [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :entries 
    # @option opts [Integer] :min_calls 
    # @return [Hash<String, Object>]
    def engines_card(engine_key, opts = {})
      data, _status_code, _headers = engines_card_with_http_info(engine_key, opts)
      data
    end

    # One engine&#39;s card, optionally with entries.
    # @param engine_key [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :entries 
    # @option opts [Integer] :min_calls 
    # @return [Array<(Hash<String, Object>, Integer, Hash)>] Hash<String, Object> data, response status code and response headers
    def engines_card_with_http_info(engine_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EnginesApi.engines_card ...'
      end
      # verify the required parameter 'engine_key' is set
      if @api_client.config.client_side_validation && engine_key.nil?
        fail ArgumentError, "Missing the required parameter 'engine_key' when calling EnginesApi.engines_card"
      end
      if @api_client.config.client_side_validation && engine_key.to_s.length > 300
        fail ArgumentError, 'invalid value for "engine_key" when calling EnginesApi.engines_card, the character length must be smaller than or equal to 300.'
      end

      # resource path
      local_var_path = '/v1/engines/{engineKey}/card'.sub('{engineKey}', CGI.escape(engine_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'entries'] = opts[:'entries'] if !opts[:'entries'].nil?
      query_params[:'minCalls'] = opts[:'min_calls'] if !opts[:'min_calls'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Hash<String, Object>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['gatewayToken']

      new_options = opts.merge(
        :operation => :"EnginesApi.engines_card",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EnginesApi#engines_card\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Every engine's card.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :min_calls 
    # @return [EnginesList200Response]
    def engines_list(opts = {})
      data, _status_code, _headers = engines_list_with_http_info(opts)
      data
    end

    # Every engine&#39;s card.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :min_calls 
    # @return [Array<(EnginesList200Response, Integer, Hash)>] EnginesList200Response data, response status code and response headers
    def engines_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EnginesApi.engines_list ...'
      end
      # resource path
      local_var_path = '/v1/engines'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'minCalls'] = opts[:'min_calls'] if !opts[:'min_calls'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EnginesList200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['gatewayToken']

      new_options = opts.merge(
        :operation => :"EnginesApi.engines_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EnginesApi#engines_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
