=begin
#ChatPanel Gateway API

#The ChatPanel gateway runs on the user's machine (loopback only, port 4320 by default). It redacts personal data before a model sees it, routes model traffic, and holds the user's searchable history, durable memory, shared preferences and the team/project run boards.  **It only answers on loopback.** A client on another host cannot reach it; an SDK refuses a non-loopback base URL unless the integrator opts in and uses TLS.  **Two trust levels.** The `/v1` data plane is open to any local process — that is the product. Writes that change what every client sees (remember, forget, ingest) and anything admin-shaped require the per-install token the gateway writes to `~/.chatpanel/gateway-token` (mode 0600), or a copy obtained by pairing (`POST /pair` with a one-time code from `chatpanel-gateway pair`). `POST /whoami` says which trust you have.  **Errors** are `{ error: { message, type } }` (or `{ error: \"text\" }` on the oldest routes) with the HTTP status. `type` is a stable machine word: `not_found`, `invalid_request`, `unknown_endpoint`, `unavailable`, `bridge_unreachable`, `no_bridge`, `redact_error`, `search_error`, `memory_error`, `team_error`, `ingest_error`, `prefs_error`. 

The version of the OpenAPI document: 0.25.0

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module ChatPanel
  class EventsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # The gateway's highest `seq` per host — what a client asks for before it pushes.
    # @param [Hash] opts the optional parameters
    # @return [EventsCursor]
    def events_cursor(opts = {})
      data, _status_code, _headers = events_cursor_with_http_info(opts)
      data
    end

    # The gateway&#39;s highest &#x60;seq&#x60; per host — what a client asks for before it pushes.
    # @param [Hash] opts the optional parameters
    # @return [Array<(EventsCursor, Integer, Hash)>] EventsCursor data, response status code and response headers
    def events_cursor_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EventsApi.events_cursor ...'
      end
      # resource path
      local_var_path = '/v1/events/cursor'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EventsCursor'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenHeader', 'gatewayToken']

      new_options = opts.merge(
        :operation => :"EventsApi.events_cursor",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EventsApi#events_cursor\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Push a batch of this client's durable log as CloudEvents; each event is appended once, each refusal is named.
    # Idempotent on event id, so a retry is free. A `seq` that moves backwards for a host under a new id is a corrupt writer and is refused by itself; the rest of the batch lands. Push what lies above your entry in `cursor` (the gateway's highest `seq` per host) and stop re-sending what `rejected` names. At most 2000 events per batch. A gateway without SQLite answers 501.
    # @param push_events_request [PushEventsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [PushEventsResponse]
    def events_push(push_events_request, opts = {})
      data, _status_code, _headers = events_push_with_http_info(push_events_request, opts)
      data
    end

    # Push a batch of this client&#39;s durable log as CloudEvents; each event is appended once, each refusal is named.
    # Idempotent on event id, so a retry is free. A &#x60;seq&#x60; that moves backwards for a host under a new id is a corrupt writer and is refused by itself; the rest of the batch lands. Push what lies above your entry in &#x60;cursor&#x60; (the gateway&#39;s highest &#x60;seq&#x60; per host) and stop re-sending what &#x60;rejected&#x60; names. At most 2000 events per batch. A gateway without SQLite answers 501.
    # @param push_events_request [PushEventsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PushEventsResponse, Integer, Hash)>] PushEventsResponse data, response status code and response headers
    def events_push_with_http_info(push_events_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EventsApi.events_push ...'
      end
      # verify the required parameter 'push_events_request' is set
      if @api_client.config.client_side_validation && push_events_request.nil?
        fail ArgumentError, "Missing the required parameter 'push_events_request' when calling EventsApi.events_push"
      end
      # resource path
      local_var_path = '/v1/events'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(push_events_request)

      # return_type
      return_type = opts[:debug_return_type] || 'PushEventsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenHeader', 'gatewayToken']

      new_options = opts.merge(
        :operation => :"EventsApi.events_push",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EventsApi#events_push\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # The merged log above a cursor — host by host in `seq` order, as CloudEvents, paged.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor JSON &#x60;{ host: seq }&#x60; — the highest seq per host you already hold. Absent means everything.
    # @option opts [Integer] :limit  (default to 1000)
    # @option opts [String] :host One host&#39;s slice only.
    # @return [EventsPage]
    def events_since(opts = {})
      data, _status_code, _headers = events_since_with_http_info(opts)
      data
    end

    # The merged log above a cursor — host by host in &#x60;seq&#x60; order, as CloudEvents, paged.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor JSON &#x60;{ host: seq }&#x60; — the highest seq per host you already hold. Absent means everything.
    # @option opts [Integer] :limit  (default to 1000)
    # @option opts [String] :host One host&#39;s slice only.
    # @return [Array<(EventsPage, Integer, Hash)>] EventsPage data, response status code and response headers
    def events_since_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EventsApi.events_since ...'
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 1000
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling EventsApi.events_since, must be smaller than or equal to 1000.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling EventsApi.events_since, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/events'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'host'] = opts[:'host'] if !opts[:'host'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EventsPage'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenHeader', 'gatewayToken']

      new_options = opts.merge(
        :operation => :"EventsApi.events_since",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EventsApi#events_since\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # What the merged log measures — bytes and events per turn, per surface, per host and per day; the dedup hit-rate; tool calls; a year projected against the cap.
    # @param [Hash] opts the optional parameters
    # @return [EventsStats]
    def events_stats(opts = {})
      data, _status_code, _headers = events_stats_with_http_info(opts)
      data
    end

    # What the merged log measures — bytes and events per turn, per surface, per host and per day; the dedup hit-rate; tool calls; a year projected against the cap.
    # @param [Hash] opts the optional parameters
    # @return [Array<(EventsStats, Integer, Hash)>] EventsStats data, response status code and response headers
    def events_stats_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EventsApi.events_stats ...'
      end
      # resource path
      local_var_path = '/v1/events/stats'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EventsStats'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenHeader', 'gatewayToken']

      new_options = opts.merge(
        :operation => :"EventsApi.events_stats",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EventsApi#events_stats\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Tail the merged log — `hello` once, then a `cloudevent` frame per appended event; with `cursor`, the backlog above it first.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor JSON &#x60;{ host: seq }&#x60;; when present the events above it are replayed before live frames.
    # @return [String]
    def events_stream(opts = {})
      data, _status_code, _headers = events_stream_with_http_info(opts)
      data
    end

    # Tail the merged log — &#x60;hello&#x60; once, then a &#x60;cloudevent&#x60; frame per appended event; with &#x60;cursor&#x60;, the backlog above it first.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor JSON &#x60;{ host: seq }&#x60;; when present the events above it are replayed before live frames.
    # @return [Array<(String, Integer, Hash)>] String data, response status code and response headers
    def events_stream_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EventsApi.events_stream ...'
      end
      # resource path
      local_var_path = '/v1/events/stream'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/event-stream', 'application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'String'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenHeader', 'gatewayToken']

      new_options = opts.merge(
        :operation => :"EventsApi.events_stream",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EventsApi#events_stream\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
