=begin
#ChatPanel Gateway API

#The ChatPanel gateway runs on the user's machine (loopback only, port 4320 by default). It redacts personal data before a model sees it, routes model traffic, and holds the user's searchable history, durable memory, shared preferences and the team/project run boards.  **It only answers on loopback.** A client on another host cannot reach it; an SDK refuses a non-loopback base URL unless the integrator opts in and uses TLS.  **Two trust levels.** The `/v1` data plane is open to any local process — that is the product. Writes that change what every client sees (remember, forget, ingest) and anything admin-shaped require the per-install token the gateway writes to `~/.chatpanel/gateway-token` (mode 0600), or a copy obtained by pairing (`POST /pair` with a one-time code from `chatpanel-gateway pair`). `POST /whoami` says which trust you have.  **Errors** are `{ error: { message, type } }` (or `{ error: \"text\" }` on the oldest routes) with the HTTP status. `type` is a stable machine word: `not_found`, `invalid_request`, `unknown_endpoint`, `unavailable`, `bridge_unreachable`, `no_bridge`, `redact_error`, `search_error`, `memory_error`, `team_error`, `ingest_error`, `prefs_error`. 

The version of the OpenAPI document: 0.11.0

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module ChatPanel
  class HistoryApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # One full warm record, optionally paged by characters.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :max_chars Page a long transcript instead of pulling it all.
    # @option opts [Integer] :offset  (default to 0)
    # @return [HistoryGet200Response]
    def history_get(id, opts = {})
      data, _status_code, _headers = history_get_with_http_info(id, opts)
      data
    end

    # One full warm record, optionally paged by characters.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :max_chars Page a long transcript instead of pulling it all.
    # @option opts [Integer] :offset  (default to 0)
    # @return [Array<(HistoryGet200Response, Integer, Hash)>] HistoryGet200Response data, response status code and response headers
    def history_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: HistoryApi.history_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling HistoryApi.history_get"
      end
      if @api_client.config.client_side_validation && !opts[:'max_chars'].nil? && opts[:'max_chars'] < 1
        fail ArgumentError, 'invalid value for "opts[:"max_chars"]" when calling HistoryApi.history_get, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'offset'].nil? && opts[:'offset'] < 0
        fail ArgumentError, 'invalid value for "opts[:"offset"]" when calling HistoryApi.history_get, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/v1/history/get'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'id'] = id
      query_params[:'maxChars'] = opts[:'max_chars'] if !opts[:'max_chars'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'HistoryGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['gatewayToken']

      new_options = opts.merge(
        :operation => :"HistoryApi.history_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: HistoryApi#history_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Push flattened (lossy) records into the warm index.
    # @param ingest_request [IngestRequest] 
    # @param [Hash] opts the optional parameters
    # @return [HistoryIngest200Response]
    def history_ingest(ingest_request, opts = {})
      data, _status_code, _headers = history_ingest_with_http_info(ingest_request, opts)
      data
    end

    # Push flattened (lossy) records into the warm index.
    # @param ingest_request [IngestRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(HistoryIngest200Response, Integer, Hash)>] HistoryIngest200Response data, response status code and response headers
    def history_ingest_with_http_info(ingest_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: HistoryApi.history_ingest ...'
      end
      # verify the required parameter 'ingest_request' is set
      if @api_client.config.client_side_validation && ingest_request.nil?
        fail ArgumentError, "Missing the required parameter 'ingest_request' when calling HistoryApi.history_ingest"
      end
      # resource path
      local_var_path = '/v1/history/ingest'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(ingest_request)

      # return_type
      return_type = opts[:debug_return_type] || 'HistoryIngest200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenHeader', 'gatewayToken']

      new_options = opts.merge(
        :operation => :"HistoryApi.history_ingest",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: HistoryApi#history_ingest\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # A page of the warm index — metadata only, no bodies.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit  (default to 50)
    # @option opts [Integer] :offset  (default to 0)
    # @option opts [RecordType] :type 
    # @return [HistoryPage]
    def history_list(opts = {})
      data, _status_code, _headers = history_list_with_http_info(opts)
      data
    end

    # A page of the warm index — metadata only, no bodies.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit  (default to 50)
    # @option opts [Integer] :offset  (default to 0)
    # @option opts [RecordType] :type 
    # @return [Array<(HistoryPage, Integer, Hash)>] HistoryPage data, response status code and response headers
    def history_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: HistoryApi.history_list ...'
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 500
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling HistoryApi.history_list, must be smaller than or equal to 500.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling HistoryApi.history_list, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'offset'].nil? && opts[:'offset'] < 0
        fail ArgumentError, 'invalid value for "opts[:"offset"]" when calling HistoryApi.history_list, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/v1/history/list'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'type'] = opts[:'type'] if !opts[:'type'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'HistoryPage'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['gatewayToken']

      new_options = opts.merge(
        :operation => :"HistoryApi.history_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: HistoryApi#history_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Push whole records; the gateway derives the searchable text itself.
    # @param put_records_request [PutRecordsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [PutRecordsResponse]
    def history_put_records(put_records_request, opts = {})
      data, _status_code, _headers = history_put_records_with_http_info(put_records_request, opts)
      data
    end

    # Push whole records; the gateway derives the searchable text itself.
    # @param put_records_request [PutRecordsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PutRecordsResponse, Integer, Hash)>] PutRecordsResponse data, response status code and response headers
    def history_put_records_with_http_info(put_records_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: HistoryApi.history_put_records ...'
      end
      # verify the required parameter 'put_records_request' is set
      if @api_client.config.client_side_validation && put_records_request.nil?
        fail ArgumentError, "Missing the required parameter 'put_records_request' when calling HistoryApi.history_put_records"
      end
      # resource path
      local_var_path = '/v1/history/records'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(put_records_request)

      # return_type
      return_type = opts[:debug_return_type] || 'PutRecordsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenHeader', 'gatewayToken']

      new_options = opts.merge(
        :operation => :"HistoryApi.history_put_records",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: HistoryApi#history_put_records\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # WHOLE records changed after a stamp, oldest first, paged by cursor, tombstones included.
    # The lossless tier. A gateway without the SQLite store answers 501.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :since A stamp (ms since epoch) from a previous page&#39;s &#x60;newest&#x60;. (default to 0)
    # @option opts [String] :cursor Opaque; from the previous page.
    # @option opts [Integer] :limit  (default to 200)
    # @option opts [String] :kind 
    # @return [RecordsPage]
    def history_records(opts = {})
      data, _status_code, _headers = history_records_with_http_info(opts)
      data
    end

    # WHOLE records changed after a stamp, oldest first, paged by cursor, tombstones included.
    # The lossless tier. A gateway without the SQLite store answers 501.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :since A stamp (ms since epoch) from a previous page&#39;s &#x60;newest&#x60;. (default to 0)
    # @option opts [String] :cursor Opaque; from the previous page.
    # @option opts [Integer] :limit  (default to 200)
    # @option opts [String] :kind 
    # @return [Array<(RecordsPage, Integer, Hash)>] RecordsPage data, response status code and response headers
    def history_records_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: HistoryApi.history_records ...'
      end
      if @api_client.config.client_side_validation && !opts[:'since'].nil? && opts[:'since'] < 0
        fail ArgumentError, 'invalid value for "opts[:"since"]" when calling HistoryApi.history_records, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling HistoryApi.history_records, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/history/records'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'since'] = opts[:'since'] if !opts[:'since'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'kind'] = opts[:'kind'] if !opts[:'kind'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'RecordsPage'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['gatewayToken']

      new_options = opts.merge(
        :operation => :"HistoryApi.history_records",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: HistoryApi#history_records\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # The records most connected to one record.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit  (default to 5)
    # @return [HistoryRelated200Response]
    def history_related(id, opts = {})
      data, _status_code, _headers = history_related_with_http_info(id, opts)
      data
    end

    # The records most connected to one record.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit  (default to 5)
    # @return [Array<(HistoryRelated200Response, Integer, Hash)>] HistoryRelated200Response data, response status code and response headers
    def history_related_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: HistoryApi.history_related ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling HistoryApi.history_related"
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 30
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling HistoryApi.history_related, must be smaller than or equal to 30.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling HistoryApi.history_related, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/history/related'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'id'] = id
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'HistoryRelated200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['gatewayToken']

      new_options = opts.merge(
        :operation => :"HistoryApi.history_related",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: HistoryApi#history_related\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # One keyword query over the warm index.
    # @param search_request [SearchRequest] 
    # @param [Hash] opts the optional parameters
    # @return [SearchResponse]
    def history_search(search_request, opts = {})
      data, _status_code, _headers = history_search_with_http_info(search_request, opts)
      data
    end

    # One keyword query over the warm index.
    # @param search_request [SearchRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SearchResponse, Integer, Hash)>] SearchResponse data, response status code and response headers
    def history_search_with_http_info(search_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: HistoryApi.history_search ...'
      end
      # verify the required parameter 'search_request' is set
      if @api_client.config.client_side_validation && search_request.nil?
        fail ArgumentError, "Missing the required parameter 'search_request' when calling HistoryApi.history_search"
      end
      # resource path
      local_var_path = '/v1/history/search'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(search_request)

      # return_type
      return_type = opts[:debug_return_type] || 'SearchResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['gatewayToken']

      new_options = opts.merge(
        :operation => :"HistoryApi.history_search",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: HistoryApi#history_search\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Several phrasings at once, rank-fused; briefs lead.
    # @param smart_search_request [SmartSearchRequest] 
    # @param [Hash] opts the optional parameters
    # @return [SmartSearchResponse]
    def history_smart_search(smart_search_request, opts = {})
      data, _status_code, _headers = history_smart_search_with_http_info(smart_search_request, opts)
      data
    end

    # Several phrasings at once, rank-fused; briefs lead.
    # @param smart_search_request [SmartSearchRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SmartSearchResponse, Integer, Hash)>] SmartSearchResponse data, response status code and response headers
    def history_smart_search_with_http_info(smart_search_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: HistoryApi.history_smart_search ...'
      end
      # verify the required parameter 'smart_search_request' is set
      if @api_client.config.client_side_validation && smart_search_request.nil?
        fail ArgumentError, "Missing the required parameter 'smart_search_request' when calling HistoryApi.history_smart_search"
      end
      # resource path
      local_var_path = '/v1/history/smart-search'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(smart_search_request)

      # return_type
      return_type = opts[:debug_return_type] || 'SmartSearchResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['gatewayToken']

      new_options = opts.merge(
        :operation => :"HistoryApi.history_smart_search",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: HistoryApi#history_smart_search\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Size and freshness of the warm index (and the lossless tier from 0.10.0).
    # @param [Hash] opts the optional parameters
    # @return [HistoryStatus]
    def history_status(opts = {})
      data, _status_code, _headers = history_status_with_http_info(opts)
      data
    end

    # Size and freshness of the warm index (and the lossless tier from 0.10.0).
    # @param [Hash] opts the optional parameters
    # @return [Array<(HistoryStatus, Integer, Hash)>] HistoryStatus data, response status code and response headers
    def history_status_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: HistoryApi.history_status ...'
      end
      # resource path
      local_var_path = '/v1/history/status'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'HistoryStatus'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['gatewayToken']

      new_options = opts.merge(
        :operation => :"HistoryApi.history_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: HistoryApi#history_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Live record changes — `hello` once, then a `records` event per change.
    # @param [Hash] opts the optional parameters
    # @return [String]
    def history_stream(opts = {})
      data, _status_code, _headers = history_stream_with_http_info(opts)
      data
    end

    # Live record changes — &#x60;hello&#x60; once, then a &#x60;records&#x60; event per change.
    # @param [Hash] opts the optional parameters
    # @return [Array<(String, Integer, Hash)>] String data, response status code and response headers
    def history_stream_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: HistoryApi.history_stream ...'
      end
      # resource path
      local_var_path = '/v1/history/stream'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/event-stream', 'application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'String'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['gatewayToken']

      new_options = opts.merge(
        :operation => :"HistoryApi.history_stream",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: HistoryApi#history_stream\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
