=begin
#ChatPanel Gateway API

#The ChatPanel gateway runs on the user's machine (loopback only, port 4320 by default). It redacts personal data before a model sees it, routes model traffic, and holds the user's searchable history, durable memory, shared preferences and the team/project run boards.  **It only answers on loopback.** A client on another host cannot reach it; an SDK refuses a non-loopback base URL unless the integrator opts in and uses TLS.  **Two trust levels.** The `/v1` data plane is open to any local process — that is the product. Writes that change what every client sees (remember, forget, ingest) and anything admin-shaped require the per-install token the gateway writes to `~/.chatpanel/gateway-token` (mode 0600), or a copy obtained by pairing (`POST /pair` with a one-time code from `chatpanel-gateway pair`). `POST /whoami` says which trust you have.  **Errors** are `{ error: { message, type } }` (or `{ error: \"text\" }` on the oldest routes) with the HTTP status. `type` is a stable machine word: `not_found`, `invalid_request`, `unknown_endpoint`, `unavailable`, `bridge_unreachable`, `no_bridge`, `redact_error`, `search_error`, `memory_error`, `team_error`, `ingest_error`, `prefs_error`. 

The version of the OpenAPI document: 0.43.0

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module ChatPanel
  class LinkApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # The owner's answer — once, this action for the rest of the conversation, everything in it, or no.
    # No answer within the agent's own wait (10 minutes) is a no; revoking the partner denies what it waits on.
    # @param approval_id [String] 
    # @param link_answer_approval_request [LinkAnswerApprovalRequest] 
    # @param [Hash] opts the optional parameters
    # @return [BrowserAnnounce200Response]
    def link_answer_approval(approval_id, link_answer_approval_request, opts = {})
      data, _status_code, _headers = link_answer_approval_with_http_info(approval_id, link_answer_approval_request, opts)
      data
    end

    # The owner&#39;s answer — once, this action for the rest of the conversation, everything in it, or no.
    # No answer within the agent&#39;s own wait (10 minutes) is a no; revoking the partner denies what it waits on.
    # @param approval_id [String] 
    # @param link_answer_approval_request [LinkAnswerApprovalRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BrowserAnnounce200Response, Integer, Hash)>] BrowserAnnounce200Response data, response status code and response headers
    def link_answer_approval_with_http_info(approval_id, link_answer_approval_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LinkApi.link_answer_approval ...'
      end
      # verify the required parameter 'approval_id' is set
      if @api_client.config.client_side_validation && approval_id.nil?
        fail ArgumentError, "Missing the required parameter 'approval_id' when calling LinkApi.link_answer_approval"
      end
      pattern = Regexp.new(/^[A-Za-z0-9_-]{1,40}$/)
      if @api_client.config.client_side_validation && approval_id !~ pattern
        fail ArgumentError, "invalid value for 'approval_id' when calling LinkApi.link_answer_approval, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'link_answer_approval_request' is set
      if @api_client.config.client_side_validation && link_answer_approval_request.nil?
        fail ArgumentError, "Missing the required parameter 'link_answer_approval_request' when calling LinkApi.link_answer_approval"
      end
      # resource path
      local_var_path = '/v1/link/approvals/{approvalId}'.sub('{approvalId}', CGI.escape(approval_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(link_answer_approval_request)

      # return_type
      return_type = opts[:debug_return_type] || 'BrowserAnnounce200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenHeader', 'gatewayToken']

      new_options = opts.merge(
        :operation => :"LinkApi.link_answer_approval",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LinkApi#link_answer_approval\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # What partners' agents are waiting on the owner for — each request a partner's coding agent made that the owner's settings do not already allow.
    # A partner granted `agents` (gateway 0.90.0+) runs them as the owner's own turn does, and never answers their permission prompts: the request waits here for the OWNER (0.91.0+). Nothing that arrives over Link may list or answer these — 403 for a partner and a phone alike. In memory only. 
    # @param [Hash] opts the optional parameters
    # @return [LinkApprovals200Response]
    def link_approvals(opts = {})
      data, _status_code, _headers = link_approvals_with_http_info(opts)
      data
    end

    # What partners&#39; agents are waiting on the owner for — each request a partner&#39;s coding agent made that the owner&#39;s settings do not already allow.
    # A partner granted &#x60;agents&#x60; (gateway 0.90.0+) runs them as the owner&#39;s own turn does, and never answers their permission prompts: the request waits here for the OWNER (0.91.0+). Nothing that arrives over Link may list or answer these — 403 for a partner and a phone alike. In memory only. 
    # @param [Hash] opts the optional parameters
    # @return [Array<(LinkApprovals200Response, Integer, Hash)>] LinkApprovals200Response data, response status code and response headers
    def link_approvals_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LinkApi.link_approvals ...'
      end
      # resource path
      local_var_path = '/v1/link/approvals'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'LinkApprovals200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenHeader', 'gatewayToken']

      new_options = opts.merge(
        :operation => :"LinkApi.link_approvals",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LinkApi#link_approvals\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # The waiting requests as they change — one `approvals` event with the whole list on each change, and at connect.
    # @param [Hash] opts the optional parameters
    # @return [String]
    def link_approvals_stream(opts = {})
      data, _status_code, _headers = link_approvals_stream_with_http_info(opts)
      data
    end

    # The waiting requests as they change — one &#x60;approvals&#x60; event with the whole list on each change, and at connect.
    # @param [Hash] opts the optional parameters
    # @return [Array<(String, Integer, Hash)>] String data, response status code and response headers
    def link_approvals_stream_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LinkApi.link_approvals_stream ...'
      end
      # resource path
      local_var_path = '/v1/link/approvals/stream'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/event-stream', 'application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'String'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenHeader', 'gatewayToken']

      new_options = opts.merge(
        :operation => :"LinkApi.link_approvals_stream",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LinkApi#link_approvals_stream\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Remove a file from the partner's folder (never a folder).
    # @param path [String] Relative to the partner&#39;s folder — data/…, .claude/skills/…, .agents/skills/…, .claude/agents/&lt;name&gt;.md, CLAUDE.md or AGENTS.md. Slashes may be sent encoded (%2F).
    # @param [Hash] opts the optional parameters
    # @return [BrowserAnnounce200Response]
    def link_delete_file(path, opts = {})
      data, _status_code, _headers = link_delete_file_with_http_info(path, opts)
      data
    end

    # Remove a file from the partner&#39;s folder (never a folder).
    # @param path [String] Relative to the partner&#39;s folder — data/…, .claude/skills/…, .agents/skills/…, .claude/agents/&lt;name&gt;.md, CLAUDE.md or AGENTS.md. Slashes may be sent encoded (%2F).
    # @param [Hash] opts the optional parameters
    # @return [Array<(BrowserAnnounce200Response, Integer, Hash)>] BrowserAnnounce200Response data, response status code and response headers
    def link_delete_file_with_http_info(path, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LinkApi.link_delete_file ...'
      end
      # verify the required parameter 'path' is set
      if @api_client.config.client_side_validation && path.nil?
        fail ArgumentError, "Missing the required parameter 'path' when calling LinkApi.link_delete_file"
      end
      if @api_client.config.client_side_validation && path.to_s.length > 512
        fail ArgumentError, 'invalid value for "path" when calling LinkApi.link_delete_file, the character length must be smaller than or equal to 512.'
      end

      # resource path
      local_var_path = '/v1/link/files/{path}'.sub('{path}', CGI.escape(path.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BrowserAnnounce200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenHeader', 'gatewayToken']

      new_options = opts.merge(
        :operation => :"LinkApi.link_delete_file",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LinkApi#link_delete_file\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # A partner's own folder, from its side — every file it may hold there, with size and last change.
    # Called BY A PARTNER over Link (`createLinkFetch`), granted `files` (0.92.0+; needs `agents`). The folder is the one the owner chose at pairing, where its agents work; a partner may hold its data (`data/`), skills (`.claude/skills/`, `.agents/skills/`), subagents (`.claude/agents/*.md`) and instructions (`CLAUDE.md`, `AGENTS.md`) — never what configures the agent. `GET /v1/link/files/data` lists one root. 
    # @param [Hash] opts the optional parameters
    # @return [LinkListFiles200Response]
    def link_list_files(opts = {})
      data, _status_code, _headers = link_list_files_with_http_info(opts)
      data
    end

    # A partner&#39;s own folder, from its side — every file it may hold there, with size and last change.
    # Called BY A PARTNER over Link (&#x60;createLinkFetch&#x60;), granted &#x60;files&#x60; (0.92.0+; needs &#x60;agents&#x60;). The folder is the one the owner chose at pairing, where its agents work; a partner may hold its data (&#x60;data/&#x60;), skills (&#x60;.claude/skills/&#x60;, &#x60;.agents/skills/&#x60;), subagents (&#x60;.claude/agents/*.md&#x60;) and instructions (&#x60;CLAUDE.md&#x60;, &#x60;AGENTS.md&#x60;) — never what configures the agent. &#x60;GET /v1/link/files/data&#x60; lists one root. 
    # @param [Hash] opts the optional parameters
    # @return [Array<(LinkListFiles200Response, Integer, Hash)>] LinkListFiles200Response data, response status code and response headers
    def link_list_files_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LinkApi.link_list_files ...'
      end
      # resource path
      local_var_path = '/v1/link/files'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'LinkListFiles200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenHeader', 'gatewayToken']

      new_options = opts.merge(
        :operation => :"LinkApi.link_list_files",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LinkApi#link_list_files\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Start a pairing — a phone's QR, or (with `kind partner`) a partner server's one-time code, shown and confirmed first.
    # **A phone** (no `kind`, or `kind: phone`): a room on the route's relay and the QR the phone scans; the answer carries `uri`, `svg`, `expiresAt`, `room`.  **A partner server** (`kind: partner`, gateway 0.89.0+): nothing is issued without the owner's yes. Without `confirm: true` the answer is `{ confirmed: false, preview }` — what the partner will be able to do (scopes, agents yes/no), the route and the one host its server will connect to — and nothing is created. With `confirm: true` the answer adds the `code` (`cplink1.…`, one use, 10 minutes), `room`, `route` and `host`. The route is the gateway's own unless `route` names another; a tunnel route reaches the tunnel door with no relay at all, and ChatPanel's hosted relay is used only for `link`. Refused with 403 from a device on Link: a paired device never pairs another. 
    # @param [Hash] opts the optional parameters
    # @option opts [LinkPairRequest] :link_pair_request 
    # @return [LinkPairResult]
    def link_pair(opts = {})
      data, _status_code, _headers = link_pair_with_http_info(opts)
      data
    end

    # Start a pairing — a phone&#39;s QR, or (with &#x60;kind partner&#x60;) a partner server&#39;s one-time code, shown and confirmed first.
    # **A phone** (no &#x60;kind&#x60;, or &#x60;kind: phone&#x60;): a room on the route&#39;s relay and the QR the phone scans; the answer carries &#x60;uri&#x60;, &#x60;svg&#x60;, &#x60;expiresAt&#x60;, &#x60;room&#x60;.  **A partner server** (&#x60;kind: partner&#x60;, gateway 0.89.0+): nothing is issued without the owner&#39;s yes. Without &#x60;confirm: true&#x60; the answer is &#x60;{ confirmed: false, preview }&#x60; — what the partner will be able to do (scopes, agents yes/no), the route and the one host its server will connect to — and nothing is created. With &#x60;confirm: true&#x60; the answer adds the &#x60;code&#x60; (&#x60;cplink1.…&#x60;, one use, 10 minutes), &#x60;room&#x60;, &#x60;route&#x60; and &#x60;host&#x60;. The route is the gateway&#39;s own unless &#x60;route&#x60; names another; a tunnel route reaches the tunnel door with no relay at all, and ChatPanel&#39;s hosted relay is used only for &#x60;link&#x60;. Refused with 403 from a device on Link: a paired device never pairs another. 
    # @param [Hash] opts the optional parameters
    # @option opts [LinkPairRequest] :link_pair_request 
    # @return [Array<(LinkPairResult, Integer, Hash)>] LinkPairResult data, response status code and response headers
    def link_pair_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LinkApi.link_pair ...'
      end
      # resource path
      local_var_path = '/v1/link/pair'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'link_pair_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'LinkPairResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenHeader', 'gatewayToken']

      new_options = opts.merge(
        :operation => :"LinkApi.link_pair",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LinkApi#link_pair\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Read back a file from the partner's folder — what its agents wrote there.
    # The raw bytes (`application/octet-stream`). `path` is relative to the folder; slashes may be sent encoded.
    # @param path [String] Relative to the partner&#39;s folder — data/…, .claude/skills/…, .agents/skills/…, .claude/agents/&lt;name&gt;.md, CLAUDE.md or AGENTS.md. Slashes may be sent encoded (%2F).
    # @param [Hash] opts the optional parameters
    # @return [File]
    def link_read_file(path, opts = {})
      data, _status_code, _headers = link_read_file_with_http_info(path, opts)
      data
    end

    # Read back a file from the partner&#39;s folder — what its agents wrote there.
    # The raw bytes (&#x60;application/octet-stream&#x60;). &#x60;path&#x60; is relative to the folder; slashes may be sent encoded.
    # @param path [String] Relative to the partner&#39;s folder — data/…, .claude/skills/…, .agents/skills/…, .claude/agents/&lt;name&gt;.md, CLAUDE.md or AGENTS.md. Slashes may be sent encoded (%2F).
    # @param [Hash] opts the optional parameters
    # @return [Array<(File, Integer, Hash)>] File data, response status code and response headers
    def link_read_file_with_http_info(path, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LinkApi.link_read_file ...'
      end
      # verify the required parameter 'path' is set
      if @api_client.config.client_side_validation && path.nil?
        fail ArgumentError, "Missing the required parameter 'path' when calling LinkApi.link_read_file"
      end
      if @api_client.config.client_side_validation && path.to_s.length > 512
        fail ArgumentError, 'invalid value for "path" when calling LinkApi.link_read_file, the character length must be smaller than or equal to 512.'
      end

      # resource path
      local_var_path = '/v1/link/files/{path}'.sub('{path}', CGI.escape(path.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/octet-stream', 'application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'File'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenHeader', 'gatewayToken']

      new_options = opts.merge(
        :operation => :"LinkApi.link_read_file",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LinkApi#link_read_file\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Remove a paired device now — its relay room, its key and its open connection.
    # @param device_id [String] The device&#39;s &#x60;id&#x60; from &#x60;link.status&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [BrowserAnnounce200Response]
    def link_remove_device(device_id, opts = {})
      data, _status_code, _headers = link_remove_device_with_http_info(device_id, opts)
      data
    end

    # Remove a paired device now — its relay room, its key and its open connection.
    # @param device_id [String] The device&#39;s &#x60;id&#x60; from &#x60;link.status&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [Array<(BrowserAnnounce200Response, Integer, Hash)>] BrowserAnnounce200Response data, response status code and response headers
    def link_remove_device_with_http_info(device_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LinkApi.link_remove_device ...'
      end
      # verify the required parameter 'device_id' is set
      if @api_client.config.client_side_validation && device_id.nil?
        fail ArgumentError, "Missing the required parameter 'device_id' when calling LinkApi.link_remove_device"
      end
      pattern = Regexp.new(/^[A-Za-z0-9_-]{1,64}$/)
      if @api_client.config.client_side_validation && device_id !~ pattern
        fail ArgumentError, "invalid value for 'device_id' when calling LinkApi.link_remove_device, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/v1/link/devices/{deviceId}'.sub('{deviceId}', CGI.escape(device_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BrowserAnnounce200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenHeader', 'gatewayToken']

      new_options = opts.merge(
        :operation => :"LinkApi.link_remove_device",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LinkApi#link_remove_device\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # How devices reach this computer — ChatPanel Link, the person's own relay, Tailscale or Cloudflare Tunnel.
    # Checked, saved in the gateway's config and applied without a restart. Phones follow it; partner devices keep the route they were paired on, and the answer lists which is on which.
    # @param link_route_request [LinkRouteRequest] 
    # @param [Hash] opts the optional parameters
    # @return [LinkStatus]
    def link_route(link_route_request, opts = {})
      data, _status_code, _headers = link_route_with_http_info(link_route_request, opts)
      data
    end

    # How devices reach this computer — ChatPanel Link, the person&#39;s own relay, Tailscale or Cloudflare Tunnel.
    # Checked, saved in the gateway&#39;s config and applied without a restart. Phones follow it; partner devices keep the route they were paired on, and the answer lists which is on which.
    # @param link_route_request [LinkRouteRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(LinkStatus, Integer, Hash)>] LinkStatus data, response status code and response headers
    def link_route_with_http_info(link_route_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LinkApi.link_route ...'
      end
      # verify the required parameter 'link_route_request' is set
      if @api_client.config.client_side_validation && link_route_request.nil?
        fail ArgumentError, "Missing the required parameter 'link_route_request' when calling LinkApi.link_route"
      end
      # resource path
      local_var_path = '/v1/link/route'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(link_route_request)

      # return_type
      return_type = opts[:debug_return_type] || 'LinkStatus'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenHeader', 'gatewayToken']

      new_options = opts.merge(
        :operation => :"LinkApi.link_route",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LinkApi#link_route\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # The Link route and every paired device — phones and partner servers — with what each may reach.
    # No keys, tokens or secrets. A partner device (gateway 0.89.0+) carries `kind: partner`, its `partner.name`, `scopes`, the `route` it was paired on and the `host` it connects to; a phone carries `kind: phone` and follows the gateway's route. Changing the route never moves a partner: one whose tunnel door shut with the route says `routeClosed`. 
    # @param [Hash] opts the optional parameters
    # @return [LinkStatus]
    def link_status(opts = {})
      data, _status_code, _headers = link_status_with_http_info(opts)
      data
    end

    # The Link route and every paired device — phones and partner servers — with what each may reach.
    # No keys, tokens or secrets. A partner device (gateway 0.89.0+) carries &#x60;kind: partner&#x60;, its &#x60;partner.name&#x60;, &#x60;scopes&#x60;, the &#x60;route&#x60; it was paired on and the &#x60;host&#x60; it connects to; a phone carries &#x60;kind: phone&#x60; and follows the gateway&#39;s route. Changing the route never moves a partner: one whose tunnel door shut with the route says &#x60;routeClosed&#x60;. 
    # @param [Hash] opts the optional parameters
    # @return [Array<(LinkStatus, Integer, Hash)>] LinkStatus data, response status code and response headers
    def link_status_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LinkApi.link_status ...'
      end
      # resource path
      local_var_path = '/v1/link'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'LinkStatus'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenHeader', 'gatewayToken']

      new_options = opts.merge(
        :operation => :"LinkApi.link_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LinkApi#link_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Put a file in the partner's folder — its data, a skill, a subagent or instructions.
    # The body is the file's bytes. Refused (400): a path outside what a partner may hold (`.claude/settings*.json`, hooks, `.mcp.json`, `.codex/` among them), and a skill or subagent whose front matter would widen what the agent may do (`allowed-tools`, `hooks`, `permissionMode`, `mcpServers`). Refused (403): a path through a link in the folder. Written atomically, readable by the owner alone. Up to the gateway's body limit (413 past it). 
    # @param path [String] Relative to the partner&#39;s folder — data/…, .claude/skills/…, .agents/skills/…, .claude/agents/&lt;name&gt;.md, CLAUDE.md or AGENTS.md. Slashes may be sent encoded (%2F).
    # @param body [File] 
    # @param [Hash] opts the optional parameters
    # @return [LinkPartnerFile]
    def link_write_file(path, body, opts = {})
      data, _status_code, _headers = link_write_file_with_http_info(path, body, opts)
      data
    end

    # Put a file in the partner&#39;s folder — its data, a skill, a subagent or instructions.
    # The body is the file&#39;s bytes. Refused (400): a path outside what a partner may hold (&#x60;.claude/settings*.json&#x60;, hooks, &#x60;.mcp.json&#x60;, &#x60;.codex/&#x60; among them), and a skill or subagent whose front matter would widen what the agent may do (&#x60;allowed-tools&#x60;, &#x60;hooks&#x60;, &#x60;permissionMode&#x60;, &#x60;mcpServers&#x60;). Refused (403): a path through a link in the folder. Written atomically, readable by the owner alone. Up to the gateway&#39;s body limit (413 past it). 
    # @param path [String] Relative to the partner&#39;s folder — data/…, .claude/skills/…, .agents/skills/…, .claude/agents/&lt;name&gt;.md, CLAUDE.md or AGENTS.md. Slashes may be sent encoded (%2F).
    # @param body [File] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(LinkPartnerFile, Integer, Hash)>] LinkPartnerFile data, response status code and response headers
    def link_write_file_with_http_info(path, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LinkApi.link_write_file ...'
      end
      # verify the required parameter 'path' is set
      if @api_client.config.client_side_validation && path.nil?
        fail ArgumentError, "Missing the required parameter 'path' when calling LinkApi.link_write_file"
      end
      if @api_client.config.client_side_validation && path.to_s.length > 512
        fail ArgumentError, 'invalid value for "path" when calling LinkApi.link_write_file, the character length must be smaller than or equal to 512.'
      end

      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling LinkApi.link_write_file"
      end
      # resource path
      local_var_path = '/v1/link/files/{path}'.sub('{path}', CGI.escape(path.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/octet-stream'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'LinkPartnerFile'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenHeader', 'gatewayToken']

      new_options = opts.merge(
        :operation => :"LinkApi.link_write_file",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LinkApi#link_write_file\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
