=begin
#ChatPanel Gateway API

#The ChatPanel gateway runs on the user's machine (loopback only, port 4320 by default). It redacts personal data before a model sees it, routes model traffic, and holds the user's searchable history, durable memory, shared preferences and the team/project run boards.  **It only answers on loopback.** A client on another host cannot reach it; an SDK refuses a non-loopback base URL unless the integrator opts in and uses TLS.  **Two trust levels.** The `/v1` data plane is open to any local process — that is the product. Writes that change what every client sees (remember, forget, ingest) and anything admin-shaped require the per-install token the gateway writes to `~/.chatpanel/gateway-token` (mode 0600), or a copy obtained by pairing (`POST /pair` with a one-time code from `chatpanel-gateway pair`). `POST /whoami` says which trust you have.  **Errors** are `{ error: { message, type } }` (or `{ error: \"text\" }` on the oldest routes) with the HTTP status. `type` is a stable machine word: `not_found`, `invalid_request`, `unknown_endpoint`, `unavailable`, `bridge_unreachable`, `no_bridge`, `redact_error`, `search_error`, `memory_error`, `team_error`, `ingest_error`, `prefs_error`. 

The version of the OpenAPI document: 0.42.0

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module ChatPanel
  class LinkApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Start a pairing — a phone's QR, or (with `kind partner`) a partner server's one-time code, shown and confirmed first.
    # **A phone** (no `kind`, or `kind: phone`): a room on the route's relay and the QR the phone scans; the answer carries `uri`, `svg`, `expiresAt`, `room`.  **A partner server** (`kind: partner`, gateway 0.89.0+): nothing is issued without the owner's yes. Without `confirm: true` the answer is `{ confirmed: false, preview }` — what the partner will be able to do (scopes, agents yes/no), the route and the one host its server will connect to — and nothing is created. With `confirm: true` the answer adds the `code` (`cplink1.…`, one use, 10 minutes), `room`, `route` and `host`. The route is the gateway's own unless `route` names another; a tunnel route reaches the tunnel door with no relay at all, and ChatPanel's hosted relay is used only for `link`. Refused with 403 from a device on Link: a paired device never pairs another. 
    # @param [Hash] opts the optional parameters
    # @option opts [LinkPairRequest] :link_pair_request 
    # @return [LinkPairResult]
    def link_pair(opts = {})
      data, _status_code, _headers = link_pair_with_http_info(opts)
      data
    end

    # Start a pairing — a phone&#39;s QR, or (with &#x60;kind partner&#x60;) a partner server&#39;s one-time code, shown and confirmed first.
    # **A phone** (no &#x60;kind&#x60;, or &#x60;kind: phone&#x60;): a room on the route&#39;s relay and the QR the phone scans; the answer carries &#x60;uri&#x60;, &#x60;svg&#x60;, &#x60;expiresAt&#x60;, &#x60;room&#x60;.  **A partner server** (&#x60;kind: partner&#x60;, gateway 0.89.0+): nothing is issued without the owner&#39;s yes. Without &#x60;confirm: true&#x60; the answer is &#x60;{ confirmed: false, preview }&#x60; — what the partner will be able to do (scopes, agents yes/no), the route and the one host its server will connect to — and nothing is created. With &#x60;confirm: true&#x60; the answer adds the &#x60;code&#x60; (&#x60;cplink1.…&#x60;, one use, 10 minutes), &#x60;room&#x60;, &#x60;route&#x60; and &#x60;host&#x60;. The route is the gateway&#39;s own unless &#x60;route&#x60; names another; a tunnel route reaches the tunnel door with no relay at all, and ChatPanel&#39;s hosted relay is used only for &#x60;link&#x60;. Refused with 403 from a device on Link: a paired device never pairs another. 
    # @param [Hash] opts the optional parameters
    # @option opts [LinkPairRequest] :link_pair_request 
    # @return [Array<(LinkPairResult, Integer, Hash)>] LinkPairResult data, response status code and response headers
    def link_pair_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LinkApi.link_pair ...'
      end
      # resource path
      local_var_path = '/v1/link/pair'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'link_pair_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'LinkPairResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenHeader', 'gatewayToken']

      new_options = opts.merge(
        :operation => :"LinkApi.link_pair",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LinkApi#link_pair\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Remove a paired device now — its relay room, its key and its open connection.
    # @param device_id [String] The device&#39;s &#x60;id&#x60; from &#x60;link.status&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [BrowserAnnounce200Response]
    def link_remove_device(device_id, opts = {})
      data, _status_code, _headers = link_remove_device_with_http_info(device_id, opts)
      data
    end

    # Remove a paired device now — its relay room, its key and its open connection.
    # @param device_id [String] The device&#39;s &#x60;id&#x60; from &#x60;link.status&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [Array<(BrowserAnnounce200Response, Integer, Hash)>] BrowserAnnounce200Response data, response status code and response headers
    def link_remove_device_with_http_info(device_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LinkApi.link_remove_device ...'
      end
      # verify the required parameter 'device_id' is set
      if @api_client.config.client_side_validation && device_id.nil?
        fail ArgumentError, "Missing the required parameter 'device_id' when calling LinkApi.link_remove_device"
      end
      pattern = Regexp.new(/^[A-Za-z0-9_-]{1,64}$/)
      if @api_client.config.client_side_validation && device_id !~ pattern
        fail ArgumentError, "invalid value for 'device_id' when calling LinkApi.link_remove_device, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/v1/link/devices/{deviceId}'.sub('{deviceId}', CGI.escape(device_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BrowserAnnounce200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenHeader', 'gatewayToken']

      new_options = opts.merge(
        :operation => :"LinkApi.link_remove_device",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LinkApi#link_remove_device\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # How devices reach this computer — ChatPanel Link, the person's own relay, Tailscale or Cloudflare Tunnel.
    # Checked, saved in the gateway's config and applied without a restart. Phones follow it; partner devices keep the route they were paired on, and the answer lists which is on which.
    # @param link_route_request [LinkRouteRequest] 
    # @param [Hash] opts the optional parameters
    # @return [LinkStatus]
    def link_route(link_route_request, opts = {})
      data, _status_code, _headers = link_route_with_http_info(link_route_request, opts)
      data
    end

    # How devices reach this computer — ChatPanel Link, the person&#39;s own relay, Tailscale or Cloudflare Tunnel.
    # Checked, saved in the gateway&#39;s config and applied without a restart. Phones follow it; partner devices keep the route they were paired on, and the answer lists which is on which.
    # @param link_route_request [LinkRouteRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(LinkStatus, Integer, Hash)>] LinkStatus data, response status code and response headers
    def link_route_with_http_info(link_route_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LinkApi.link_route ...'
      end
      # verify the required parameter 'link_route_request' is set
      if @api_client.config.client_side_validation && link_route_request.nil?
        fail ArgumentError, "Missing the required parameter 'link_route_request' when calling LinkApi.link_route"
      end
      # resource path
      local_var_path = '/v1/link/route'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(link_route_request)

      # return_type
      return_type = opts[:debug_return_type] || 'LinkStatus'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenHeader', 'gatewayToken']

      new_options = opts.merge(
        :operation => :"LinkApi.link_route",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LinkApi#link_route\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # The Link route and every paired device — phones and partner servers — with what each may reach.
    # No keys, tokens or secrets. A partner device (gateway 0.89.0+) carries `kind: partner`, its `partner.name`, `scopes`, the `route` it was paired on and the `host` it connects to; a phone carries `kind: phone` and follows the gateway's route. Changing the route never moves a partner: one whose tunnel door shut with the route says `routeClosed`. 
    # @param [Hash] opts the optional parameters
    # @return [LinkStatus]
    def link_status(opts = {})
      data, _status_code, _headers = link_status_with_http_info(opts)
      data
    end

    # The Link route and every paired device — phones and partner servers — with what each may reach.
    # No keys, tokens or secrets. A partner device (gateway 0.89.0+) carries &#x60;kind: partner&#x60;, its &#x60;partner.name&#x60;, &#x60;scopes&#x60;, the &#x60;route&#x60; it was paired on and the &#x60;host&#x60; it connects to; a phone carries &#x60;kind: phone&#x60; and follows the gateway&#39;s route. Changing the route never moves a partner: one whose tunnel door shut with the route says &#x60;routeClosed&#x60;. 
    # @param [Hash] opts the optional parameters
    # @return [Array<(LinkStatus, Integer, Hash)>] LinkStatus data, response status code and response headers
    def link_status_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LinkApi.link_status ...'
      end
      # resource path
      local_var_path = '/v1/link'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'LinkStatus'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenHeader', 'gatewayToken']

      new_options = opts.merge(
        :operation => :"LinkApi.link_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LinkApi#link_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
