=begin
#ChatPanel Gateway API

#The ChatPanel gateway runs on the user's machine (loopback only, port 4320 by default). It redacts personal data before a model sees it, routes model traffic, and holds the user's searchable history, durable memory, shared preferences and the team/project run boards.  **It only answers on loopback.** A client on another host cannot reach it; an SDK refuses a non-loopback base URL unless the integrator opts in and uses TLS.  **Two trust levels.** The `/v1` data plane is open to any local process — that is the product. Writes that change what every client sees (remember, forget, ingest) and anything admin-shaped require the per-install token the gateway writes to `~/.chatpanel/gateway-token` (mode 0600), or a copy obtained by pairing (`POST /pair` with a one-time code from `chatpanel-gateway pair`). `POST /whoami` says which trust you have.  **Errors** are `{ error: { message, type } }` (or `{ error: \"text\" }` on the oldest routes) with the HTTP status. `type` is a stable machine word: `not_found`, `invalid_request`, `unknown_endpoint`, `unavailable`, `bridge_unreachable`, `no_bridge`, `redact_error`, `search_error`, `memory_error`, `team_error`, `ingest_error`, `prefs_error`. 

The version of the OpenAPI document: 0.25.0

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module ChatPanel
  class MemoryApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Forget memories matching an id or words.
    # @param memory_forget_request [MemoryForgetRequest] 
    # @param [Hash] opts the optional parameters
    # @return [MemoryForget200Response]
    def memory_forget(memory_forget_request, opts = {})
      data, _status_code, _headers = memory_forget_with_http_info(memory_forget_request, opts)
      data
    end

    # Forget memories matching an id or words.
    # @param memory_forget_request [MemoryForgetRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MemoryForget200Response, Integer, Hash)>] MemoryForget200Response data, response status code and response headers
    def memory_forget_with_http_info(memory_forget_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MemoryApi.memory_forget ...'
      end
      # verify the required parameter 'memory_forget_request' is set
      if @api_client.config.client_side_validation && memory_forget_request.nil?
        fail ArgumentError, "Missing the required parameter 'memory_forget_request' when calling MemoryApi.memory_forget"
      end
      # resource path
      local_var_path = '/v1/memory/forget'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(memory_forget_request)

      # return_type
      return_type = opts[:debug_return_type] || 'MemoryForget200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenHeader', 'gatewayToken']

      new_options = opts.merge(
        :operation => :"MemoryApi.memory_forget",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MemoryApi#memory_forget\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Every memory.
    # @param [Hash] opts the optional parameters
    # @return [MemoryList]
    def memory_list(opts = {})
      data, _status_code, _headers = memory_list_with_http_info(opts)
      data
    end

    # Every memory.
    # @param [Hash] opts the optional parameters
    # @return [Array<(MemoryList, Integer, Hash)>] MemoryList data, response status code and response headers
    def memory_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MemoryApi.memory_list ...'
      end
      # resource path
      local_var_path = '/v1/memory/list'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MemoryList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['gatewayToken']

      new_options = opts.merge(
        :operation => :"MemoryApi.memory_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MemoryApi#memory_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # The memories relevant to a text, and a prompt block that carries them.
    # @param recall_request [RecallRequest] 
    # @param [Hash] opts the optional parameters
    # @return [RecallResponse]
    def memory_recall(recall_request, opts = {})
      data, _status_code, _headers = memory_recall_with_http_info(recall_request, opts)
      data
    end

    # The memories relevant to a text, and a prompt block that carries them.
    # @param recall_request [RecallRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(RecallResponse, Integer, Hash)>] RecallResponse data, response status code and response headers
    def memory_recall_with_http_info(recall_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MemoryApi.memory_recall ...'
      end
      # verify the required parameter 'recall_request' is set
      if @api_client.config.client_side_validation && recall_request.nil?
        fail ArgumentError, "Missing the required parameter 'recall_request' when calling MemoryApi.memory_recall"
      end
      # resource path
      local_var_path = '/v1/memory/recall'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(recall_request)

      # return_type
      return_type = opts[:debug_return_type] || 'RecallResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['gatewayToken']

      new_options = opts.merge(
        :operation => :"MemoryApi.memory_recall",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MemoryApi#memory_recall\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Save a durable fact. Never anonymous — `source` is recorded.
    # @param remember_request [RememberRequest] 
    # @param [Hash] opts the optional parameters
    # @return [RememberResponse]
    def memory_remember(remember_request, opts = {})
      data, _status_code, _headers = memory_remember_with_http_info(remember_request, opts)
      data
    end

    # Save a durable fact. Never anonymous — &#x60;source&#x60; is recorded.
    # @param remember_request [RememberRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(RememberResponse, Integer, Hash)>] RememberResponse data, response status code and response headers
    def memory_remember_with_http_info(remember_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MemoryApi.memory_remember ...'
      end
      # verify the required parameter 'remember_request' is set
      if @api_client.config.client_side_validation && remember_request.nil?
        fail ArgumentError, "Missing the required parameter 'remember_request' when calling MemoryApi.memory_remember"
      end
      # resource path
      local_var_path = '/v1/memory/remember'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(remember_request)

      # return_type
      return_type = opts[:debug_return_type] || 'RememberResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenHeader', 'gatewayToken']

      new_options = opts.merge(
        :operation => :"MemoryApi.memory_remember",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MemoryApi#memory_remember\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Two-way merge in one round trip — push what you have, receive the full set.
    # @param memory_sync_request [MemorySyncRequest] 
    # @param [Hash] opts the optional parameters
    # @return [MemorySyncResponse]
    def memory_sync(memory_sync_request, opts = {})
      data, _status_code, _headers = memory_sync_with_http_info(memory_sync_request, opts)
      data
    end

    # Two-way merge in one round trip — push what you have, receive the full set.
    # @param memory_sync_request [MemorySyncRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MemorySyncResponse, Integer, Hash)>] MemorySyncResponse data, response status code and response headers
    def memory_sync_with_http_info(memory_sync_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MemoryApi.memory_sync ...'
      end
      # verify the required parameter 'memory_sync_request' is set
      if @api_client.config.client_side_validation && memory_sync_request.nil?
        fail ArgumentError, "Missing the required parameter 'memory_sync_request' when calling MemoryApi.memory_sync"
      end
      # resource path
      local_var_path = '/v1/memory/sync'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(memory_sync_request)

      # return_type
      return_type = opts[:debug_return_type] || 'MemorySyncResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenHeader', 'gatewayToken']

      new_options = opts.merge(
        :operation => :"MemoryApi.memory_sync",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MemoryApi#memory_sync\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
