=begin
#ChatPanel Gateway API

#The ChatPanel gateway runs on the user's machine (loopback only, port 4320 by default). It redacts personal data before a model sees it, routes model traffic, and holds the user's searchable history, durable memory, shared preferences and the team/project run boards.  **It only answers on loopback.** A client on another host cannot reach it; an SDK refuses a non-loopback base URL unless the integrator opts in and uses TLS.  **Two trust levels.** The `/v1` data plane is open to any local process — that is the product. Writes that change what every client sees (remember, forget, ingest) and anything admin-shaped require the per-install token the gateway writes to `~/.chatpanel/gateway-token` (mode 0600), or a copy obtained by pairing (`POST /pair` with a one-time code from `chatpanel-gateway pair`). `POST /whoami` says which trust you have.  **Errors** are `{ error: { message, type } }` (or `{ error: \"text\" }` on the oldest routes) with the HTTP status. `type` is a stable machine word: `not_found`, `invalid_request`, `unknown_endpoint`, `unavailable`, `bridge_unreachable`, `no_bridge`, `redact_error`, `search_error`, `memory_error`, `team_error`, `ingest_error`, `prefs_error`. 

The version of the OpenAPI document: 0.25.0

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module ChatPanel
  class PrefsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Remove one section.
    # @param section [String] 
    # @param [Hash] opts the optional parameters
    # @return [PrefsDelete200Response]
    def prefs_delete(section, opts = {})
      data, _status_code, _headers = prefs_delete_with_http_info(section, opts)
      data
    end

    # Remove one section.
    # @param section [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PrefsDelete200Response, Integer, Hash)>] PrefsDelete200Response data, response status code and response headers
    def prefs_delete_with_http_info(section, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PrefsApi.prefs_delete ...'
      end
      # verify the required parameter 'section' is set
      if @api_client.config.client_side_validation && section.nil?
        fail ArgumentError, "Missing the required parameter 'section' when calling PrefsApi.prefs_delete"
      end
      # resource path
      local_var_path = '/v1/prefs'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'section'] = section

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PrefsDelete200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['gatewayToken']

      new_options = opts.merge(
        :operation => :"PrefsApi.prefs_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PrefsApi#prefs_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Live — which sections another client wrote.
    # @param [Hash] opts the optional parameters
    # @return [String]
    def prefs_events(opts = {})
      data, _status_code, _headers = prefs_events_with_http_info(opts)
      data
    end

    # Live — which sections another client wrote.
    # @param [Hash] opts the optional parameters
    # @return [Array<(String, Integer, Hash)>] String data, response status code and response headers
    def prefs_events_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PrefsApi.prefs_events ...'
      end
      # resource path
      local_var_path = '/v1/prefs/events'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/event-stream']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'String'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['gatewayToken']

      new_options = opts.merge(
        :operation => :"PrefsApi.prefs_events",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PrefsApi#prefs_events\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # The shared sections, or only their stamps.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :section 
    # @option opts [Boolean] :stamps Only &#x60;{ revision, stamps }&#x60;.
    # @return [Prefs]
    def prefs_get(opts = {})
      data, _status_code, _headers = prefs_get_with_http_info(opts)
      data
    end

    # The shared sections, or only their stamps.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :section 
    # @option opts [Boolean] :stamps Only &#x60;{ revision, stamps }&#x60;.
    # @return [Array<(Prefs, Integer, Hash)>] Prefs data, response status code and response headers
    def prefs_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PrefsApi.prefs_get ...'
      end
      # resource path
      local_var_path = '/v1/prefs'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'section'] = opts[:'section'] if !opts[:'section'].nil?
      query_params[:'stamps'] = opts[:'stamps'] if !opts[:'stamps'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Prefs'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['gatewayToken']

      new_options = opts.merge(
        :operation => :"PrefsApi.prefs_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PrefsApi#prefs_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Write sections; per-section last-writer-wins by stamp.
    # @param prefs_write [PrefsWrite] 
    # @param [Hash] opts the optional parameters
    # @return [PrefsWriteResult]
    def prefs_put(prefs_write, opts = {})
      data, _status_code, _headers = prefs_put_with_http_info(prefs_write, opts)
      data
    end

    # Write sections; per-section last-writer-wins by stamp.
    # @param prefs_write [PrefsWrite] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PrefsWriteResult, Integer, Hash)>] PrefsWriteResult data, response status code and response headers
    def prefs_put_with_http_info(prefs_write, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PrefsApi.prefs_put ...'
      end
      # verify the required parameter 'prefs_write' is set
      if @api_client.config.client_side_validation && prefs_write.nil?
        fail ArgumentError, "Missing the required parameter 'prefs_write' when calling PrefsApi.prefs_put"
      end
      # resource path
      local_var_path = '/v1/prefs'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(prefs_write)

      # return_type
      return_type = opts[:debug_return_type] || 'PrefsWriteResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['gatewayToken']

      new_options = opts.merge(
        :operation => :"PrefsApi.prefs_put",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PrefsApi#prefs_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
