=begin
#ChatPanel Gateway API

#The ChatPanel gateway runs on the user's machine (loopback only, port 4320 by default). It redacts personal data before a model sees it, routes model traffic, and holds the user's searchable history, durable memory, shared preferences and the team/project run boards.  **It only answers on loopback.** A client on another host cannot reach it; an SDK refuses a non-loopback base URL unless the integrator opts in and uses TLS.  **Two trust levels.** The `/v1` data plane is open to any local process — that is the product. Writes that change what every client sees (remember, forget, ingest) and anything admin-shaped require the per-install token the gateway writes to `~/.chatpanel/gateway-token` (mode 0600), or a copy obtained by pairing (`POST /pair` with a one-time code from `chatpanel-gateway pair`). `POST /whoami` says which trust you have.  **Errors** are `{ error: { message, type } }` (or `{ error: \"text\" }` on the oldest routes) with the HTTP status. `type` is a stable machine word: `not_found`, `invalid_request`, `unknown_endpoint`, `unavailable`, `bridge_unreachable`, `no_bridge`, `redact_error`, `search_error`, `memory_error`, `team_error`, `ingest_error`, `prefs_error`. 

The version of the OpenAPI document: 0.35.0

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module ChatPanel
  class ProjectsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # The executive loop appends (status, run.linked, run.spent, decision, report).
    # @param project_id [String] 
    # @param teams_append_run_events_request [TeamsAppendRunEventsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [InlineObject1]
    def projects_append_events(project_id, teams_append_run_events_request, opts = {})
      data, _status_code, _headers = projects_append_events_with_http_info(project_id, teams_append_run_events_request, opts)
      data
    end

    # The executive loop appends (status, run.linked, run.spent, decision, report).
    # @param project_id [String] 
    # @param teams_append_run_events_request [TeamsAppendRunEventsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(InlineObject1, Integer, Hash)>] InlineObject1 data, response status code and response headers
    def projects_append_events_with_http_info(project_id, teams_append_run_events_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProjectsApi.projects_append_events ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling ProjectsApi.projects_append_events"
      end
      pattern = Regexp.new(/^[a-zA-Z0-9_-]{1,64}$/)
      if @api_client.config.client_side_validation && project_id !~ pattern
        fail ArgumentError, "invalid value for 'project_id' when calling ProjectsApi.projects_append_events, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'teams_append_run_events_request' is set
      if @api_client.config.client_side_validation && teams_append_run_events_request.nil?
        fail ArgumentError, "Missing the required parameter 'teams_append_run_events_request' when calling ProjectsApi.projects_append_events"
      end
      # resource path
      local_var_path = '/v1/projects/{projectId}/events'.sub('{projectId}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(teams_append_run_events_request)

      # return_type
      return_type = opts[:debug_return_type] || 'InlineObject1'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['gatewayToken']

      new_options = opts.merge(
        :operation => :"ProjectsApi.projects_append_events",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProjectsApi#projects_append_events\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # The pool applies at once; `prompt` is the evaluator's, for a structured call.
    # @param project_id [String] 
    # @param job_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :reach  (default to 'any')
    # @option opts [String] :chat_model 
    # @return [Hash<String, Object>]
    def projects_applications(project_id, job_id, opts = {})
      data, _status_code, _headers = projects_applications_with_http_info(project_id, job_id, opts)
      data
    end

    # The pool applies at once; &#x60;prompt&#x60; is the evaluator&#39;s, for a structured call.
    # @param project_id [String] 
    # @param job_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :reach  (default to 'any')
    # @option opts [String] :chat_model 
    # @return [Array<(Hash<String, Object>, Integer, Hash)>] Hash<String, Object> data, response status code and response headers
    def projects_applications_with_http_info(project_id, job_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProjectsApi.projects_applications ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling ProjectsApi.projects_applications"
      end
      pattern = Regexp.new(/^[a-zA-Z0-9_-]{1,64}$/)
      if @api_client.config.client_side_validation && project_id !~ pattern
        fail ArgumentError, "invalid value for 'project_id' when calling ProjectsApi.projects_applications, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'job_id' is set
      if @api_client.config.client_side_validation && job_id.nil?
        fail ArgumentError, "Missing the required parameter 'job_id' when calling ProjectsApi.projects_applications"
      end
      pattern = Regexp.new(/^[a-zA-Z0-9_-]{1,64}$/)
      if @api_client.config.client_side_validation && job_id !~ pattern
        fail ArgumentError, "invalid value for 'job_id' when calling ProjectsApi.projects_applications, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/v1/projects/{projectId}/jobs/{jobId}/applications'.sub('{projectId}', CGI.escape(project_id.to_s)).sub('{jobId}', CGI.escape(job_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'reach'] = opts[:'reach'] if !opts[:'reach'].nil?
      query_params[:'chatModel'] = opts[:'chat_model'] if !opts[:'chat_model'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Hash<String, Object>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['gatewayToken']

      new_options = opts.merge(
        :operation => :"ProjectsApi.projects_applications",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProjectsApi#projects_applications\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Open a record (idempotent) or update the page.
    # @param projects_create_request [ProjectsCreateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [InlineObject1]
    def projects_create(projects_create_request, opts = {})
      data, _status_code, _headers = projects_create_with_http_info(projects_create_request, opts)
      data
    end

    # Open a record (idempotent) or update the page.
    # @param projects_create_request [ProjectsCreateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(InlineObject1, Integer, Hash)>] InlineObject1 data, response status code and response headers
    def projects_create_with_http_info(projects_create_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProjectsApi.projects_create ...'
      end
      # verify the required parameter 'projects_create_request' is set
      if @api_client.config.client_side_validation && projects_create_request.nil?
        fail ArgumentError, "Missing the required parameter 'projects_create_request' when calling ProjectsApi.projects_create"
      end
      # resource path
      local_var_path = '/v1/projects'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(projects_create_request)

      # return_type
      return_type = opts[:debug_return_type] || 'InlineObject1'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['gatewayToken']

      new_options = opts.merge(
        :operation => :"ProjectsApi.projects_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProjectsApi#projects_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Remove a project record.
    # @param project_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [PrefsDelete200Response]
    def projects_delete(project_id, opts = {})
      data, _status_code, _headers = projects_delete_with_http_info(project_id, opts)
      data
    end

    # Remove a project record.
    # @param project_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PrefsDelete200Response, Integer, Hash)>] PrefsDelete200Response data, response status code and response headers
    def projects_delete_with_http_info(project_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProjectsApi.projects_delete ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling ProjectsApi.projects_delete"
      end
      pattern = Regexp.new(/^[a-zA-Z0-9_-]{1,64}$/)
      if @api_client.config.client_side_validation && project_id !~ pattern
        fail ArgumentError, "invalid value for 'project_id' when calling ProjectsApi.projects_delete, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/v1/projects/{projectId}'.sub('{projectId}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PrefsDelete200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['gatewayToken']

      new_options = opts.merge(
        :operation => :"ProjectsApi.projects_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProjectsApi#projects_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Tail a project — hello, replay, then live.
    # @param project_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :after 
    # @return [String]
    def projects_events(project_id, opts = {})
      data, _status_code, _headers = projects_events_with_http_info(project_id, opts)
      data
    end

    # Tail a project — hello, replay, then live.
    # @param project_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :after 
    # @return [Array<(String, Integer, Hash)>] String data, response status code and response headers
    def projects_events_with_http_info(project_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProjectsApi.projects_events ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling ProjectsApi.projects_events"
      end
      pattern = Regexp.new(/^[a-zA-Z0-9_-]{1,64}$/)
      if @api_client.config.client_side_validation && project_id !~ pattern
        fail ArgumentError, "invalid value for 'project_id' when calling ProjectsApi.projects_events, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/v1/projects/{projectId}/events'.sub('{projectId}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'after'] = opts[:'after'] if !opts[:'after'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/event-stream', 'application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'String'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['gatewayToken']

      new_options = opts.merge(
        :operation => :"ProjectsApi.projects_events",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProjectsApi#projects_events\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # The record — jobs, runs, spend, decisions, report.
    # @param project_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :events 
    # @return [InlineObject1]
    def projects_get(project_id, opts = {})
      data, _status_code, _headers = projects_get_with_http_info(project_id, opts)
      data
    end

    # The record — jobs, runs, spend, decisions, report.
    # @param project_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :events 
    # @return [Array<(InlineObject1, Integer, Hash)>] InlineObject1 data, response status code and response headers
    def projects_get_with_http_info(project_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProjectsApi.projects_get ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling ProjectsApi.projects_get"
      end
      pattern = Regexp.new(/^[a-zA-Z0-9_-]{1,64}$/)
      if @api_client.config.client_side_validation && project_id !~ pattern
        fail ArgumentError, "invalid value for 'project_id' when calling ProjectsApi.projects_get, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/v1/projects/{projectId}'.sub('{projectId}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'events'] = opts[:'events'] if !opts[:'events'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'InlineObject1'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['gatewayToken']

      new_options = opts.merge(
        :operation => :"ProjectsApi.projects_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProjectsApi#projects_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Every open posting across projects.
    # @param [Hash] opts the optional parameters
    # @return [ProjectsJobBoard200Response]
    def projects_job_board(opts = {})
      data, _status_code, _headers = projects_job_board_with_http_info(opts)
      data
    end

    # Every open posting across projects.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProjectsJobBoard200Response, Integer, Hash)>] ProjectsJobBoard200Response data, response status code and response headers
    def projects_job_board_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProjectsApi.projects_job_board ...'
      end
      # resource path
      local_var_path = '/v1/projects/jobs'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProjectsJobBoard200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['gatewayToken']

      new_options = opts.merge(
        :operation => :"ProjectsApi.projects_job_board",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProjectsApi#projects_job_board\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Projects, newest activity first, jobs counted.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit  (default to 50)
    # @option opts [String] :status 
    # @return [ProjectsList200Response]
    def projects_list(opts = {})
      data, _status_code, _headers = projects_list_with_http_info(opts)
      data
    end

    # Projects, newest activity first, jobs counted.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit  (default to 50)
    # @option opts [String] :status 
    # @return [Array<(ProjectsList200Response, Integer, Hash)>] ProjectsList200Response data, response status code and response headers
    def projects_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProjectsApi.projects_list ...'
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling ProjectsApi.projects_list, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/projects'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProjectsList200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['gatewayToken']

      new_options = opts.merge(
        :operation => :"ProjectsApi.projects_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProjectsApi#projects_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Move a job along its state machine.
    # @param project_id [String] 
    # @param job_id [String] 
    # @param projects_patch_job_request [ProjectsPatchJobRequest] 
    # @param [Hash] opts the optional parameters
    # @return [InlineObject1]
    def projects_patch_job(project_id, job_id, projects_patch_job_request, opts = {})
      data, _status_code, _headers = projects_patch_job_with_http_info(project_id, job_id, projects_patch_job_request, opts)
      data
    end

    # Move a job along its state machine.
    # @param project_id [String] 
    # @param job_id [String] 
    # @param projects_patch_job_request [ProjectsPatchJobRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(InlineObject1, Integer, Hash)>] InlineObject1 data, response status code and response headers
    def projects_patch_job_with_http_info(project_id, job_id, projects_patch_job_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProjectsApi.projects_patch_job ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling ProjectsApi.projects_patch_job"
      end
      pattern = Regexp.new(/^[a-zA-Z0-9_-]{1,64}$/)
      if @api_client.config.client_side_validation && project_id !~ pattern
        fail ArgumentError, "invalid value for 'project_id' when calling ProjectsApi.projects_patch_job, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'job_id' is set
      if @api_client.config.client_side_validation && job_id.nil?
        fail ArgumentError, "Missing the required parameter 'job_id' when calling ProjectsApi.projects_patch_job"
      end
      pattern = Regexp.new(/^[a-zA-Z0-9_-]{1,64}$/)
      if @api_client.config.client_side_validation && job_id !~ pattern
        fail ArgumentError, "invalid value for 'job_id' when calling ProjectsApi.projects_patch_job, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'projects_patch_job_request' is set
      if @api_client.config.client_side_validation && projects_patch_job_request.nil?
        fail ArgumentError, "Missing the required parameter 'projects_patch_job_request' when calling ProjectsApi.projects_patch_job"
      end
      # resource path
      local_var_path = '/v1/projects/{projectId}/jobs/{jobId}'.sub('{projectId}', CGI.escape(project_id.to_s)).sub('{jobId}', CGI.escape(job_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(projects_patch_job_request)

      # return_type
      return_type = opts[:debug_return_type] || 'InlineObject1'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['gatewayToken']

      new_options = opts.merge(
        :operation => :"ProjectsApi.projects_patch_job",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProjectsApi#projects_patch_job\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Post a job.
    # @param project_id [String] 
    # @param projects_post_job_request [ProjectsPostJobRequest] 
    # @param [Hash] opts the optional parameters
    # @return [InlineObject1]
    def projects_post_job(project_id, projects_post_job_request, opts = {})
      data, _status_code, _headers = projects_post_job_with_http_info(project_id, projects_post_job_request, opts)
      data
    end

    # Post a job.
    # @param project_id [String] 
    # @param projects_post_job_request [ProjectsPostJobRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(InlineObject1, Integer, Hash)>] InlineObject1 data, response status code and response headers
    def projects_post_job_with_http_info(project_id, projects_post_job_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProjectsApi.projects_post_job ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling ProjectsApi.projects_post_job"
      end
      pattern = Regexp.new(/^[a-zA-Z0-9_-]{1,64}$/)
      if @api_client.config.client_side_validation && project_id !~ pattern
        fail ArgumentError, "invalid value for 'project_id' when calling ProjectsApi.projects_post_job, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'projects_post_job_request' is set
      if @api_client.config.client_side_validation && projects_post_job_request.nil?
        fail ArgumentError, "Missing the required parameter 'projects_post_job_request' when calling ProjectsApi.projects_post_job"
      end
      # resource path
      local_var_path = '/v1/projects/{projectId}/jobs'.sub('{projectId}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(projects_post_job_request)

      # return_type
      return_type = opts[:debug_return_type] || 'InlineObject1'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['gatewayToken']

      new_options = opts.merge(
        :operation => :"ProjectsApi.projects_post_job",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProjectsApi#projects_post_job\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # One pass — fit recomputed, the evaluation read through the schema, the pick landed as events.
    # @param project_id [String] 
    # @param job_id [String] 
    # @param projects_recruit_request [ProjectsRecruitRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Hash<String, Object>]
    def projects_recruit(project_id, job_id, projects_recruit_request, opts = {})
      data, _status_code, _headers = projects_recruit_with_http_info(project_id, job_id, projects_recruit_request, opts)
      data
    end

    # One pass — fit recomputed, the evaluation read through the schema, the pick landed as events.
    # @param project_id [String] 
    # @param job_id [String] 
    # @param projects_recruit_request [ProjectsRecruitRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Hash<String, Object>, Integer, Hash)>] Hash<String, Object> data, response status code and response headers
    def projects_recruit_with_http_info(project_id, job_id, projects_recruit_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProjectsApi.projects_recruit ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling ProjectsApi.projects_recruit"
      end
      pattern = Regexp.new(/^[a-zA-Z0-9_-]{1,64}$/)
      if @api_client.config.client_side_validation && project_id !~ pattern
        fail ArgumentError, "invalid value for 'project_id' when calling ProjectsApi.projects_recruit, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'job_id' is set
      if @api_client.config.client_side_validation && job_id.nil?
        fail ArgumentError, "Missing the required parameter 'job_id' when calling ProjectsApi.projects_recruit"
      end
      pattern = Regexp.new(/^[a-zA-Z0-9_-]{1,64}$/)
      if @api_client.config.client_side_validation && job_id !~ pattern
        fail ArgumentError, "invalid value for 'job_id' when calling ProjectsApi.projects_recruit, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'projects_recruit_request' is set
      if @api_client.config.client_side_validation && projects_recruit_request.nil?
        fail ArgumentError, "Missing the required parameter 'projects_recruit_request' when calling ProjectsApi.projects_recruit"
      end
      # resource path
      local_var_path = '/v1/projects/{projectId}/jobs/{jobId}/recruit'.sub('{projectId}', CGI.escape(project_id.to_s)).sub('{jobId}', CGI.escape(job_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(projects_recruit_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Hash<String, Object>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['gatewayToken']

      new_options = opts.merge(
        :operation => :"ProjectsApi.projects_recruit",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProjectsApi#projects_recruit\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
