=begin
#ChatPanel Gateway API

#The ChatPanel gateway runs on the user's machine (loopback only, port 4320 by default). It redacts personal data before a model sees it, routes model traffic, and holds the user's searchable history, durable memory, shared preferences and the team/project run boards.  **It only answers on loopback.** A client on another host cannot reach it; an SDK refuses a non-loopback base URL unless the integrator opts in and uses TLS.  **Two trust levels.** The `/v1` data plane is open to any local process — that is the product. Writes that change what every client sees (remember, forget, ingest) and anything admin-shaped require the per-install token the gateway writes to `~/.chatpanel/gateway-token` (mode 0600), or a copy obtained by pairing (`POST /pair` with a one-time code from `chatpanel-gateway pair`). `POST /whoami` says which trust you have.  **Errors** are `{ error: { message, type } }` (or `{ error: \"text\" }` on the oldest routes) with the HTTP status. `type` is a stable machine word: `not_found`, `invalid_request`, `unknown_endpoint`, `unavailable`, `bridge_unreachable`, `no_bridge`, `redact_error`, `search_error`, `memory_error`, `team_error`, `ingest_error`, `prefs_error`. 

The version of the OpenAPI document: 0.25.0

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module ChatPanel
  class RetrievalApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # A document's pages from its bytes — a PDF, a Word file, a sheet, a deck — parsed once, paged by hash.
    # The `extract` capability (docs/capability-endpoints.md): the third leg beside `search` and `read`. Two calls on one route. With `name` and `data` (the file, base64), the document is parsed in a worker process on this machine — no network, the vault unreadable — and the answer is its identity (`hash`, SHA-256 of the bytes), its `type` as read from the bytes, its `title` when it has one and how many `pages` it has; the text stays on the server. With `hash` and `page`, one page's text comes back; the bytes crossed once. A page is the format's own unit (a PDF page, a slide, a sheet) or, for a document with none (DOCX, Markdown, text), a run of ~6,000 characters cut at a heading. Readers: PDF (pdf.js, the text layer — a scanned document is `scanned: true` with empty pages, never OCR'd), DOCX (Markdown), XLSX/ODS (rows of cells), PPTX/ODP (a slide per page, speaker notes appended), ODT, Markdown, text, CSV, HTML. A hash the worker no longer holds (it is dropped when idle) is a 404 `unknown_document`: send the bytes again. `budgetMs` is refused (503 `over_budget`) from the worker's own record. 
    # @param extract_request [ExtractRequest] 
    # @param [Hash] opts the optional parameters
    # @return [ExtractResponse]
    def retrieval_extract(extract_request, opts = {})
      data, _status_code, _headers = retrieval_extract_with_http_info(extract_request, opts)
      data
    end

    # A document&#39;s pages from its bytes — a PDF, a Word file, a sheet, a deck — parsed once, paged by hash.
    # The &#x60;extract&#x60; capability (docs/capability-endpoints.md): the third leg beside &#x60;search&#x60; and &#x60;read&#x60;. Two calls on one route. With &#x60;name&#x60; and &#x60;data&#x60; (the file, base64), the document is parsed in a worker process on this machine — no network, the vault unreadable — and the answer is its identity (&#x60;hash&#x60;, SHA-256 of the bytes), its &#x60;type&#x60; as read from the bytes, its &#x60;title&#x60; when it has one and how many &#x60;pages&#x60; it has; the text stays on the server. With &#x60;hash&#x60; and &#x60;page&#x60;, one page&#39;s text comes back; the bytes crossed once. A page is the format&#39;s own unit (a PDF page, a slide, a sheet) or, for a document with none (DOCX, Markdown, text), a run of ~6,000 characters cut at a heading. Readers: PDF (pdf.js, the text layer — a scanned document is &#x60;scanned: true&#x60; with empty pages, never OCR&#39;d), DOCX (Markdown), XLSX/ODS (rows of cells), PPTX/ODP (a slide per page, speaker notes appended), ODT, Markdown, text, CSV, HTML. A hash the worker no longer holds (it is dropped when idle) is a 404 &#x60;unknown_document&#x60;: send the bytes again. &#x60;budgetMs&#x60; is refused (503 &#x60;over_budget&#x60;) from the worker&#39;s own record. 
    # @param extract_request [ExtractRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ExtractResponse, Integer, Hash)>] ExtractResponse data, response status code and response headers
    def retrieval_extract_with_http_info(extract_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RetrievalApi.retrieval_extract ...'
      end
      # verify the required parameter 'extract_request' is set
      if @api_client.config.client_side_validation && extract_request.nil?
        fail ArgumentError, "Missing the required parameter 'extract_request' when calling RetrievalApi.retrieval_extract"
      end
      # resource path
      local_var_path = '/v1/extract'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(extract_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ExtractResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['gatewayToken']

      new_options = opts.merge(
        :operation => :"RetrievalApi.retrieval_extract",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RetrievalApi#retrieval_extract\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Read one public page as LLM-ready Markdown, cited where it landed, with its sections.
    # The `read` capability (docs/web-retrieval.md §4.2). The page is fetched from this machine as the user's agent — public web only (the shared SSRF guard, re-checked where a redirect lands), a browser User-Agent, no cookies — and turned into Markdown that keeps headings, lists, tables, code and links. `url` in the answer is where the page should be CITED: the same-origin canonical when it declares one, else where the fetch landed; `sections` are the page's own heading ids with their offset into the content so a citation can point at `url#section`. A page that could not be read as the article — a login wall, a paywall, a 429 — is a 200 with `restricted.reason` and the caller's `snippet` standing in for the content, never the wall rendered as prose. `maxChars` cuts at a section boundary. A read is served from this process's page cache when fresh (`cached: true`), revalidated with its ETag when stale. `budgetMs` is refused (503 `over_budget`) from the provider's own record, never missed. Providers are listed by `GET /v1/capabilities`: `defuddle` (in-process), `text` (the DOM-less fallback), `remote` (an `r.jina.ai`-shaped reader configured under `read.remote`). 
    # @param read_request [ReadRequest] 
    # @param [Hash] opts the optional parameters
    # @return [ReadResponse]
    def retrieval_read(read_request, opts = {})
      data, _status_code, _headers = retrieval_read_with_http_info(read_request, opts)
      data
    end

    # Read one public page as LLM-ready Markdown, cited where it landed, with its sections.
    # The &#x60;read&#x60; capability (docs/web-retrieval.md §4.2). The page is fetched from this machine as the user&#39;s agent — public web only (the shared SSRF guard, re-checked where a redirect lands), a browser User-Agent, no cookies — and turned into Markdown that keeps headings, lists, tables, code and links. &#x60;url&#x60; in the answer is where the page should be CITED: the same-origin canonical when it declares one, else where the fetch landed; &#x60;sections&#x60; are the page&#39;s own heading ids with their offset into the content so a citation can point at &#x60;url#section&#x60;. A page that could not be read as the article — a login wall, a paywall, a 429 — is a 200 with &#x60;restricted.reason&#x60; and the caller&#39;s &#x60;snippet&#x60; standing in for the content, never the wall rendered as prose. &#x60;maxChars&#x60; cuts at a section boundary. A read is served from this process&#39;s page cache when fresh (&#x60;cached: true&#x60;), revalidated with its ETag when stale. &#x60;budgetMs&#x60; is refused (503 &#x60;over_budget&#x60;) from the provider&#39;s own record, never missed. Providers are listed by &#x60;GET /v1/capabilities&#x60;: &#x60;defuddle&#x60; (in-process), &#x60;text&#x60; (the DOM-less fallback), &#x60;remote&#x60; (an &#x60;r.jina.ai&#x60;-shaped reader configured under &#x60;read.remote&#x60;). 
    # @param read_request [ReadRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ReadResponse, Integer, Hash)>] ReadResponse data, response status code and response headers
    def retrieval_read_with_http_info(read_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RetrievalApi.retrieval_read ...'
      end
      # verify the required parameter 'read_request' is set
      if @api_client.config.client_side_validation && read_request.nil?
        fail ArgumentError, "Missing the required parameter 'read_request' when calling RetrievalApi.retrieval_read"
      end
      # resource path
      local_var_path = '/v1/read'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(read_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ReadResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['gatewayToken']

      new_options = opts.merge(
        :operation => :"RetrievalApi.retrieval_read",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RetrievalApi#retrieval_read\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # The r.jina.ai-shaped alias — `GET /v1/read/https://…` — for clients that already speak it.
    # Same read as `POST /v1/read`, addressed the way the shipped ChatPanel extension's *reader service* slot (and anything else built for `r.jina.ai`) already addresses a reader: the page URL appended to the base, as is or percent-encoded, with its own query string kept. Answers `text/plain` with `Title:` / `URL Source:` / `Published Time:` header lines, a blank line and `Markdown Content:`; under `Accept: application/json` the §4.2 document wrapped as `{ code, status, data }`. `X-Return-Format: text` selects the text form. A Bearer token is accepted and ignored. 
    # @param url [String] The page URL, as is or percent-encoded.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :accept &#x60;application/json&#x60; for the document; text otherwise.
    # @option opts [String] :x_return_format 
    # @return [String]
    def retrieval_read_alias(url, opts = {})
      data, _status_code, _headers = retrieval_read_alias_with_http_info(url, opts)
      data
    end

    # The r.jina.ai-shaped alias — &#x60;GET /v1/read/https://…&#x60; — for clients that already speak it.
    # Same read as &#x60;POST /v1/read&#x60;, addressed the way the shipped ChatPanel extension&#39;s *reader service* slot (and anything else built for &#x60;r.jina.ai&#x60;) already addresses a reader: the page URL appended to the base, as is or percent-encoded, with its own query string kept. Answers &#x60;text/plain&#x60; with &#x60;Title:&#x60; / &#x60;URL Source:&#x60; / &#x60;Published Time:&#x60; header lines, a blank line and &#x60;Markdown Content:&#x60;; under &#x60;Accept: application/json&#x60; the §4.2 document wrapped as &#x60;{ code, status, data }&#x60;. &#x60;X-Return-Format: text&#x60; selects the text form. A Bearer token is accepted and ignored. 
    # @param url [String] The page URL, as is or percent-encoded.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :accept &#x60;application/json&#x60; for the document; text otherwise.
    # @option opts [String] :x_return_format 
    # @return [Array<(String, Integer, Hash)>] String data, response status code and response headers
    def retrieval_read_alias_with_http_info(url, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RetrievalApi.retrieval_read_alias ...'
      end
      # verify the required parameter 'url' is set
      if @api_client.config.client_side_validation && url.nil?
        fail ArgumentError, "Missing the required parameter 'url' when calling RetrievalApi.retrieval_read_alias"
      end
      if @api_client.config.client_side_validation && url.to_s.length > 4096
        fail ArgumentError, 'invalid value for "url" when calling RetrievalApi.retrieval_read_alias, the character length must be smaller than or equal to 4096.'
      end

      allowable_values = ["markdown", "text"]
      if @api_client.config.client_side_validation && opts[:'x_return_format'] && !allowable_values.include?(opts[:'x_return_format'])
        fail ArgumentError, "invalid value for \"x_return_format\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/v1/read/{url}'.sub('{url}', CGI.escape(url.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json']) unless header_params['Accept']
      header_params[:'Accept'] = opts[:'accept'] if !opts[:'accept'].nil?
      header_params[:'X-Return-Format'] = opts[:'x_return_format'] if !opts[:'x_return_format'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'String'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['gatewayToken']

      new_options = opts.merge(
        :operation => :"RetrievalApi.retrieval_read_alias",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RetrievalApi#retrieval_read_alias\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search the web through the provider this gateway is configured with; optionally read the top results in the same request.
    # The `search` capability (docs/web-retrieval.md §4.1). Providers are listed by `GET /v1/capabilities`: `serp` (a results page fetched and read with the shared rules — no install, the default) and `searxng` (the user's own metasearch, preferred the moment it answers). `read: N` reads the top N results in parallel in this request, each carrying a §4.2 document under `read` — one round-trip instead of 1 + N; a page that will not be read keeps its snippet with `read.restricted.reason`. The query goes through layer-1 redaction (emails, cards, keys, dictionary terms — never the name detector) before it leaves; what was replaced is dropped and `redacted: true` says so; a query with nothing left is 400 `unsafe_query`. `freshness` and `lang` are honoured by SearXNG; `site` by both. `budgetMs` covers the search and its reads and is refused (503 `over_budget`) from the provider's record. `engines` names what was actually asked, so an empty list can be told from a blocked one. 
    # @param web_search_request [WebSearchRequest] 
    # @param [Hash] opts the optional parameters
    # @return [WebSearchResponse]
    def retrieval_search(web_search_request, opts = {})
      data, _status_code, _headers = retrieval_search_with_http_info(web_search_request, opts)
      data
    end

    # Search the web through the provider this gateway is configured with; optionally read the top results in the same request.
    # The &#x60;search&#x60; capability (docs/web-retrieval.md §4.1). Providers are listed by &#x60;GET /v1/capabilities&#x60;: &#x60;serp&#x60; (a results page fetched and read with the shared rules — no install, the default) and &#x60;searxng&#x60; (the user&#39;s own metasearch, preferred the moment it answers). &#x60;read: N&#x60; reads the top N results in parallel in this request, each carrying a §4.2 document under &#x60;read&#x60; — one round-trip instead of 1 + N; a page that will not be read keeps its snippet with &#x60;read.restricted.reason&#x60;. The query goes through layer-1 redaction (emails, cards, keys, dictionary terms — never the name detector) before it leaves; what was replaced is dropped and &#x60;redacted: true&#x60; says so; a query with nothing left is 400 &#x60;unsafe_query&#x60;. &#x60;freshness&#x60; and &#x60;lang&#x60; are honoured by SearXNG; &#x60;site&#x60; by both. &#x60;budgetMs&#x60; covers the search and its reads and is refused (503 &#x60;over_budget&#x60;) from the provider&#39;s record. &#x60;engines&#x60; names what was actually asked, so an empty list can be told from a blocked one. 
    # @param web_search_request [WebSearchRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(WebSearchResponse, Integer, Hash)>] WebSearchResponse data, response status code and response headers
    def retrieval_search_with_http_info(web_search_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RetrievalApi.retrieval_search ...'
      end
      # verify the required parameter 'web_search_request' is set
      if @api_client.config.client_side_validation && web_search_request.nil?
        fail ArgumentError, "Missing the required parameter 'web_search_request' when calling RetrievalApi.retrieval_search"
      end
      # resource path
      local_var_path = '/v1/search'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(web_search_request)

      # return_type
      return_type = opts[:debug_return_type] || 'WebSearchResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['gatewayToken']

      new_options = opts.merge(
        :operation => :"RetrievalApi.retrieval_search",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RetrievalApi#retrieval_search\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # The s.jina.ai-shaped alias — `GET /v1/search/<query>` — the top results WITH their content.
    # Same search as `POST /v1/search` with `read: 5` (`?read=N`, 0–10, changes it), answered in the shape the shipped ChatPanel extension's *Web search API* engine already reads: `{ code, status, data: [{ url, title, description, content, publishedTime? }] }` where `content` is the page's Markdown when it was read and the snippet otherwise — nothing needs fetching on the client. A Bearer token is accepted and ignored. 
    # @param q [String] The query, percent-encoded.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :read  (default to 5)
    # @return [RetrievalSearchAlias200Response]
    def retrieval_search_alias(q, opts = {})
      data, _status_code, _headers = retrieval_search_alias_with_http_info(q, opts)
      data
    end

    # The s.jina.ai-shaped alias — &#x60;GET /v1/search/&lt;query&gt;&#x60; — the top results WITH their content.
    # Same search as &#x60;POST /v1/search&#x60; with &#x60;read: 5&#x60; (&#x60;?read&#x3D;N&#x60;, 0–10, changes it), answered in the shape the shipped ChatPanel extension&#39;s *Web search API* engine already reads: &#x60;{ code, status, data: [{ url, title, description, content, publishedTime? }] }&#x60; where &#x60;content&#x60; is the page&#39;s Markdown when it was read and the snippet otherwise — nothing needs fetching on the client. A Bearer token is accepted and ignored. 
    # @param q [String] The query, percent-encoded.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :read  (default to 5)
    # @return [Array<(RetrievalSearchAlias200Response, Integer, Hash)>] RetrievalSearchAlias200Response data, response status code and response headers
    def retrieval_search_alias_with_http_info(q, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RetrievalApi.retrieval_search_alias ...'
      end
      # verify the required parameter 'q' is set
      if @api_client.config.client_side_validation && q.nil?
        fail ArgumentError, "Missing the required parameter 'q' when calling RetrievalApi.retrieval_search_alias"
      end
      if @api_client.config.client_side_validation && q.to_s.length > 1024
        fail ArgumentError, 'invalid value for "q" when calling RetrievalApi.retrieval_search_alias, the character length must be smaller than or equal to 1024.'
      end

      if @api_client.config.client_side_validation && !opts[:'read'].nil? && opts[:'read'] > 10
        fail ArgumentError, 'invalid value for "opts[:"read"]" when calling RetrievalApi.retrieval_search_alias, must be smaller than or equal to 10.'
      end

      if @api_client.config.client_side_validation && !opts[:'read'].nil? && opts[:'read'] < 0
        fail ArgumentError, 'invalid value for "opts[:"read"]" when calling RetrievalApi.retrieval_search_alias, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/v1/search/{q}'.sub('{q}', CGI.escape(q.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'read'] = opts[:'read'] if !opts[:'read'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'RetrievalSearchAlias200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['gatewayToken']

      new_options = opts.merge(
        :operation => :"RetrievalApi.retrieval_search_alias",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RetrievalApi#retrieval_search_alias\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
