=begin
#ChatPanel Gateway API

#The ChatPanel gateway runs on the user's machine (loopback only, port 4320 by default). It redacts personal data before a model sees it, routes model traffic, and holds the user's searchable history, durable memory, shared preferences and the team/project run boards.  **It only answers on loopback.** A client on another host cannot reach it; an SDK refuses a non-loopback base URL unless the integrator opts in and uses TLS.  **Two trust levels.** The `/v1` data plane is open to any local process — that is the product. Writes that change what every client sees (remember, forget, ingest) and anything admin-shaped require the per-install token the gateway writes to `~/.chatpanel/gateway-token` (mode 0600), or a copy obtained by pairing (`POST /pair` with a one-time code from `chatpanel-gateway pair`). `POST /whoami` says which trust you have.  **Errors** are `{ error: { message, type } }` (or `{ error: \"text\" }` on the oldest routes) with the HTTP status. `type` is a stable machine word: `not_found`, `invalid_request`, `unknown_endpoint`, `unavailable`, `bridge_unreachable`, `no_bridge`, `redact_error`, `search_error`, `memory_error`, `team_error`, `ingest_error`, `prefs_error`. 

The version of the OpenAPI document: 0.41.0

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module ChatPanel
  class RuntimeApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Start the container engine (Podman — creates and starts its machine where one is needed).
    # `{ action: 'start' }`. Podman on macOS and Windows runs containers in a machine: made on first start (`podman machine init`), then started. Linux Podman is rootless and needs nothing. Docker is not started by the gateway — the response says so. 
    # @param name [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [RuntimeEngineRequest] :runtime_engine_request 
    # @return [RuntimeActionResult]
    def runtime_engine(name, opts = {})
      data, _status_code, _headers = runtime_engine_with_http_info(name, opts)
      data
    end

    # Start the container engine (Podman — creates and starts its machine where one is needed).
    # &#x60;{ action: &#39;start&#39; }&#x60;. Podman on macOS and Windows runs containers in a machine: made on first start (&#x60;podman machine init&#x60;), then started. Linux Podman is rootless and needs nothing. Docker is not started by the gateway — the response says so. 
    # @param name [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [RuntimeEngineRequest] :runtime_engine_request 
    # @return [Array<(RuntimeActionResult, Integer, Hash)>] RuntimeActionResult data, response status code and response headers
    def runtime_engine_with_http_info(name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RuntimeApi.runtime_engine ...'
      end
      # verify the required parameter 'name' is set
      if @api_client.config.client_side_validation && name.nil?
        fail ArgumentError, "Missing the required parameter 'name' when calling RuntimeApi.runtime_engine"
      end
      # verify enum value
      allowable_values = ["podman", "docker"]
      if @api_client.config.client_side_validation && !allowable_values.include?(name)
        fail ArgumentError, "invalid value for \"name\", must be one of #{allowable_values}"
      end
      if @api_client.config.client_side_validation && name.to_s.length > 16
        fail ArgumentError, 'invalid value for "name" when calling RuntimeApi.runtime_engine, the character length must be smaller than or equal to 16.'
      end

      # resource path
      local_var_path = '/v1/runtime/engines/{name}'.sub('{name}', CGI.escape(name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'runtime_engine_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'RuntimeActionResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenHeader', 'gatewayToken']

      new_options = opts.merge(
        :operation => :"RuntimeApi.runtime_engine",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RuntimeApi#runtime_engine\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Will this local model run now? Weights + the KV cache for the context + 10% headroom, against what is free.
    # Checked against what Heatwatch (an optional macOS tool on `127.0.0.1:7878`) says is reclaimable NOW, with the apps to close when it is short — or, without Heatwatch, against the machine's total memory, and `source` says which (`heatwatch` | `total-memory`). The KV cache is counted from the model's `config.json` when it is in the gateway's model cache (`contextCounted` says whether it was). A model the catalogue does not list needs `need_mb`. A native service's start makes the same check and refuses a model that does not fit what is free, unless the start says `force: true`. `runtime.heatwatch: false` stops the gateway asking Heatwatch. 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :service  (default to 'mlx')
    # @option opts [String] :model A catalogue id or a Hugging Face owner/name; the service&#39;s current model when absent.
    # @option opts [Integer] :ctx The context in tokens; the service&#39;s own window when absent.
    # @option opts [Integer] :need_mb The model&#39;s peak memory while serving, for a model the catalogue does not list.
    # @return [RuntimePlan]
    def runtime_plan(opts = {})
      data, _status_code, _headers = runtime_plan_with_http_info(opts)
      data
    end

    # Will this local model run now? Weights + the KV cache for the context + 10% headroom, against what is free.
    # Checked against what Heatwatch (an optional macOS tool on &#x60;127.0.0.1:7878&#x60;) says is reclaimable NOW, with the apps to close when it is short — or, without Heatwatch, against the machine&#39;s total memory, and &#x60;source&#x60; says which (&#x60;heatwatch&#x60; | &#x60;total-memory&#x60;). The KV cache is counted from the model&#39;s &#x60;config.json&#x60; when it is in the gateway&#39;s model cache (&#x60;contextCounted&#x60; says whether it was). A model the catalogue does not list needs &#x60;need_mb&#x60;. A native service&#39;s start makes the same check and refuses a model that does not fit what is free, unless the start says &#x60;force: true&#x60;. &#x60;runtime.heatwatch: false&#x60; stops the gateway asking Heatwatch. 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :service  (default to 'mlx')
    # @option opts [String] :model A catalogue id or a Hugging Face owner/name; the service&#39;s current model when absent.
    # @option opts [Integer] :ctx The context in tokens; the service&#39;s own window when absent.
    # @option opts [Integer] :need_mb The model&#39;s peak memory while serving, for a model the catalogue does not list.
    # @return [Array<(RuntimePlan, Integer, Hash)>] RuntimePlan data, response status code and response headers
    def runtime_plan_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RuntimeApi.runtime_plan ...'
      end
      if @api_client.config.client_side_validation && !opts[:'service'].nil? && opts[:'service'].to_s.length > 32
        fail ArgumentError, 'invalid value for "opts[:"service"]" when calling RuntimeApi.runtime_plan, the character length must be smaller than or equal to 32.'
      end

      if @api_client.config.client_side_validation && !opts[:'model'].nil? && opts[:'model'].to_s.length > 256
        fail ArgumentError, 'invalid value for "opts[:"model"]" when calling RuntimeApi.runtime_plan, the character length must be smaller than or equal to 256.'
      end

      if @api_client.config.client_side_validation && !opts[:'ctx'].nil? && opts[:'ctx'] < 1
        fail ArgumentError, 'invalid value for "opts[:"ctx"]" when calling RuntimeApi.runtime_plan, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'need_mb'].nil? && opts[:'need_mb'] < 1
        fail ArgumentError, 'invalid value for "opts[:"need_mb"]" when calling RuntimeApi.runtime_plan, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/runtime/plan'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'service'] = opts[:'service'] if !opts[:'service'].nil?
      query_params[:'model'] = opts[:'model'] if !opts[:'model'].nil?
      query_params[:'ctx'] = opts[:'ctx'] if !opts[:'ctx'].nil?
      query_params[:'need_mb'] = opts[:'need_mb'] if !opts[:'need_mb'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'RuntimePlan'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['gatewayToken']

      new_options = opts.merge(
        :operation => :"RuntimeApi.runtime_plan",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RuntimeApi#runtime_plan\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Start or stop a catalogue service, or pick a capability container's model — each runs loopback-only and the gateway points at it.
    # `{ action: 'start' | 'stop' }`. `start` brings the engine up if it is not, runs the service's container from its kit (SearXNG: `127.0.0.1:8888`, JSON on, the limiter off, a random secret, capabilities dropped; `reranker` on 8889 and `opendecision` on 8890 with the shared model cache mounted, gateway 0.20+) — the first start pulls the image — waits for it to answer, and sets the config that points the gateway at it (`search.searxng.url`; `capabilities.rerank` / `capabilities.decide`, so `/v1/rerank` and `/v1/decide` are served and listed). `stop` stops the container and clears what it set. `{ action: 'model', model }` (gateway 0.22+) picks the model a capability container runs — an id from its catalogue (`GET /v1/runtime` `services.<id>.models`) or a Hugging Face `owner/name` — gated by the container ENGINE's memory (a model it cannot hold is refused with the command that raises the ceiling); the container is re-created with the pick and restarted when it ran. 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [RuntimeServiceRequest] :runtime_service_request 
    # @return [RuntimeActionResult]
    def runtime_service(id, opts = {})
      data, _status_code, _headers = runtime_service_with_http_info(id, opts)
      data
    end

    # Start or stop a catalogue service, or pick a capability container&#39;s model — each runs loopback-only and the gateway points at it.
    # &#x60;{ action: &#39;start&#39; | &#39;stop&#39; }&#x60;. &#x60;start&#x60; brings the engine up if it is not, runs the service&#39;s container from its kit (SearXNG: &#x60;127.0.0.1:8888&#x60;, JSON on, the limiter off, a random secret, capabilities dropped; &#x60;reranker&#x60; on 8889 and &#x60;opendecision&#x60; on 8890 with the shared model cache mounted, gateway 0.20+) — the first start pulls the image — waits for it to answer, and sets the config that points the gateway at it (&#x60;search.searxng.url&#x60;; &#x60;capabilities.rerank&#x60; / &#x60;capabilities.decide&#x60;, so &#x60;/v1/rerank&#x60; and &#x60;/v1/decide&#x60; are served and listed). &#x60;stop&#x60; stops the container and clears what it set. &#x60;{ action: &#39;model&#39;, model }&#x60; (gateway 0.22+) picks the model a capability container runs — an id from its catalogue (&#x60;GET /v1/runtime&#x60; &#x60;services.&lt;id&gt;.models&#x60;) or a Hugging Face &#x60;owner/name&#x60; — gated by the container ENGINE&#39;s memory (a model it cannot hold is refused with the command that raises the ceiling); the container is re-created with the pick and restarted when it ran. 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [RuntimeServiceRequest] :runtime_service_request 
    # @return [Array<(RuntimeActionResult, Integer, Hash)>] RuntimeActionResult data, response status code and response headers
    def runtime_service_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RuntimeApi.runtime_service ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling RuntimeApi.runtime_service"
      end
      # verify enum value
      allowable_values = ["searxng", "reranker", "opendecision"]
      if @api_client.config.client_side_validation && !allowable_values.include?(id)
        fail ArgumentError, "invalid value for \"id\", must be one of #{allowable_values}"
      end
      if @api_client.config.client_side_validation && id.to_s.length > 32
        fail ArgumentError, 'invalid value for "id" when calling RuntimeApi.runtime_service, the character length must be smaller than or equal to 32.'
      end

      # resource path
      local_var_path = '/v1/runtime/services/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'runtime_service_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'RuntimeActionResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenHeader', 'gatewayToken']

      new_options = opts.merge(
        :operation => :"RuntimeApi.runtime_service",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RuntimeApi#runtime_service\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # The runtime — the process sandbox, what is running now, the container engine, the services.
    # One document for Settings › Runtime. `sandbox` is the bridge's own (`/health.sandbox`: enabled, mode `open` | `allowlist` | `none`, the runtime found, the reason when none, the global `extras`, whether a process can get a session of its own, and `refused` — the last hosts any process was refused, names only). `processes` lists every local MCP server running for the user with its sandbox record and the hosts it was refused, and the warm agent processes. `engines` says which container engine exists (`podman` first, `docker`) and whether it can run a container now; when none does, `install` carries the command for this platform — shown to the person, never run by the gateway. `services` is the catalogue: `searxng` with its state (`no-engine` | `engine-stopped` | `absent` | `stopped` | `running`), its loopback URL and whether it answers. 
    # @param [Hash] opts the optional parameters
    # @return [RuntimeDocument]
    def runtime_status(opts = {})
      data, _status_code, _headers = runtime_status_with_http_info(opts)
      data
    end

    # The runtime — the process sandbox, what is running now, the container engine, the services.
    # One document for Settings › Runtime. &#x60;sandbox&#x60; is the bridge&#39;s own (&#x60;/health.sandbox&#x60;: enabled, mode &#x60;open&#x60; | &#x60;allowlist&#x60; | &#x60;none&#x60;, the runtime found, the reason when none, the global &#x60;extras&#x60;, whether a process can get a session of its own, and &#x60;refused&#x60; — the last hosts any process was refused, names only). &#x60;processes&#x60; lists every local MCP server running for the user with its sandbox record and the hosts it was refused, and the warm agent processes. &#x60;engines&#x60; says which container engine exists (&#x60;podman&#x60; first, &#x60;docker&#x60;) and whether it can run a container now; when none does, &#x60;install&#x60; carries the command for this platform — shown to the person, never run by the gateway. &#x60;services&#x60; is the catalogue: &#x60;searxng&#x60; with its state (&#x60;no-engine&#x60; | &#x60;engine-stopped&#x60; | &#x60;absent&#x60; | &#x60;stopped&#x60; | &#x60;running&#x60;), its loopback URL and whether it answers. 
    # @param [Hash] opts the optional parameters
    # @return [Array<(RuntimeDocument, Integer, Hash)>] RuntimeDocument data, response status code and response headers
    def runtime_status_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RuntimeApi.runtime_status ...'
      end
      # resource path
      local_var_path = '/v1/runtime'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'RuntimeDocument'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['gatewayToken']

      new_options = opts.merge(
        :operation => :"RuntimeApi.runtime_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RuntimeApi#runtime_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
