=begin
#ChatPanel Gateway API

#The ChatPanel gateway runs on the user's machine (loopback only, port 4320 by default). It redacts personal data before a model sees it, routes model traffic, and holds the user's searchable history, durable memory, shared preferences and the team/project run boards.  **It only answers on loopback.** A client on another host cannot reach it; an SDK refuses a non-loopback base URL unless the integrator opts in and uses TLS.  **Two trust levels.** The `/v1` data plane is open to any local process — that is the product. Writes that change what every client sees (remember, forget, ingest) and anything admin-shaped require the per-install token the gateway writes to `~/.chatpanel/gateway-token` (mode 0600), or a copy obtained by pairing (`POST /pair` with a one-time code from `chatpanel-gateway pair`). `POST /whoami` says which trust you have.  **Errors** are `{ error: { message, type } }` (or `{ error: \"text\" }` on the oldest routes) with the HTTP status. `type` is a stable machine word: `not_found`, `invalid_request`, `unknown_endpoint`, `unavailable`, `bridge_unreachable`, `no_bridge`, `redact_error`, `search_error`, `memory_error`, `team_error`, `ingest_error`, `prefs_error`. 

The version of the OpenAPI document: 0.22.0

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module ChatPanel
  class SkillsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # One skill, with its prompt.
    # @param skill_id [String] One path segment; slashes and &#x60;..&#x60; are refused.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :workdir 
    # @return [SkillsGet200Response]
    def skills_get(skill_id, opts = {})
      data, _status_code, _headers = skills_get_with_http_info(skill_id, opts)
      data
    end

    # One skill, with its prompt.
    # @param skill_id [String] One path segment; slashes and &#x60;..&#x60; are refused.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :workdir 
    # @return [Array<(SkillsGet200Response, Integer, Hash)>] SkillsGet200Response data, response status code and response headers
    def skills_get_with_http_info(skill_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SkillsApi.skills_get ...'
      end
      # verify the required parameter 'skill_id' is set
      if @api_client.config.client_side_validation && skill_id.nil?
        fail ArgumentError, "Missing the required parameter 'skill_id' when calling SkillsApi.skills_get"
      end
      if @api_client.config.client_side_validation && skill_id.to_s.length > 200
        fail ArgumentError, 'invalid value for "skill_id" when calling SkillsApi.skills_get, the character length must be smaller than or equal to 200.'
      end

      pattern = Regexp.new(/^[^\/\\]+$/)
      if @api_client.config.client_side_validation && skill_id !~ pattern
        fail ArgumentError, "invalid value for 'skill_id' when calling SkillsApi.skills_get, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/skills/{skillId}'.sub('{skillId}', CGI.escape(skill_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'workdir'] = opts[:'workdir'] if !opts[:'workdir'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SkillsGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['gatewayToken']

      new_options = opts.merge(
        :operation => :"SkillsApi.skills_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SkillsApi#skills_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # The skills on this machine — with a prompt character count, not the prompt.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :workdir Include the project-local skill roots of this directory (0.9.4+).
    # @return [SkillsList200Response]
    def skills_list(opts = {})
      data, _status_code, _headers = skills_list_with_http_info(opts)
      data
    end

    # The skills on this machine — with a prompt character count, not the prompt.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :workdir Include the project-local skill roots of this directory (0.9.4+).
    # @return [Array<(SkillsList200Response, Integer, Hash)>] SkillsList200Response data, response status code and response headers
    def skills_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SkillsApi.skills_list ...'
      end
      # resource path
      local_var_path = '/skills'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'workdir'] = opts[:'workdir'] if !opts[:'workdir'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SkillsList200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['gatewayToken']

      new_options = opts.merge(
        :operation => :"SkillsApi.skills_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SkillsApi#skills_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
