=begin
#ChatPanel Gateway API

#The ChatPanel gateway runs on the user's machine (loopback only, port 4320 by default). It redacts personal data before a model sees it, routes model traffic, and holds the user's searchable history, durable memory, shared preferences and the team/project run boards.  **It only answers on loopback.** A client on another host cannot reach it; an SDK refuses a non-loopback base URL unless the integrator opts in and uses TLS.  **Two trust levels.** The `/v1` data plane is open to any local process — that is the product. Writes that change what every client sees (remember, forget, ingest) and anything admin-shaped require the per-install token the gateway writes to `~/.chatpanel/gateway-token` (mode 0600), or a copy obtained by pairing (`POST /pair` with a one-time code from `chatpanel-gateway pair`). `POST /whoami` says which trust you have.  **Errors** are `{ error: { message, type } }` (or `{ error: \"text\" }` on the oldest routes) with the HTTP status. `type` is a stable machine word: `not_found`, `invalid_request`, `unknown_endpoint`, `unavailable`, `bridge_unreachable`, `no_bridge`, `redact_error`, `search_error`, `memory_error`, `team_error`, `ingest_error`, `prefs_error`. 

The version of the OpenAPI document: 0.11.0

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module ChatPanel
  class TeamsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # A person answers an ask on the board.
    # @param run_id [String] 
    # @param teams_answer_request [TeamsAnswerRequest] 
    # @param [Hash] opts the optional parameters
    # @return [InlineObject]
    def teams_answer(run_id, teams_answer_request, opts = {})
      data, _status_code, _headers = teams_answer_with_http_info(run_id, teams_answer_request, opts)
      data
    end

    # A person answers an ask on the board.
    # @param run_id [String] 
    # @param teams_answer_request [TeamsAnswerRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(InlineObject, Integer, Hash)>] InlineObject data, response status code and response headers
    def teams_answer_with_http_info(run_id, teams_answer_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TeamsApi.teams_answer ...'
      end
      # verify the required parameter 'run_id' is set
      if @api_client.config.client_side_validation && run_id.nil?
        fail ArgumentError, "Missing the required parameter 'run_id' when calling TeamsApi.teams_answer"
      end
      pattern = Regexp.new(/^[a-zA-Z0-9_-]{4,64}$/)
      if @api_client.config.client_side_validation && run_id !~ pattern
        fail ArgumentError, "invalid value for 'run_id' when calling TeamsApi.teams_answer, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'teams_answer_request' is set
      if @api_client.config.client_side_validation && teams_answer_request.nil?
        fail ArgumentError, "Missing the required parameter 'teams_answer_request' when calling TeamsApi.teams_answer"
      end
      # resource path
      local_var_path = '/v1/teams/runs/{runId}/answer'.sub('{runId}', CGI.escape(run_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(teams_answer_request)

      # return_type
      return_type = opts[:debug_return_type] || 'InlineObject'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['gatewayToken']

      new_options = opts.merge(
        :operation => :"TeamsApi.teams_answer",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TeamsApi#teams_answer\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # The running client appends events.
    # @param run_id [String] 
    # @param teams_append_run_events_request [TeamsAppendRunEventsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [InlineObject]
    def teams_append_run_events(run_id, teams_append_run_events_request, opts = {})
      data, _status_code, _headers = teams_append_run_events_with_http_info(run_id, teams_append_run_events_request, opts)
      data
    end

    # The running client appends events.
    # @param run_id [String] 
    # @param teams_append_run_events_request [TeamsAppendRunEventsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(InlineObject, Integer, Hash)>] InlineObject data, response status code and response headers
    def teams_append_run_events_with_http_info(run_id, teams_append_run_events_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TeamsApi.teams_append_run_events ...'
      end
      # verify the required parameter 'run_id' is set
      if @api_client.config.client_side_validation && run_id.nil?
        fail ArgumentError, "Missing the required parameter 'run_id' when calling TeamsApi.teams_append_run_events"
      end
      pattern = Regexp.new(/^[a-zA-Z0-9_-]{4,64}$/)
      if @api_client.config.client_side_validation && run_id !~ pattern
        fail ArgumentError, "invalid value for 'run_id' when calling TeamsApi.teams_append_run_events, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'teams_append_run_events_request' is set
      if @api_client.config.client_side_validation && teams_append_run_events_request.nil?
        fail ArgumentError, "Missing the required parameter 'teams_append_run_events_request' when calling TeamsApi.teams_append_run_events"
      end
      # resource path
      local_var_path = '/v1/teams/runs/{runId}/events'.sub('{runId}', CGI.escape(run_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(teams_append_run_events_request)

      # return_type
      return_type = opts[:debug_return_type] || 'InlineObject'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['gatewayToken']

      new_options = opts.merge(
        :operation => :"TeamsApi.teams_append_run_events",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TeamsApi#teams_append_run_events\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # What a client needs to resume a run whose client went away.
    # @param run_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [TeamsCheckpoint200Response]
    def teams_checkpoint(run_id, opts = {})
      data, _status_code, _headers = teams_checkpoint_with_http_info(run_id, opts)
      data
    end

    # What a client needs to resume a run whose client went away.
    # @param run_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(TeamsCheckpoint200Response, Integer, Hash)>] TeamsCheckpoint200Response data, response status code and response headers
    def teams_checkpoint_with_http_info(run_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TeamsApi.teams_checkpoint ...'
      end
      # verify the required parameter 'run_id' is set
      if @api_client.config.client_side_validation && run_id.nil?
        fail ArgumentError, "Missing the required parameter 'run_id' when calling TeamsApi.teams_checkpoint"
      end
      pattern = Regexp.new(/^[a-zA-Z0-9_-]{4,64}$/)
      if @api_client.config.client_side_validation && run_id !~ pattern
        fail ArgumentError, "invalid value for 'run_id' when calling TeamsApi.teams_checkpoint, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/v1/teams/runs/{runId}/checkpoint'.sub('{runId}', CGI.escape(run_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TeamsCheckpoint200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['gatewayToken']

      new_options = opts.merge(
        :operation => :"TeamsApi.teams_checkpoint",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TeamsApi#teams_checkpoint\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # A client takes a stopped or stale run over.
    # @param run_id [String] 
    # @param teams_claim_request [TeamsClaimRequest] 
    # @param [Hash] opts the optional parameters
    # @return [InlineObject]
    def teams_claim(run_id, teams_claim_request, opts = {})
      data, _status_code, _headers = teams_claim_with_http_info(run_id, teams_claim_request, opts)
      data
    end

    # A client takes a stopped or stale run over.
    # @param run_id [String] 
    # @param teams_claim_request [TeamsClaimRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(InlineObject, Integer, Hash)>] InlineObject data, response status code and response headers
    def teams_claim_with_http_info(run_id, teams_claim_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TeamsApi.teams_claim ...'
      end
      # verify the required parameter 'run_id' is set
      if @api_client.config.client_side_validation && run_id.nil?
        fail ArgumentError, "Missing the required parameter 'run_id' when calling TeamsApi.teams_claim"
      end
      pattern = Regexp.new(/^[a-zA-Z0-9_-]{4,64}$/)
      if @api_client.config.client_side_validation && run_id !~ pattern
        fail ArgumentError, "invalid value for 'run_id' when calling TeamsApi.teams_claim, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'teams_claim_request' is set
      if @api_client.config.client_side_validation && teams_claim_request.nil?
        fail ArgumentError, "Missing the required parameter 'teams_claim_request' when calling TeamsApi.teams_claim"
      end
      # resource path
      local_var_path = '/v1/teams/runs/{runId}/claim'.sub('{runId}', CGI.escape(run_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(teams_claim_request)

      # return_type
      return_type = opts[:debug_return_type] || 'InlineObject'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['gatewayToken']

      new_options = opts.merge(
        :operation => :"TeamsApi.teams_claim",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TeamsApi#teams_claim\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Open a run record.
    # @param team_run_create [TeamRunCreate] 
    # @param [Hash] opts the optional parameters
    # @return [InlineObject]
    def teams_create_run(team_run_create, opts = {})
      data, _status_code, _headers = teams_create_run_with_http_info(team_run_create, opts)
      data
    end

    # Open a run record.
    # @param team_run_create [TeamRunCreate] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(InlineObject, Integer, Hash)>] InlineObject data, response status code and response headers
    def teams_create_run_with_http_info(team_run_create, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TeamsApi.teams_create_run ...'
      end
      # verify the required parameter 'team_run_create' is set
      if @api_client.config.client_side_validation && team_run_create.nil?
        fail ArgumentError, "Missing the required parameter 'team_run_create' when calling TeamsApi.teams_create_run"
      end
      # resource path
      local_var_path = '/v1/teams/runs'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(team_run_create)

      # return_type
      return_type = opts[:debug_return_type] || 'InlineObject'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['gatewayToken']

      new_options = opts.merge(
        :operation => :"TeamsApi.teams_create_run",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TeamsApi#teams_create_run\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Approve or reject a post.
    # @param run_id [String] 
    # @param teams_decide_request [TeamsDecideRequest] 
    # @param [Hash] opts the optional parameters
    # @return [InlineObject]
    def teams_decide(run_id, teams_decide_request, opts = {})
      data, _status_code, _headers = teams_decide_with_http_info(run_id, teams_decide_request, opts)
      data
    end

    # Approve or reject a post.
    # @param run_id [String] 
    # @param teams_decide_request [TeamsDecideRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(InlineObject, Integer, Hash)>] InlineObject data, response status code and response headers
    def teams_decide_with_http_info(run_id, teams_decide_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TeamsApi.teams_decide ...'
      end
      # verify the required parameter 'run_id' is set
      if @api_client.config.client_side_validation && run_id.nil?
        fail ArgumentError, "Missing the required parameter 'run_id' when calling TeamsApi.teams_decide"
      end
      pattern = Regexp.new(/^[a-zA-Z0-9_-]{4,64}$/)
      if @api_client.config.client_side_validation && run_id !~ pattern
        fail ArgumentError, "invalid value for 'run_id' when calling TeamsApi.teams_decide, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'teams_decide_request' is set
      if @api_client.config.client_side_validation && teams_decide_request.nil?
        fail ArgumentError, "Missing the required parameter 'teams_decide_request' when calling TeamsApi.teams_decide"
      end
      # resource path
      local_var_path = '/v1/teams/runs/{runId}/decide'.sub('{runId}', CGI.escape(run_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(teams_decide_request)

      # return_type
      return_type = opts[:debug_return_type] || 'InlineObject'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['gatewayToken']

      new_options = opts.merge(
        :operation => :"TeamsApi.teams_decide",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TeamsApi#teams_decide\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Remove a run; a live one is stopped first.
    # @param run_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [PrefsDelete200Response]
    def teams_delete_run(run_id, opts = {})
      data, _status_code, _headers = teams_delete_run_with_http_info(run_id, opts)
      data
    end

    # Remove a run; a live one is stopped first.
    # @param run_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PrefsDelete200Response, Integer, Hash)>] PrefsDelete200Response data, response status code and response headers
    def teams_delete_run_with_http_info(run_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TeamsApi.teams_delete_run ...'
      end
      # verify the required parameter 'run_id' is set
      if @api_client.config.client_side_validation && run_id.nil?
        fail ArgumentError, "Missing the required parameter 'run_id' when calling TeamsApi.teams_delete_run"
      end
      pattern = Regexp.new(/^[a-zA-Z0-9_-]{4,64}$/)
      if @api_client.config.client_side_validation && run_id !~ pattern
        fail ArgumentError, "invalid value for 'run_id' when calling TeamsApi.teams_delete_run, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/v1/teams/runs/{runId}'.sub('{runId}', CGI.escape(run_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PrefsDelete200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['gatewayToken']

      new_options = opts.merge(
        :operation => :"TeamsApi.teams_delete_run",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TeamsApi#teams_delete_run\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # One run, optionally with its events.
    # @param run_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :events 
    # @return [InlineObject]
    def teams_get_run(run_id, opts = {})
      data, _status_code, _headers = teams_get_run_with_http_info(run_id, opts)
      data
    end

    # One run, optionally with its events.
    # @param run_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :events 
    # @return [Array<(InlineObject, Integer, Hash)>] InlineObject data, response status code and response headers
    def teams_get_run_with_http_info(run_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TeamsApi.teams_get_run ...'
      end
      # verify the required parameter 'run_id' is set
      if @api_client.config.client_side_validation && run_id.nil?
        fail ArgumentError, "Missing the required parameter 'run_id' when calling TeamsApi.teams_get_run"
      end
      pattern = Regexp.new(/^[a-zA-Z0-9_-]{4,64}$/)
      if @api_client.config.client_side_validation && run_id !~ pattern
        fail ArgumentError, "invalid value for 'run_id' when calling TeamsApi.teams_get_run, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/v1/teams/runs/{runId}'.sub('{runId}', CGI.escape(run_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'events'] = opts[:'events'] if !opts[:'events'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'InlineObject'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['gatewayToken']

      new_options = opts.merge(
        :operation => :"TeamsApi.teams_get_run",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TeamsApi#teams_get_run\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Continue a task on another model.
    # @param run_id [String] 
    # @param teams_handoff_request [TeamsHandoffRequest] 
    # @param [Hash] opts the optional parameters
    # @return [InlineObject]
    def teams_handoff(run_id, teams_handoff_request, opts = {})
      data, _status_code, _headers = teams_handoff_with_http_info(run_id, teams_handoff_request, opts)
      data
    end

    # Continue a task on another model.
    # @param run_id [String] 
    # @param teams_handoff_request [TeamsHandoffRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(InlineObject, Integer, Hash)>] InlineObject data, response status code and response headers
    def teams_handoff_with_http_info(run_id, teams_handoff_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TeamsApi.teams_handoff ...'
      end
      # verify the required parameter 'run_id' is set
      if @api_client.config.client_side_validation && run_id.nil?
        fail ArgumentError, "Missing the required parameter 'run_id' when calling TeamsApi.teams_handoff"
      end
      pattern = Regexp.new(/^[a-zA-Z0-9_-]{4,64}$/)
      if @api_client.config.client_side_validation && run_id !~ pattern
        fail ArgumentError, "invalid value for 'run_id' when calling TeamsApi.teams_handoff, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'teams_handoff_request' is set
      if @api_client.config.client_side_validation && teams_handoff_request.nil?
        fail ArgumentError, "Missing the required parameter 'teams_handoff_request' when calling TeamsApi.teams_handoff"
      end
      # resource path
      local_var_path = '/v1/teams/runs/{runId}/handoff'.sub('{runId}', CGI.escape(run_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(teams_handoff_request)

      # return_type
      return_type = opts[:debug_return_type] || 'InlineObject'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['gatewayToken']

      new_options = opts.merge(
        :operation => :"TeamsApi.teams_handoff",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TeamsApi#teams_handoff\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # The board — recent runs, newest first.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit  (default to 50)
    # @option opts [String] :team 
    # @return [TeamsListRuns200Response]
    def teams_list_runs(opts = {})
      data, _status_code, _headers = teams_list_runs_with_http_info(opts)
      data
    end

    # The board — recent runs, newest first.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit  (default to 50)
    # @option opts [String] :team 
    # @return [Array<(TeamsListRuns200Response, Integer, Hash)>] TeamsListRuns200Response data, response status code and response headers
    def teams_list_runs_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TeamsApi.teams_list_runs ...'
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling TeamsApi.teams_list_runs, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/teams/runs'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'team'] = opts[:'team'] if !opts[:'team'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TeamsListRuns200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['gatewayToken']

      new_options = opts.merge(
        :operation => :"TeamsApi.teams_list_runs",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TeamsApi#teams_list_runs\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Post a note to a thread.
    # @param run_id [String] 
    # @param teams_post_request [TeamsPostRequest] 
    # @param [Hash] opts the optional parameters
    # @return [InlineObject]
    def teams_post(run_id, teams_post_request, opts = {})
      data, _status_code, _headers = teams_post_with_http_info(run_id, teams_post_request, opts)
      data
    end

    # Post a note to a thread.
    # @param run_id [String] 
    # @param teams_post_request [TeamsPostRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(InlineObject, Integer, Hash)>] InlineObject data, response status code and response headers
    def teams_post_with_http_info(run_id, teams_post_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TeamsApi.teams_post ...'
      end
      # verify the required parameter 'run_id' is set
      if @api_client.config.client_side_validation && run_id.nil?
        fail ArgumentError, "Missing the required parameter 'run_id' when calling TeamsApi.teams_post"
      end
      pattern = Regexp.new(/^[a-zA-Z0-9_-]{4,64}$/)
      if @api_client.config.client_side_validation && run_id !~ pattern
        fail ArgumentError, "invalid value for 'run_id' when calling TeamsApi.teams_post, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'teams_post_request' is set
      if @api_client.config.client_side_validation && teams_post_request.nil?
        fail ArgumentError, "Missing the required parameter 'teams_post_request' when calling TeamsApi.teams_post"
      end
      # resource path
      local_var_path = '/v1/teams/runs/{runId}/post'.sub('{runId}', CGI.escape(run_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(teams_post_request)

      # return_type
      return_type = opts[:debug_return_type] || 'InlineObject'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['gatewayToken']

      new_options = opts.merge(
        :operation => :"TeamsApi.teams_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TeamsApi#teams_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # A person removes a thread from the board.
    # @param run_id [String] 
    # @param thread_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [InlineObject]
    def teams_remove_thread(run_id, thread_id, opts = {})
      data, _status_code, _headers = teams_remove_thread_with_http_info(run_id, thread_id, opts)
      data
    end

    # A person removes a thread from the board.
    # @param run_id [String] 
    # @param thread_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(InlineObject, Integer, Hash)>] InlineObject data, response status code and response headers
    def teams_remove_thread_with_http_info(run_id, thread_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TeamsApi.teams_remove_thread ...'
      end
      # verify the required parameter 'run_id' is set
      if @api_client.config.client_side_validation && run_id.nil?
        fail ArgumentError, "Missing the required parameter 'run_id' when calling TeamsApi.teams_remove_thread"
      end
      pattern = Regexp.new(/^[a-zA-Z0-9_-]{4,64}$/)
      if @api_client.config.client_side_validation && run_id !~ pattern
        fail ArgumentError, "invalid value for 'run_id' when calling TeamsApi.teams_remove_thread, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'thread_id' is set
      if @api_client.config.client_side_validation && thread_id.nil?
        fail ArgumentError, "Missing the required parameter 'thread_id' when calling TeamsApi.teams_remove_thread"
      end
      pattern = Regexp.new(/^[a-zA-Z0-9_:-]{1,80}$/)
      if @api_client.config.client_side_validation && thread_id !~ pattern
        fail ArgumentError, "invalid value for 'thread_id' when calling TeamsApi.teams_remove_thread, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/v1/teams/runs/{runId}/threads/{threadId}'.sub('{runId}', CGI.escape(run_id.to_s)).sub('{threadId}', CGI.escape(thread_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'InlineObject'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['gatewayToken']

      new_options = opts.merge(
        :operation => :"TeamsApi.teams_remove_thread",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TeamsApi#teams_remove_thread\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Tail a run — the record first, replay from `after`, then live.
    # @param run_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :after Replay events with seq greater than this; absent means from the start.
    # @return [String]
    def teams_run_events(run_id, opts = {})
      data, _status_code, _headers = teams_run_events_with_http_info(run_id, opts)
      data
    end

    # Tail a run — the record first, replay from &#x60;after&#x60;, then live.
    # @param run_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :after Replay events with seq greater than this; absent means from the start.
    # @return [Array<(String, Integer, Hash)>] String data, response status code and response headers
    def teams_run_events_with_http_info(run_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TeamsApi.teams_run_events ...'
      end
      # verify the required parameter 'run_id' is set
      if @api_client.config.client_side_validation && run_id.nil?
        fail ArgumentError, "Missing the required parameter 'run_id' when calling TeamsApi.teams_run_events"
      end
      pattern = Regexp.new(/^[a-zA-Z0-9_-]{4,64}$/)
      if @api_client.config.client_side_validation && run_id !~ pattern
        fail ArgumentError, "invalid value for 'run_id' when calling TeamsApi.teams_run_events, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/v1/teams/runs/{runId}/events'.sub('{runId}', CGI.escape(run_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'after'] = opts[:'after'] if !opts[:'after'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/event-stream', 'application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'String'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['gatewayToken']

      new_options = opts.merge(
        :operation => :"TeamsApi.teams_run_events",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TeamsApi#teams_run_events\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Ask the running client to stop.
    # @param run_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [InlineObject]
    def teams_stop_run(run_id, opts = {})
      data, _status_code, _headers = teams_stop_run_with_http_info(run_id, opts)
      data
    end

    # Ask the running client to stop.
    # @param run_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(InlineObject, Integer, Hash)>] InlineObject data, response status code and response headers
    def teams_stop_run_with_http_info(run_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TeamsApi.teams_stop_run ...'
      end
      # verify the required parameter 'run_id' is set
      if @api_client.config.client_side_validation && run_id.nil?
        fail ArgumentError, "Missing the required parameter 'run_id' when calling TeamsApi.teams_stop_run"
      end
      pattern = Regexp.new(/^[a-zA-Z0-9_-]{4,64}$/)
      if @api_client.config.client_side_validation && run_id !~ pattern
        fail ArgumentError, "invalid value for 'run_id' when calling TeamsApi.teams_stop_run, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/v1/teams/runs/{runId}/stop'.sub('{runId}', CGI.escape(run_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'InlineObject'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['gatewayToken']

      new_options = opts.merge(
        :operation => :"TeamsApi.teams_stop_run",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TeamsApi#teams_stop_run\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
