=begin
#ChatPanel Gateway API

#The ChatPanel gateway runs on the user's machine (loopback only, port 4320 by default). It redacts personal data before a model sees it, routes model traffic, and holds the user's searchable history, durable memory, shared preferences and the team/project run boards.  **It only answers on loopback.** A client on another host cannot reach it; an SDK refuses a non-loopback base URL unless the integrator opts in and uses TLS.  **Two trust levels.** The `/v1` data plane is open to any local process — that is the product. Writes that change what every client sees (remember, forget, ingest) and anything admin-shaped require the per-install token the gateway writes to `~/.chatpanel/gateway-token` (mode 0600), or a copy obtained by pairing (`POST /pair` with a one-time code from `chatpanel-gateway pair`). `POST /whoami` says which trust you have.  **Errors** are `{ error: { message, type } }` (or `{ error: \"text\" }` on the oldest routes) with the HTTP status. `type` is a stable machine word: `not_found`, `invalid_request`, `unknown_endpoint`, `unavailable`, `bridge_unreachable`, `no_bridge`, `redact_error`, `search_error`, `memory_error`, `team_error`, `ingest_error`, `prefs_error`. 

The version of the OpenAPI document: 0.42.0

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module ChatPanel
  class ThreadsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Ask one of the person's chats and get its answer; the exchange is added to that chat.
    # The chat's own model or coding agent answers, in that chat (its agent session is resumed), and the question — framed with who asked — and the answer are appended to it. A caller acting for an agent should ask the person first; `dryRun` returns the chat's title and model for that question without running anything.
    # @param threads_send_request [ThreadsSendRequest] 
    # @param [Hash] opts the optional parameters
    # @return [ThreadsSend200Response]
    def threads_send(threads_send_request, opts = {})
      data, _status_code, _headers = threads_send_with_http_info(threads_send_request, opts)
      data
    end

    # Ask one of the person&#39;s chats and get its answer; the exchange is added to that chat.
    # The chat&#39;s own model or coding agent answers, in that chat (its agent session is resumed), and the question — framed with who asked — and the answer are appended to it. A caller acting for an agent should ask the person first; &#x60;dryRun&#x60; returns the chat&#39;s title and model for that question without running anything.
    # @param threads_send_request [ThreadsSendRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ThreadsSend200Response, Integer, Hash)>] ThreadsSend200Response data, response status code and response headers
    def threads_send_with_http_info(threads_send_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ThreadsApi.threads_send ...'
      end
      # verify the required parameter 'threads_send_request' is set
      if @api_client.config.client_side_validation && threads_send_request.nil?
        fail ArgumentError, "Missing the required parameter 'threads_send_request' when calling ThreadsApi.threads_send"
      end
      # resource path
      local_var_path = '/v1/threads/send'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(threads_send_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ThreadsSend200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenHeader', 'gatewayToken']

      new_options = opts.merge(
        :operation => :"ThreadsApi.threads_send",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ThreadsApi#threads_send\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
