/*
ChatPanel Gateway API

The ChatPanel gateway runs on the user's machine (loopback only, port 4320 by default). It redacts personal data before a model sees it, routes model traffic, and holds the user's searchable history, durable memory, shared preferences and the team/project run boards.  **It only answers on loopback.** A client on another host cannot reach it; an SDK refuses a non-loopback base URL unless the integrator opts in and uses TLS.  **Two trust levels.** The `/v1` data plane is open to any local process — that is the product. Writes that change what every client sees (remember, forget, ingest) and anything admin-shaped require the per-install token the gateway writes to `~/.chatpanel/gateway-token` (mode 0600), or a copy obtained by pairing (`POST /pair` with a one-time code from `chatpanel-gateway pair`). `POST /whoami` says which trust you have.  **Errors** are `{ error: { message, type } }` (or `{ error: \"text\" }` on the oldest routes) with the HTTP status. `type` is a stable machine word: `not_found`, `invalid_request`, `unknown_endpoint`, `unavailable`, `bridge_unreachable`, `no_bridge`, `redact_error`, `search_error`, `memory_error`, `team_error`, `ingest_error`, `prefs_error`. 

API version: 0.25.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package chatpanel

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


type ChatAPI interface {

	/*
	ChatCompletions One chat turn through the gateway (OpenAI-compatible).

	Redacted on the way out, restored on the way back, routed by `model`. With `stream: true`
the response is `text/event-stream` of OpenAI chunk objects ending in `data: [DONE]`.
Send `tools` so a redacted turn can still act: the gateway relays a tool call back with
real arguments and redacts the result. `X-ChatPanel-Redaction: off` is honoured only from
a token-bearing caller (0.6.69+) and is recorded in the trace.

**Permission prompts (gateway 0.25.0+).** List a function tool named `permission_prompt`
to say your client can answer an agent's "may I run this?" — the gateway strips it from
what the agent sees and lets the agent ask instead of denying headlessly. The question
arrives as a `tool_calls` stop on that tool, its arguments `{ tool, input, description,
path, rules }`; answer with a `tool` message whose content is the JSON
`{ "behavior": "allow" | "deny", "scope": "once" | "chat", "message"?: string }`.
Anything else is a deny.

**Two lanes.** An API destination (a cloud or local model endpoint) is a proxy hop and is
open to any local caller. An AGENT destination (`codex`, `claude`, `opencode`, … —
`provider_type: agent` in `GET /v1/models`) spawns a process on this machine, so the
caller must hold the gateway token (0.9.0+): without it the gateway answers **401**
`{ type: 'auth', code: 'agent_lane_token_required' }`. The SDKs surface that as
`ForbiddenError` with `status` 401.


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiChatCompletionsRequest
	*/
	ChatCompletions(ctx context.Context) ApiChatCompletionsRequest

	// ChatCompletionsExecute executes the request
	//  @return ChatCompletion
	ChatCompletionsExecute(r ApiChatCompletionsRequest) (*ChatCompletion, *http.Response, error)
}

// ChatAPIService ChatAPI service
type ChatAPIService service

type ApiChatCompletionsRequest struct {
	ctx context.Context
	ApiService ChatAPI
	chatCompletionRequest *ChatCompletionRequest
	xChatPanelRedaction *string
	xChatPanelRun *string
}

func (r ApiChatCompletionsRequest) ChatCompletionRequest(chatCompletionRequest ChatCompletionRequest) ApiChatCompletionsRequest {
	r.chatCompletionRequest = &chatCompletionRequest
	return r
}

// Turn redaction off for this turn — honoured only from a token-bearing caller (0.6.69+), recorded in the trace.
func (r ApiChatCompletionsRequest) XChatPanelRedaction(xChatPanelRedaction string) ApiChatCompletionsRequest {
	r.xChatPanelRedaction = &xChatPanelRedaction
	return r
}

// A team role&#39;s run context (URL-encoded JSON) for the bridge (0.6.89+). Never a token.
func (r ApiChatCompletionsRequest) XChatPanelRun(xChatPanelRun string) ApiChatCompletionsRequest {
	r.xChatPanelRun = &xChatPanelRun
	return r
}

func (r ApiChatCompletionsRequest) Execute() (*ChatCompletion, *http.Response, error) {
	return r.ApiService.ChatCompletionsExecute(r)
}

/*
ChatCompletions One chat turn through the gateway (OpenAI-compatible).

Redacted on the way out, restored on the way back, routed by `model`. With `stream: true`
the response is `text/event-stream` of OpenAI chunk objects ending in `data: [DONE]`.
Send `tools` so a redacted turn can still act: the gateway relays a tool call back with
real arguments and redacts the result. `X-ChatPanel-Redaction: off` is honoured only from
a token-bearing caller (0.6.69+) and is recorded in the trace.

**Permission prompts (gateway 0.25.0+).** List a function tool named `permission_prompt`
to say your client can answer an agent's "may I run this?" — the gateway strips it from
what the agent sees and lets the agent ask instead of denying headlessly. The question
arrives as a `tool_calls` stop on that tool, its arguments `{ tool, input, description,
path, rules }`; answer with a `tool` message whose content is the JSON
`{ "behavior": "allow" | "deny", "scope": "once" | "chat", "message"?: string }`.
Anything else is a deny.

**Two lanes.** An API destination (a cloud or local model endpoint) is a proxy hop and is
open to any local caller. An AGENT destination (`codex`, `claude`, `opencode`, … —
`provider_type: agent` in `GET /v1/models`) spawns a process on this machine, so the
caller must hold the gateway token (0.9.0+): without it the gateway answers **401**
`{ type: 'auth', code: 'agent_lane_token_required' }`. The SDKs surface that as
`ForbiddenError` with `status` 401.


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiChatCompletionsRequest
*/
func (a *ChatAPIService) ChatCompletions(ctx context.Context) ApiChatCompletionsRequest {
	return ApiChatCompletionsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ChatCompletion
func (a *ChatAPIService) ChatCompletionsExecute(r ApiChatCompletionsRequest) (*ChatCompletion, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ChatCompletion
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ChatAPIService.ChatCompletions")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/chat/completions"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.chatCompletionRequest == nil {
		return localVarReturnValue, nil, reportError("chatCompletionRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "text/event-stream"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xChatPanelRedaction != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-ChatPanel-Redaction", r.xChatPanelRedaction, "simple", "")
	}
	if r.xChatPanelRun != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-ChatPanel-Run", r.xChatPanelRun, "simple", "")
	}
	// body params
	localVarPostBody = r.chatCompletionRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode >= 400 && localVarHTTPResponse.StatusCode < 500 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode >= 500 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
