/*
ChatPanel Gateway API

The ChatPanel gateway runs on the user's machine (loopback only, port 4320 by default). It redacts personal data before a model sees it, routes model traffic, and holds the user's searchable history, durable memory, shared preferences and the team/project run boards.  **It only answers on loopback.** A client on another host cannot reach it; an SDK refuses a non-loopback base URL unless the integrator opts in and uses TLS.  **Two trust levels.** The `/v1` data plane is open to any local process — that is the product. Writes that change what every client sees (remember, forget, ingest) and anything admin-shaped require the per-install token the gateway writes to `~/.chatpanel/gateway-token` (mode 0600), or a copy obtained by pairing (`POST /pair` with a one-time code from `chatpanel-gateway pair`). `POST /whoami` says which trust you have.  **Errors** are `{ error: { message, type } }` (or `{ error: \"text\" }` on the oldest routes) with the HTTP status. `type` is a stable machine word: `not_found`, `invalid_request`, `unknown_endpoint`, `unavailable`, `bridge_unreachable`, `no_bridge`, `redact_error`, `search_error`, `memory_error`, `team_error`, `ingest_error`, `prefs_error`. 

API version: 0.22.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package chatpanel

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


type RuntimeAPI interface {

	/*
	RuntimeEngine Start the container engine (Podman — creates and starts its machine where one is needed).

	`{ action: 'start' }`. Podman on macOS and Windows runs containers in a machine: made
on first start (`podman machine init`), then started. Linux Podman is rootless and
needs nothing. Docker is not started by the gateway — the response says so.


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param name
	@return ApiRuntimeEngineRequest
	*/
	RuntimeEngine(ctx context.Context, name string) ApiRuntimeEngineRequest

	// RuntimeEngineExecute executes the request
	//  @return RuntimeActionResult
	RuntimeEngineExecute(r ApiRuntimeEngineRequest) (*RuntimeActionResult, *http.Response, error)

	/*
	RuntimeService Start or stop a catalogue service, or pick a capability container's model — each runs loopback-only and the gateway points at it.

	`{ action: 'start' | 'stop' }`. `start` brings the engine up if it is not, runs the
service's container from its kit (SearXNG: `127.0.0.1:8888`, JSON on, the limiter off,
a random secret, capabilities dropped; `reranker` on 8889 and `opendecision` on 8890
with the shared model cache mounted, gateway 0.20+) — the first start pulls the image
— waits for it to answer, and sets the config that points the gateway at it
(`search.searxng.url`; `capabilities.rerank` / `capabilities.decide`, so `/v1/rerank`
and `/v1/decide` are served and listed). `stop` stops the container and clears what it
set. `{ action: 'model', model }` (gateway 0.22+) picks the model a capability
container runs — an id from its catalogue (`GET /v1/runtime` `services.<id>.models`)
or a Hugging Face `owner/name` — gated by the container ENGINE's memory (a model it
cannot hold is refused with the command that raises the ceiling); the container is
re-created with the pick and restarted when it ran.


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id
	@return ApiRuntimeServiceRequest
	*/
	RuntimeService(ctx context.Context, id string) ApiRuntimeServiceRequest

	// RuntimeServiceExecute executes the request
	//  @return RuntimeActionResult
	RuntimeServiceExecute(r ApiRuntimeServiceRequest) (*RuntimeActionResult, *http.Response, error)

	/*
	RuntimeStatus The runtime — the process sandbox, what is running now, the container engine, the services.

	One document for Settings › Runtime. `sandbox` is the bridge's own (`/health.sandbox`:
enabled, mode `open` | `allowlist` | `none`, the runtime found, the reason when none,
the global `extras`, whether a process can get a session of its own, and `refused` —
the last hosts any process was refused, names only). `processes` lists every local
MCP server running for the user with its sandbox record and the hosts it was refused,
and the warm agent processes. `engines` says which container engine exists (`podman`
first, `docker`) and whether it can run a container now; when none does, `install`
carries the command for this platform — shown to the person, never run by the gateway.
`services` is the catalogue: `searxng` with its state (`no-engine` | `engine-stopped`
| `absent` | `stopped` | `running`), its loopback URL and whether it answers.


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiRuntimeStatusRequest
	*/
	RuntimeStatus(ctx context.Context) ApiRuntimeStatusRequest

	// RuntimeStatusExecute executes the request
	//  @return RuntimeDocument
	RuntimeStatusExecute(r ApiRuntimeStatusRequest) (*RuntimeDocument, *http.Response, error)
}

// RuntimeAPIService RuntimeAPI service
type RuntimeAPIService service

type ApiRuntimeEngineRequest struct {
	ctx context.Context
	ApiService RuntimeAPI
	name string
	runtimeEngineRequest *RuntimeEngineRequest
}

func (r ApiRuntimeEngineRequest) RuntimeEngineRequest(runtimeEngineRequest RuntimeEngineRequest) ApiRuntimeEngineRequest {
	r.runtimeEngineRequest = &runtimeEngineRequest
	return r
}

func (r ApiRuntimeEngineRequest) Execute() (*RuntimeActionResult, *http.Response, error) {
	return r.ApiService.RuntimeEngineExecute(r)
}

/*
RuntimeEngine Start the container engine (Podman — creates and starts its machine where one is needed).

`{ action: 'start' }`. Podman on macOS and Windows runs containers in a machine: made
on first start (`podman machine init`), then started. Linux Podman is rootless and
needs nothing. Docker is not started by the gateway — the response says so.


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param name
 @return ApiRuntimeEngineRequest
*/
func (a *RuntimeAPIService) RuntimeEngine(ctx context.Context, name string) ApiRuntimeEngineRequest {
	return ApiRuntimeEngineRequest{
		ApiService: a,
		ctx: ctx,
		name: name,
	}
}

// Execute executes the request
//  @return RuntimeActionResult
func (a *RuntimeAPIService) RuntimeEngineExecute(r ApiRuntimeEngineRequest) (*RuntimeActionResult, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *RuntimeActionResult
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RuntimeAPIService.RuntimeEngine")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/runtime/engines/{name}"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterValueToString(r.name, "name")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.name) > 16 {
		return localVarReturnValue, nil, reportError("name must have less than 16 elements")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.runtimeEngineRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["tokenHeader"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-ChatPanel-Token"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v RuntimeActionResult
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiRuntimeServiceRequest struct {
	ctx context.Context
	ApiService RuntimeAPI
	id string
	runtimeServiceRequest *RuntimeServiceRequest
}

func (r ApiRuntimeServiceRequest) RuntimeServiceRequest(runtimeServiceRequest RuntimeServiceRequest) ApiRuntimeServiceRequest {
	r.runtimeServiceRequest = &runtimeServiceRequest
	return r
}

func (r ApiRuntimeServiceRequest) Execute() (*RuntimeActionResult, *http.Response, error) {
	return r.ApiService.RuntimeServiceExecute(r)
}

/*
RuntimeService Start or stop a catalogue service, or pick a capability container's model — each runs loopback-only and the gateway points at it.

`{ action: 'start' | 'stop' }`. `start` brings the engine up if it is not, runs the
service's container from its kit (SearXNG: `127.0.0.1:8888`, JSON on, the limiter off,
a random secret, capabilities dropped; `reranker` on 8889 and `opendecision` on 8890
with the shared model cache mounted, gateway 0.20+) — the first start pulls the image
— waits for it to answer, and sets the config that points the gateway at it
(`search.searxng.url`; `capabilities.rerank` / `capabilities.decide`, so `/v1/rerank`
and `/v1/decide` are served and listed). `stop` stops the container and clears what it
set. `{ action: 'model', model }` (gateway 0.22+) picks the model a capability
container runs — an id from its catalogue (`GET /v1/runtime` `services.<id>.models`)
or a Hugging Face `owner/name` — gated by the container ENGINE's memory (a model it
cannot hold is refused with the command that raises the ceiling); the container is
re-created with the pick and restarted when it ran.


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return ApiRuntimeServiceRequest
*/
func (a *RuntimeAPIService) RuntimeService(ctx context.Context, id string) ApiRuntimeServiceRequest {
	return ApiRuntimeServiceRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return RuntimeActionResult
func (a *RuntimeAPIService) RuntimeServiceExecute(r ApiRuntimeServiceRequest) (*RuntimeActionResult, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *RuntimeActionResult
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RuntimeAPIService.RuntimeService")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/runtime/services/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.id) > 32 {
		return localVarReturnValue, nil, reportError("id must have less than 32 elements")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.runtimeServiceRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["tokenHeader"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-ChatPanel-Token"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v RuntimeActionResult
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiRuntimeStatusRequest struct {
	ctx context.Context
	ApiService RuntimeAPI
}

func (r ApiRuntimeStatusRequest) Execute() (*RuntimeDocument, *http.Response, error) {
	return r.ApiService.RuntimeStatusExecute(r)
}

/*
RuntimeStatus The runtime — the process sandbox, what is running now, the container engine, the services.

One document for Settings › Runtime. `sandbox` is the bridge's own (`/health.sandbox`:
enabled, mode `open` | `allowlist` | `none`, the runtime found, the reason when none,
the global `extras`, whether a process can get a session of its own, and `refused` —
the last hosts any process was refused, names only). `processes` lists every local
MCP server running for the user with its sandbox record and the hosts it was refused,
and the warm agent processes. `engines` says which container engine exists (`podman`
first, `docker`) and whether it can run a container now; when none does, `install`
carries the command for this platform — shown to the person, never run by the gateway.
`services` is the catalogue: `searxng` with its state (`no-engine` | `engine-stopped`
| `absent` | `stopped` | `running`), its loopback URL and whether it answers.


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiRuntimeStatusRequest
*/
func (a *RuntimeAPIService) RuntimeStatus(ctx context.Context) ApiRuntimeStatusRequest {
	return ApiRuntimeStatusRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return RuntimeDocument
func (a *RuntimeAPIService) RuntimeStatusExecute(r ApiRuntimeStatusRequest) (*RuntimeDocument, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *RuntimeDocument
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RuntimeAPIService.RuntimeStatus")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/runtime"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
