/*
ChatPanel Gateway API

The ChatPanel gateway runs on the user's machine (loopback only, port 4320 by default). It redacts personal data before a model sees it, routes model traffic, and holds the user's searchable history, durable memory, shared preferences and the team/project run boards.  **It only answers on loopback.** A client on another host cannot reach it; an SDK refuses a non-loopback base URL unless the integrator opts in and uses TLS.  **Two trust levels.** The `/v1` data plane is open to any local process — that is the product. Writes that change what every client sees (remember, forget, ingest) and anything admin-shaped require the per-install token the gateway writes to `~/.chatpanel/gateway-token` (mode 0600), or a copy obtained by pairing (`POST /pair` with a one-time code from `chatpanel-gateway pair`). `POST /whoami` says which trust you have.  **Errors** are `{ error: { message, type } }` (or `{ error: \"text\" }` on the oldest routes) with the HTTP status. `type` is a stable machine word: `not_found`, `invalid_request`, `unknown_endpoint`, `unavailable`, `bridge_unreachable`, `no_bridge`, `redact_error`, `search_error`, `memory_error`, `team_error`, `ingest_error`, `prefs_error`. 

API version: 0.15.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package chatpanel

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


type EnginesAPI interface {

	/*
	EnginesAppendEntry Append a ledger entry for an engine.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param engineKey
	@return ApiEnginesAppendEntryRequest
	*/
	EnginesAppendEntry(ctx context.Context, engineKey string) ApiEnginesAppendEntryRequest

	// EnginesAppendEntryExecute executes the request
	//  @return map[string]interface{}
	EnginesAppendEntryExecute(r ApiEnginesAppendEntryRequest) (map[string]interface{}, *http.Response, error)

	/*
	EnginesCard One engine's card, optionally with entries.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param engineKey
	@return ApiEnginesCardRequest
	*/
	EnginesCard(ctx context.Context, engineKey string) ApiEnginesCardRequest

	// EnginesCardExecute executes the request
	//  @return map[string]interface{}
	EnginesCardExecute(r ApiEnginesCardRequest) (map[string]interface{}, *http.Response, error)

	/*
	EnginesList Every engine's card.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiEnginesListRequest
	*/
	EnginesList(ctx context.Context) ApiEnginesListRequest

	// EnginesListExecute executes the request
	//  @return EnginesList200Response
	EnginesListExecute(r ApiEnginesListRequest) (*EnginesList200Response, *http.Response, error)
}

// EnginesAPIService EnginesAPI service
type EnginesAPIService service

type ApiEnginesAppendEntryRequest struct {
	ctx context.Context
	ApiService EnginesAPI
	engineKey string
	requestBody *map[string]interface{}
}

func (r ApiEnginesAppendEntryRequest) RequestBody(requestBody map[string]interface{}) ApiEnginesAppendEntryRequest {
	r.requestBody = &requestBody
	return r
}

func (r ApiEnginesAppendEntryRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.EnginesAppendEntryExecute(r)
}

/*
EnginesAppendEntry Append a ledger entry for an engine.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param engineKey
 @return ApiEnginesAppendEntryRequest
*/
func (a *EnginesAPIService) EnginesAppendEntry(ctx context.Context, engineKey string) ApiEnginesAppendEntryRequest {
	return ApiEnginesAppendEntryRequest{
		ApiService: a,
		ctx: ctx,
		engineKey: engineKey,
	}
}

// Execute executes the request
//  @return map[string]interface{}
func (a *EnginesAPIService) EnginesAppendEntryExecute(r ApiEnginesAppendEntryRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EnginesAPIService.EnginesAppendEntry")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/engines/{engineKey}/entries"
	localVarPath = strings.Replace(localVarPath, "{"+"engineKey"+"}", url.PathEscape(parameterValueToString(r.engineKey, "engineKey")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.engineKey) > 300 {
		return localVarReturnValue, nil, reportError("engineKey must have less than 300 elements")
	}
	if r.requestBody == nil {
		return localVarReturnValue, nil, reportError("requestBody is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.requestBody
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiEnginesCardRequest struct {
	ctx context.Context
	ApiService EnginesAPI
	engineKey string
	entries *bool
	minCalls *int32
}

func (r ApiEnginesCardRequest) Entries(entries bool) ApiEnginesCardRequest {
	r.entries = &entries
	return r
}

func (r ApiEnginesCardRequest) MinCalls(minCalls int32) ApiEnginesCardRequest {
	r.minCalls = &minCalls
	return r
}

func (r ApiEnginesCardRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.EnginesCardExecute(r)
}

/*
EnginesCard One engine's card, optionally with entries.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param engineKey
 @return ApiEnginesCardRequest
*/
func (a *EnginesAPIService) EnginesCard(ctx context.Context, engineKey string) ApiEnginesCardRequest {
	return ApiEnginesCardRequest{
		ApiService: a,
		ctx: ctx,
		engineKey: engineKey,
	}
}

// Execute executes the request
//  @return map[string]interface{}
func (a *EnginesAPIService) EnginesCardExecute(r ApiEnginesCardRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EnginesAPIService.EnginesCard")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/engines/{engineKey}/card"
	localVarPath = strings.Replace(localVarPath, "{"+"engineKey"+"}", url.PathEscape(parameterValueToString(r.engineKey, "engineKey")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.engineKey) > 300 {
		return localVarReturnValue, nil, reportError("engineKey must have less than 300 elements")
	}

	if r.entries != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "entries", r.entries, "form", "")
	}
	if r.minCalls != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "minCalls", r.minCalls, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiEnginesListRequest struct {
	ctx context.Context
	ApiService EnginesAPI
	minCalls *int32
}

func (r ApiEnginesListRequest) MinCalls(minCalls int32) ApiEnginesListRequest {
	r.minCalls = &minCalls
	return r
}

func (r ApiEnginesListRequest) Execute() (*EnginesList200Response, *http.Response, error) {
	return r.ApiService.EnginesListExecute(r)
}

/*
EnginesList Every engine's card.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiEnginesListRequest
*/
func (a *EnginesAPIService) EnginesList(ctx context.Context) ApiEnginesListRequest {
	return ApiEnginesListRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return EnginesList200Response
func (a *EnginesAPIService) EnginesListExecute(r ApiEnginesListRequest) (*EnginesList200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *EnginesList200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EnginesAPIService.EnginesList")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/engines"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.minCalls != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "minCalls", r.minCalls, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
