/*
ChatPanel Gateway API

The ChatPanel gateway runs on the user's machine (loopback only, port 4320 by default). It redacts personal data before a model sees it, routes model traffic, and holds the user's searchable history, durable memory, shared preferences and the team/project run boards.  **It only answers on loopback.** A client on another host cannot reach it; an SDK refuses a non-loopback base URL unless the integrator opts in and uses TLS.  **Two trust levels.** The `/v1` data plane is open to any local process — that is the product. Writes that change what every client sees (remember, forget, ingest) and anything admin-shaped require the per-install token the gateway writes to `~/.chatpanel/gateway-token` (mode 0600), or a copy obtained by pairing (`POST /pair` with a one-time code from `chatpanel-gateway pair`). `POST /whoami` says which trust you have.  **Errors** are `{ error: { message, type } }` (or `{ error: \"text\" }` on the oldest routes) with the HTTP status. `type` is a stable machine word: `not_found`, `invalid_request`, `unknown_endpoint`, `unavailable`, `bridge_unreachable`, `no_bridge`, `redact_error`, `search_error`, `memory_error`, `team_error`, `ingest_error`, `prefs_error`. 

API version: 0.15.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package chatpanel

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


type CapabilitiesAPI interface {

	/*
	CapabilitiesDetect Find entities in text — the model's own labels, with offsets and scores.

	The standard `detect` signature over the in-process entity detector. Labels are the
model's own (`private_person`, `PER`, `GIVENNAME`…) — the client maps them; the
vocabulary is listed by `GET /v1/capabilities`. `budgetMs` is refused (503
`over_budget`) from the provider's own latency record before the model runs, never
missed. An engine that is still loading answers 503 `detector_unready`; an empty
`entities` on 200 means the model found nothing. Raw text reaches the model here and
nowhere else — this route is loopback-only like the rest of the gateway.


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiCapabilitiesDetectRequest
	*/
	CapabilitiesDetect(ctx context.Context) ApiCapabilitiesDetectRequest

	// CapabilitiesDetectExecute executes the request
	//  @return DetectResponse
	CapabilitiesDetectExecute(r ApiCapabilitiesDetectRequest) (*DetectResponse, *http.Response, error)

	/*
	CapabilitiesList What this provider can do — which capabilities, models, measured cost and runtime state.

	The discovery document a client chooses a provider from: one entry per capability
(`detect`, `stt`, `tts` today; `decide`, `rerank`, `embed` as they land), each at its
standard route, with the models it can serve, the loaded model's own label vocabulary
(`detect`), the measured latency record, and the runtime's state. Never loads a model.


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiCapabilitiesListRequest
	*/
	CapabilitiesList(ctx context.Context) ApiCapabilitiesListRequest

	// CapabilitiesListExecute executes the request
	//  @return CapabilitiesDocument
	CapabilitiesListExecute(r ApiCapabilitiesListRequest) (*CapabilitiesDocument, *http.Response, error)
}

// CapabilitiesAPIService CapabilitiesAPI service
type CapabilitiesAPIService service

type ApiCapabilitiesDetectRequest struct {
	ctx context.Context
	ApiService CapabilitiesAPI
	detectRequest *DetectRequest
}

func (r ApiCapabilitiesDetectRequest) DetectRequest(detectRequest DetectRequest) ApiCapabilitiesDetectRequest {
	r.detectRequest = &detectRequest
	return r
}

func (r ApiCapabilitiesDetectRequest) Execute() (*DetectResponse, *http.Response, error) {
	return r.ApiService.CapabilitiesDetectExecute(r)
}

/*
CapabilitiesDetect Find entities in text — the model's own labels, with offsets and scores.

The standard `detect` signature over the in-process entity detector. Labels are the
model's own (`private_person`, `PER`, `GIVENNAME`…) — the client maps them; the
vocabulary is listed by `GET /v1/capabilities`. `budgetMs` is refused (503
`over_budget`) from the provider's own latency record before the model runs, never
missed. An engine that is still loading answers 503 `detector_unready`; an empty
`entities` on 200 means the model found nothing. Raw text reaches the model here and
nowhere else — this route is loopback-only like the rest of the gateway.


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCapabilitiesDetectRequest
*/
func (a *CapabilitiesAPIService) CapabilitiesDetect(ctx context.Context) ApiCapabilitiesDetectRequest {
	return ApiCapabilitiesDetectRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return DetectResponse
func (a *CapabilitiesAPIService) CapabilitiesDetectExecute(r ApiCapabilitiesDetectRequest) (*DetectResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *DetectResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CapabilitiesAPIService.CapabilitiesDetect")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/detect"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.detectRequest == nil {
		return localVarReturnValue, nil, reportError("detectRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.detectRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 503 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCapabilitiesListRequest struct {
	ctx context.Context
	ApiService CapabilitiesAPI
}

func (r ApiCapabilitiesListRequest) Execute() (*CapabilitiesDocument, *http.Response, error) {
	return r.ApiService.CapabilitiesListExecute(r)
}

/*
CapabilitiesList What this provider can do — which capabilities, models, measured cost and runtime state.

The discovery document a client chooses a provider from: one entry per capability
(`detect`, `stt`, `tts` today; `decide`, `rerank`, `embed` as they land), each at its
standard route, with the models it can serve, the loaded model's own label vocabulary
(`detect`), the measured latency record, and the runtime's state. Never loads a model.


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCapabilitiesListRequest
*/
func (a *CapabilitiesAPIService) CapabilitiesList(ctx context.Context) ApiCapabilitiesListRequest {
	return ApiCapabilitiesListRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CapabilitiesDocument
func (a *CapabilitiesAPIService) CapabilitiesListExecute(r ApiCapabilitiesListRequest) (*CapabilitiesDocument, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CapabilitiesDocument
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CapabilitiesAPIService.CapabilitiesList")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/capabilities"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
